<template>
  <div class="base-box">
    <div class="base-chat-small" v-show="!isShow" @click="isShow = true" :style="{ bottom: bottom+'px', left: (position === 'left' ? padding+'px' : null), right: (position === 'right' ? padding+'px' : null) }"></div>

    <div class="base-chat" v-show="isShow" :style="{ bottom: bottom+'px', left: (position === 'left' ? padding+'px' : null), right: (position === 'right' ? padding+'px' : null) }">
      <div class="base-chat-top">
        <div class="titleFlex">
          <img :src="imgUrl" v-if="imgUrl" class="avatar" />
          <div class="title">{{title}}</div>
        </div>
        <div class="base-chat-top-mini-b"  @click="isShow = false">
          <div class="base-chat-top-mini"></div>
        </div>
      </div>
      <div class="base-chat-content">
        <div class="base-chat-content-time">Chat started: 11:33 am</div>
        <div class="base-chat-content-item">
          <div>Hi, How can I help you today?</div>
        </div>
        <div class="base-chat-content-item base-chat-content-item-right">
          <div>Hi, I’m interested in renting a house. can you help me with that?</div>
        </div>
        <div class="base-chat-content-item">
          <div>Hello there!</div>
        </div>
      </div>
      <div class="base-chat-input">
        <div class="base-chat-input-area">
          <div class="base-chat-input-el">Send a message…</div>
          <div class="base-chat-input-oper">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
              <path d="M5.07993 5.07991V4.57991C4.80379 4.57991 4.57993 4.80377 4.57993 5.07991H5.07993ZM5.14368 5.07991H5.64368C5.64368 4.80377 5.41982 4.57991 5.14368 4.57991V5.07991ZM8.91993 5.07991V4.57991C8.6438 4.57991 8.41993 4.80377 8.41993 5.07991H8.91993ZM8.9766 5.07991H9.4766C9.4766 4.80377 9.25273 4.57991 8.9766 4.57991V5.07991ZM5.14368 5.13117V5.63117C5.41982 5.63117 5.64368 5.40731 5.64368 5.13117H5.14368ZM5.07993 5.13117H4.57993C4.57993 5.40731 4.80379 5.63117 5.07993 5.63117V5.13117ZM8.9766 5.13117V5.63117C9.25273 5.63117 9.4766 5.40731 9.4766 5.13117H8.9766ZM8.91993 5.13117H8.41993C8.41993 5.40731 8.6438 5.63117 8.91993 5.63117V5.13117ZM5.20637 8.68285C5.06103 8.44805 4.75287 8.37551 4.51807 8.52085C4.28327 8.66625 4.21075 8.97438 4.35609 9.20918L5.20637 8.68285ZM9.6438 9.20918C9.78913 8.97438 9.7166 8.66625 9.4818 8.52085C9.247 8.37551 8.9388 8.44805 8.79346 8.68285L9.6438 9.20918ZM12.8999 6.99992C12.8999 10.2584 10.2584 12.8999 6.99993 12.8999V13.8999C10.8107 13.8999 13.8999 10.8106 13.8999 6.99992H12.8999ZM6.99993 12.8999C3.74145 12.8999 1.09993 10.2584 1.09993 6.99992H0.0999298C0.0999298 10.8106 3.18916 13.8999 6.99993 13.8999V12.8999ZM1.09993 6.99992C1.09993 3.74143 3.74145 1.09991 6.99993 1.09991V0.0999146C3.18916 0.0999146 0.0999298 3.18915 0.0999298 6.99992H1.09993ZM6.99993 1.09991C10.2584 1.09991 12.8999 3.74143 12.8999 6.99992H13.8999C13.8999 3.18915 10.8107 0.0999146 6.99993 0.0999146V1.09991ZM5.07993 5.57991H5.14368V4.57991H5.07993V5.57991ZM8.91993 5.57991H8.9766V4.57991H8.91993V5.57991ZM4.64368 5.07991V5.13117H5.64368V5.07991H4.64368ZM5.14368 4.63117H5.07993V5.63117H5.14368V4.63117ZM5.57993 5.13117V5.07991H4.57993V5.13117H5.57993ZM8.4766 5.07991V5.13117H9.4766V5.07991H8.4766ZM8.9766 4.63117H8.91993V5.63117H8.9766V4.63117ZM9.41993 5.13117V5.07991H8.41993V5.13117H9.41993ZM6.99993 9.69985C6.25186 9.69985 5.58809 9.29951 5.20637 8.68285L4.35609 9.20918C4.90762 10.1002 5.88246 10.6998 6.99993 10.6998V9.69985ZM8.79346 8.68285C8.4118 9.29951 7.748 9.69985 6.99993 9.69985V10.6998C8.1174 10.6998 9.09226 10.1002 9.6438 9.20918L8.79346 8.68285Z" fill="#919BB0"/>
            </svg>
          </div>
          <div class="base-chat-input-oper">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
              <path d="M1.04638 11.8464C0.851117 12.0416 0.851117 12.3582 1.04638 12.5534C1.24164 12.7487 1.55822 12.7487 1.75348 12.5534L1.04638 11.8464ZM4.59993 8.99992L4.95348 8.64638C4.75822 8.45111 4.44164 8.45111 4.24638 8.64638L4.59993 8.99992ZM6.19993 10.5999L5.8464 10.9534C6.04166 11.1487 6.3582 11.1487 6.55346 10.9534L6.19993 10.5999ZM9.79993 6.99992L10.1535 6.64638C9.9582 6.45112 9.64166 6.45112 9.4464 6.64638L9.79993 6.99992ZM12.6464 10.5534C12.8417 10.7487 13.1582 10.7487 13.3535 10.5534C13.5487 10.3582 13.5487 10.0416 13.3535 9.84638L12.6464 10.5534ZM1.75348 12.5534L4.95348 9.35345L4.24638 8.64638L1.04638 11.8464L1.75348 12.5534ZM4.24638 9.35345L5.8464 10.9534L6.55346 10.2464L4.95348 8.64638L4.24638 9.35345ZM6.55346 10.9534L10.1535 7.35345L9.4464 6.64638L5.8464 10.2464L6.55346 10.9534ZM9.4464 7.35345L12.6464 10.5534L13.3535 9.84638L10.1535 6.64638L9.4464 7.35345ZM2.99993 1.09991H10.9999V0.0999146H2.99993V1.09991ZM12.8999 2.99991V10.9999H13.8999V2.99991H12.8999ZM10.9999 12.8999H2.99993V13.8999H10.9999V12.8999ZM1.09993 10.9999V2.99991H0.0999298V10.9999H1.09993ZM2.99993 12.8999C1.95059 12.8999 1.09993 12.0492 1.09993 10.9999H0.0999298C0.0999298 12.6015 1.3983 13.8999 2.99993 13.8999V12.8999ZM12.8999 10.9999C12.8999 12.0492 12.0493 12.8999 10.9999 12.8999V13.8999C12.6015 13.8999 13.8999 12.6015 13.8999 10.9999H12.8999ZM10.9999 1.09991C12.0493 1.09991 12.8999 1.95057 12.8999 2.99991H13.8999C13.8999 1.39829 12.6015 0.0999146 10.9999 0.0999146V1.09991ZM2.99993 0.0999146C1.3983 0.0999146 0.0999298 1.39829 0.0999298 2.99991H1.09993C1.09993 1.95057 1.95059 1.09991 2.99993 1.09991V0.0999146ZM4.89993 4.19991C4.89993 4.58651 4.58653 4.89991 4.19993 4.89991V5.89992C5.13882 5.89992 5.89993 5.1388 5.89993 4.19991H4.89993ZM4.19993 4.89991C3.81333 4.89991 3.49993 4.58651 3.49993 4.19991H2.49993C2.49993 5.1388 3.26105 5.89992 4.19993 5.89992V4.89991ZM3.49993 4.19991C3.49993 3.81331 3.81333 3.49991 4.19993 3.49991V2.49991C3.26105 2.49991 2.49993 3.26103 2.49993 4.19991H3.49993ZM4.19993 3.49991C4.58653 3.49991 4.89993 3.81331 4.89993 4.19991H5.89993C5.89993 3.26103 5.13882 2.49991 4.19993 2.49991V3.49991Z" fill="#919BB0"/>
            </svg>
          </div>
        </div>
        <div class="base-chat-input-send">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
            <path d="M13.499 6.22916C10.044 4.50223 1.39757 0.180199 1.18928 0.0762287C0.994511 -0.010413 -0.100639 -0.24989 0.00749058 1.01542C0.425102 3.06848 1.03991 6.23818 1.03991 6.23818L10.0506 6.93131L1.03991 7.97101C1.03991 7.97101 0.425102 10.7941 0.00749058 12.8475C-0.100639 14.1125 0.994511 13.873 1.18928 13.7864C1.39757 13.6824 10.044 9.36039 13.499 7.63345C14.0833 7.31461 14.2458 6.63499 13.499 6.22916Z" fill="#919BB0"/>
          </svg>
        </div>
      </div>
      <div class="base-chat-copyright">
        Chat 
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" viewBox="0 0 10 14" fill="none">
          <path d="M1.08526 7.95189L5.1623 1.54513C5.31892 1.29896 5.70001 1.40992 5.70001 1.70172V6.24179C5.70001 6.27399 5.72615 6.30012 5.75835 6.30012H8.63984C8.8758 6.30012 9.01405 6.56571 8.87877 6.75903L4.83061 12.5421C4.6671 12.7757 4.30001 12.66 4.30001 12.3748V8.45846C4.30001 8.42626 4.27388 8.40012 4.24168 8.40012H1.33132C1.10117 8.40012 0.961694 8.14602 1.08526 7.95189Z" stroke="#F5A624"/>
        </svg>
        by <span style="margin-left: 3px; color: #338AFF;">Upbeat</span>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  props: {
    // 显示位置：left|right
    position: {
      type: String,
      default: "left"
    },
    // 距离底部位置
    bottom: {
      type: Number,
      default: 0
    },
    // 边距
    padding: {
      type: Number,
      default: 0
    },
    // 显示设备：pc｜mobile
    displayType: {
      type: String,
      default: "pc"
    },
    title: {
      type: String,
      default: "Default title"
    },
    imgUrl: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      isShow: false,
    };
  },
  mounted() {

  }
}
</script>

<style>
.titleFlex{
  display: flex;
  width: 80%;
  align-items: center;
  .avatar{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50%;
  }
  .title{    
    width: calc(100% - 50px);
    overflow-x: auto;
  }
}
.cat-box {
  height: 100%;
  width: 100%;
  position: relative;
}
.cat-box * {
  font-family: Roboto;
  box-sizing: border-box;
}
.base-chat-small {
  width: 68px;
  height: 68px;
  cursor: pointer;
  background: url('../../../../static/img/hw/default-icon.png') no-repeat;
  background-size: 100% 100%;
  border-radius: 40px;
  position: absolute;
}
.base-chat {
  width: 360px;
  height: 640px;
  background-color: white;
  box-shadow: 0 0 0 #bbb;
  border-radius: 12px;
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: scale(0.8);
  transform-origin: bottom;
}
.base-chat-top {
  border-bottom: 1px solid #dddddd;
  padding: 18px 16px;
  line-height: 20px;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.base-chat-top-mini-b{
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.base-chat-top-mini {
  width: 12px;
  height: 2px;
  background-color: #7E84A3;
}
.base-chat-content {
  flex: 1;
  overflow: auto;
  padding: 0 16px;
}
.base-chat-content-time {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  margin-top: 12px;
  text-align: center;
}

.base-chat-content-item {
  margin-top: 24px;
}
.base-chat-content-item-right {
  display: flex;
  justify-content: flex-end;
}
.base-chat-content-item > div {
  padding: 10px 12px;
  line-height: 20px;
  color: #333;
  font-size: 12px;
  font-weight: 400;
  background-color: #F1F1F3;
  border-radius: 20px;
  display: inline-flex;
  max-width: 85%;
}
.base-chat-content-item-right > div {
  color: #ffffff;
  background-color: #338AFF;
}



/*  */
.base-chat-input {
  /* height: 46px; */
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.base-chat-input-area {
  border: 1px solid #dddddd;
  border-radius: 23px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  flex: 1;
}
.base-chat-input-el {
  /* min-height: 46px; */
  padding: 15px;
  line-height: 16px;
  flex: 1;
  color: #919BB0;
  font-size: 12px;
  font-weight: 400;
  font-family: roboto;
  padding-left: 5px;
}
.base-chat-input-oper {
  width: 14px;
  height: 14px;
  display: flex;
  cursor: pointer;
}
.base-chat-input-oper+.base-chat-input-oper {
  margin-left: 15px;
}
.base-chat-input-send {
  margin-left: 12px;
  width: 14px;
  height: 14px;
  display: flex;
  cursor: pointer;
}

/* ddd */
.base-chat-copyright {
  display: flex;
  align-items: center;
  padding: 0 18px;
  color: #606266;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.base-chat-copyright::before,
.base-chat-copyright::after {
  content: "";
  display: block;
  background-color: #EEEEF1;
  height: 1px;
  flex: 1;
}
.base-chat-copyright::before {
  margin-right: 6px;
}
.base-chat-copyright::after {
  margin-left: 6px;
}
.base-chat-copyright svg {
  margin: 0 3px;
}
</style>
