<template>
  <div class="cat-box">
    <div id="easyliaoLayout" :style="{ bottom: bottom+'px', left: (position === 'left' ? padding+'px' : null), right: (position === 'right' ? padding+'px' : null) }">
      <img id="easyliaoCatPanel2" :style="{ bottom: '350px', left: (position === 'left' ? '-24px' : '-180px') }"/>
      <div id="easyliaoBgPanel" :style="{ left: (position === 'left' ? '0px' : null) }"></div>
      <img id="easyliaoCatPanel" />
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  props: {
    // 显示位置：left|right
    position: {
      type: String,
      default: "left",
    },
    // 距离底部位置
    bottom: {
      type: Number,
      default: 0, 
    },
    // 边距
    padding: {
      type: Number,
      default: 0, 
    },
    // 显示设备：pc｜mobile
    displayType: {
      type: String,
      default: "pc",
    },
  },
  data() {
    return {
      // 图片参数
      image: {
        cat1: null, // 动画步骤1：小猫常驻闭眼躺下
        cat2: null, // 动画步骤2: 小猫从闭眼到睁眼
        cat3: null, // 动画步骤3: 小猫从睁眼到闭眼
        cat4: null, // 动画步骤4: 小猫站起走开
        cat5: null, // 动画步骤5: 小猫爬到窗口头部
        cat6: null, // 动画步骤6: 小猫常驻排在窗口头部
        bgi: null, // 窗口背景图
      },
      // DOM参数
      dom: {
        layoutEl: null, // 窗口基础布局
        catPanelEl: null, // 小猫面板
        bgPanelEl: null, // 背景面板
        chatPanelEl: null, // 聊天面板
        chatListEl: null, // 聊天列表
        minBtnEl: null, // 最小化按钮
        inputEl: null, // 输入框
        faceBtnEl: null, // 表情按钮
        photoBtnEl: null, // 图片按钮
        sendBtnEl: null, // 发送按钮
        faceLayoutEl: null, // 表情布局
        facePanelEl: null, // 表情面板
      },
      animationStatus: false, // 点击后动画状态：false｜未执行；true｜执行中；
      actionTimer: null, // 
      inputingTimer: null, // 输入中显示定时器
    };
  },
  mounted() {
    const { displayType } = this;
    if(displayType === "pc") {
    } else if(displayType === "mobile") {
    }
    this.action();

    let left, right;
    if(this.position === "left") {
      left = "0";
    }
    document.getElementById("easyliaoLayout").style.left = left;
    document.getElementById("easyliaoLayout").style.right = right;
  },
  methods: {
    action() {

      function isPc () {
        let userAgentInfo = navigator.userAgent;
        let agents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
        let flag = true;
        for (let i = 0; i < agents.length; i++) {
          if (userAgentInfo.indexOf(agents[i]) > 0) {
            flag = false;
            break;
          }
        }
        return flag;
      }

      // 设置元素样式
      const setStyle = function (el, options) {
        for (let key in options) {
          el.style[key] = options[key];
        }
      }

      // 加载图片
      const loadImage = () => {
        console.log('loadImage ---------- begin');
        this.image.cat1 = require(`../../../../static/img/hw/cat/gif/2x/1.gif`);
        this.image.cat2 = require(`../../../../static/img/hw/cat/gif/2x/2.gif`);
        this.image.cat3 = require(`../../../../static/img/hw/cat/gif/2x/3.gif`);
        this.image.cat4 = require(`../../../../static/img/hw/cat/gif/2x/4.gif`);
        this.image.cat5 = require(`../../../../static/img/hw/cat/gif/2x/5.gif`);
        this.image.cat6 = require(`../../../../static/img/hw/cat/gif/2x/6.gif`);
        this.image.bgi = require(`../../../../static/img/hw/cat/bgi.png`);
      };

      const emoji = require('../../../../static/json/ylEmojiEn.json')

      // 初始化DOM
      const initDom = () => {
        console.log('initDom ---------- ');

        this.dom.layoutEl = document.getElementById("easyliaoLayout");
        this.dom.catPanelEl2 = document.getElementById("easyliaoCatPanel2"); // 小猫面板
        this.dom.catPanelEl = document.getElementById("easyliaoCatPanel"); // 小猫面板
        this.dom.bgPanelEl = document.getElementById("easyliaoBgPanel"); // 背景面板

        initChatPanelDom(this.dom.bgPanelEl); // 初始化聊天面板

        // 设置默认加载图片
        const els = [
          { el: this.dom.catPanelEl, type: "setAttribute", imgKey: "cat1" },
          { el: this.dom.bgPanelEl, type: "setStyle", imgKey: "bgi" },
        ];
        setDefaultImgDisplay(els);
      }

      // 初始化对话窗口DOM
      const initChatPanelDom = (parentEl) => {
        console.log('initChatPanelDom ----------');
        const chatPanelEl = document.createElement("div");
        chatPanelEl.className = "easyliao-chat-panel";
        chatPanelEl.setAttribute("id", "easyliaoChatPanel");
        const contentHtmlStr = `
        <div id="easyliaoMinBtn" class="easyliao-min-btn" title="min"></div>

        <div id="easyliaoChatList" class="easyliao-chat-list">
          <div class="easyliao-chat-item">
            <div class="easyliao-chat-item-bg">
              <div class="easyliao-chat-item-text">Hi! How are you!</div>
            </div>
          </div>
          <div class="easyliao-chat-item easyliao-chat-item-right">
            <div class="easyliao-chat-item-bg">
              <div class="easyliao-chat-item-text">I'm Ok. Thanks!</div>
            </div>
          </div>
        </div>

        <div class="easyliao-tools">
          <div class="easyliao-tools-input">
            <div id="easyliaoInput" class="easylao-tools-input-area" contenteditable="true" placeholder="Send a message…"></div>
            <div id="easyliaoFace"class="easyliao-tools-input-oper" title="face">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                <path d="M5.07993 5.07993V4.57993C4.80379 4.57993 4.57993 4.80379 4.57993 5.07993H5.07993ZM5.14368 5.07993H5.64368C5.64368 4.80379 5.41982 4.57993 5.14368 4.57993V5.07993ZM8.91993 5.07993V4.57993C8.6438 4.57993 8.41993 4.80379 8.41993 5.07993H8.91993ZM8.9766 5.07993H9.4766C9.4766 4.80379 9.25273 4.57993 8.9766 4.57993V5.07993ZM5.14368 5.13118V5.63118C5.41982 5.63118 5.64368 5.40732 5.64368 5.13118H5.14368ZM5.07993 5.13118H4.57993C4.57993 5.40732 4.80379 5.63118 5.07993 5.63118V5.13118ZM8.9766 5.13118V5.63118C9.25273 5.63118 9.4766 5.40732 9.4766 5.13118H8.9766ZM8.91993 5.13118H8.41993C8.41993 5.40732 8.6438 5.63118 8.91993 5.63118V5.13118ZM5.20637 8.68286C5.06103 8.44806 4.75287 8.37553 4.51807 8.52086C4.28327 8.66626 4.21075 8.9744 4.35609 9.2092L5.20637 8.68286ZM9.6438 9.2092C9.78913 8.9744 9.7166 8.66626 9.4818 8.52086C9.247 8.37553 8.9388 8.44806 8.79346 8.68286L9.6438 9.2092ZM12.8999 6.99993C12.8999 10.2584 10.2584 12.8999 6.99993 12.8999V13.8999C10.8107 13.8999 13.8999 10.8107 13.8999 6.99993H12.8999ZM6.99993 12.8999C3.74145 12.8999 1.09993 10.2584 1.09993 6.99993H0.0999298C0.0999298 10.8107 3.18916 13.8999 6.99993 13.8999V12.8999ZM1.09993 6.99993C1.09993 3.74145 3.74145 1.09993 6.99993 1.09993V0.0999298C3.18916 0.0999298 0.0999298 3.18916 0.0999298 6.99993H1.09993ZM6.99993 1.09993C10.2584 1.09993 12.8999 3.74145 12.8999 6.99993H13.8999C13.8999 3.18916 10.8107 0.0999298 6.99993 0.0999298V1.09993ZM5.07993 5.57993H5.14368V4.57993H5.07993V5.57993ZM8.91993 5.57993H8.9766V4.57993H8.91993V5.57993ZM4.64368 5.07993V5.13118H5.64368V5.07993H4.64368ZM5.14368 4.63118H5.07993V5.63118H5.14368V4.63118ZM5.57993 5.13118V5.07993H4.57993V5.13118H5.57993ZM8.4766 5.07993V5.13118H9.4766V5.07993H8.4766ZM8.9766 4.63118H8.91993V5.63118H8.9766V4.63118ZM9.41993 5.13118V5.07993H8.41993V5.13118H9.41993ZM6.99993 9.69986C6.25186 9.69986 5.58809 9.29953 5.20637 8.68286L4.35609 9.2092C4.90762 10.1002 5.88246 10.6999 6.99993 10.6999V9.69986ZM8.79346 8.68286C8.4118 9.29953 7.748 9.69986 6.99993 9.69986V10.6999C8.1174 10.6999 9.09226 10.1002 9.6438 9.2092L8.79346 8.68286Z" fill="#0E0D10"/>
              </svg>
            </div>
            <div id="easyliaoPhoto" class="easyliao-tools-input-oper" title="photo">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                <path d="M1.04638 11.8464C0.851117 12.0417 0.851117 12.3582 1.04638 12.5535C1.24164 12.7487 1.55822 12.7487 1.75348 12.5535L1.04638 11.8464ZM4.59993 8.99993L4.95348 8.6464C4.75822 8.45113 4.44164 8.45113 4.24638 8.6464L4.59993 8.99993ZM6.19993 10.5999L5.8464 10.9535C6.04166 11.1487 6.3582 11.1487 6.55346 10.9535L6.19993 10.5999ZM9.79993 6.99993L10.1535 6.6464C9.9582 6.45113 9.64166 6.45113 9.4464 6.6464L9.79993 6.99993ZM12.6464 10.5535C12.8417 10.7487 13.1582 10.7487 13.3535 10.5535C13.5487 10.3582 13.5487 10.0417 13.3535 9.8464L12.6464 10.5535ZM1.75348 12.5535L4.95348 9.35346L4.24638 8.6464L1.04638 11.8464L1.75348 12.5535ZM4.24638 9.35346L5.8464 10.9535L6.55346 10.2464L4.95348 8.6464L4.24638 9.35346ZM6.55346 10.9535L10.1535 7.35346L9.4464 6.6464L5.8464 10.2464L6.55346 10.9535ZM9.4464 7.35346L12.6464 10.5535L13.3535 9.8464L10.1535 6.6464L9.4464 7.35346ZM2.99993 1.09993H10.9999V0.0999298H2.99993V1.09993ZM12.8999 2.99993V10.9999H13.8999V2.99993H12.8999ZM10.9999 12.8999H2.99993V13.8999H10.9999V12.8999ZM1.09993 10.9999V2.99993H0.0999298V10.9999H1.09993ZM2.99993 12.8999C1.95059 12.8999 1.09993 12.0493 1.09993 10.9999H0.0999298C0.0999298 12.6015 1.3983 13.8999 2.99993 13.8999V12.8999ZM12.8999 10.9999C12.8999 12.0493 12.0493 12.8999 10.9999 12.8999V13.8999C12.6015 13.8999 13.8999 12.6015 13.8999 10.9999H12.8999ZM10.9999 1.09993C12.0493 1.09993 12.8999 1.95059 12.8999 2.99993H13.8999C13.8999 1.3983 12.6015 0.0999298 10.9999 0.0999298V1.09993ZM2.99993 0.0999298C1.3983 0.0999298 0.0999298 1.3983 0.0999298 2.99993H1.09993C1.09993 1.95059 1.95059 1.09993 2.99993 1.09993V0.0999298ZM4.89993 4.19993C4.89993 4.58653 4.58653 4.89993 4.19993 4.89993V5.89993C5.13882 5.89993 5.89993 5.13882 5.89993 4.19993H4.89993ZM4.19993 4.89993C3.81333 4.89993 3.49993 4.58653 3.49993 4.19993H2.49993C2.49993 5.13882 3.26105 5.89993 4.19993 5.89993V4.89993ZM3.49993 4.19993C3.49993 3.81333 3.81333 3.49993 4.19993 3.49993V2.49993C3.26105 2.49993 2.49993 3.26105 2.49993 4.19993H3.49993ZM4.19993 3.49993C4.58653 3.49993 4.89993 3.81333 4.89993 4.19993H5.89993C5.89993 3.26105 5.13882 2.49993 4.19993 2.49993V3.49993Z" fill="#0C0C3D"/>
              </svg>
            </div>
            <div id="easyliaoSend" class="easyliao-tools-input-oper" title="send" style="cursor: no-drop;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M12.4238 10.4468L13.5681 7.01386C14.5677 4.01494 15.0675 2.51548 14.276 1.72396C13.4845 0.932452 11.9851 1.43227 8.98613 2.43191L5.55324 3.57621C3.13282 4.38302 1.92261 4.78642 1.5787 5.37798C1.25154 5.94074 1.25154 6.63579 1.5787 7.19855C1.92261 7.79011 3.13282 8.19352 5.55324 9.00032C5.8532 9.10031 6.19067 9.02892 6.41529 8.80638L10.0857 5.16996C10.2922 4.96538 10.6254 4.96693 10.83 5.17343C11.0346 5.37992 11.0331 5.71316 10.8266 5.91774L7.2154 9.49544C6.96783 9.74072 6.88946 10.1161 6.99967 10.4468C7.80647 12.8672 8.20988 14.0774 8.80144 14.4213C9.3642 14.7485 10.0592 14.7485 10.622 14.4213C11.2136 14.0774 11.617 12.8672 12.4238 10.4468Z" fill="#0E0D10"/>
              </svg>
            </div>
          </div>
          <div id="easyliaoFaceLayout" class="easyliao-tools-face-layout">
            <div id="easyliaoFacePanel" class="easyliao-tools-face-panel"></div>
          </div>
        </div>

        <div class="easyliao-copyright">
          Chat 
          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" viewBox="0 0 10 14" fill="none">
            <path d="M1.08526 7.95189L5.1623 1.54513C5.31892 1.29896 5.70001 1.40992 5.70001 1.70172V6.24179C5.70001 6.27399 5.72615 6.30012 5.75835 6.30012H8.63984C8.8758 6.30012 9.01405 6.56571 8.87877 6.75903L4.83061 12.5421C4.6671 12.7757 4.30001 12.66 4.30001 12.3748V8.45846C4.30001 8.42626 4.27388 8.40012 4.24168 8.40012H1.33132C1.10117 8.40012 0.961694 8.14602 1.08526 7.95189Z" stroke="#F5A624"/>
          </svg>
          by <span style="margin-left: 3px; color: #4756A6;">Upbeat</span>
        </div>
        `;
        chatPanelEl.innerHTML = contentHtmlStr;

        parentEl.appendChild(chatPanelEl);

        this.dom.chatPanelEl = chatPanelEl; // 聊天面板
        console.log('parentEl --------- ', parentEl);
        this.dom.chatListEl = parentEl.querySelector("#easyliaoChatList"); // 聊天列表
        this.dom.minBtnEl = parentEl.querySelector("#easyliaoMinBtn"); // 最小化按钮
        this.dom.inputEl = parentEl.querySelector("#easyliaoInput"); // 输入框
        this.dom.faceBtnEl = parentEl.querySelector("#easyliaoFace"); // 表情按钮
        this.dom.photoBtnEl = parentEl.querySelector("#easyliaoPhoto"); // 图片按钮
        this.dom.sendBtnEl = parentEl.querySelector("#easyliaoSend"); // 发送按钮
        this.dom.faceLayoutEl = parentEl.querySelector("#easyliaoFaceLayout"); // 表情布局
        this.dom.facePanelEl = parentEl.querySelector("#easyliaoFacePanel"); // 表情面板

        initFaceItemDom(); // 初始化表情DOM
      }

      // 初始化表情DOM
      const initFaceItemDom = () => {
        let faceItemStr = "";
        // 初始化表情
        for (let key in emoji) {
          const img = require(`../../../../static/img/emoji/yl/${emoji[key]}.png`);

          faceItemStr += `
          <div class="easyliao-tools-face-item">
            <img title="${key}" src="${img}">
          </div>
          `;
        }
        // 表情显示控制
        for (let i = 0; i < 10; i++) {
          faceItemStr += `<div style="width: 20px; margin: 5px;"></div>`;
        }
        this.dom.facePanelEl.innerHTML = faceItemStr;
      }

      // 设置默认图片显示
      const setDefaultImgDisplay = (els, setList = []) => {
        console.log('setDefaultImgDisplay ----------');
        if (els.length === setList.length) {
          // 要操作数据 和 已操作数据 长度相同，表示操作完成
          bindElEvent(); // 绑定元素事件
          return;
        }
        setTimeout(() => {
          for (let i = 0; i < els.length; i++) {
            if (setList.includes(i)) {
              // 已经超过完成的数据，跳过
              continue;
            }
            const item = els[i];
            const { type, el, imgKey } = item;
            const img = this.image[imgKey];
            if (!img) {
              // 图片未加载成功，跳过
              continue;
            }

            // 设置图片
            if (item.type === "setAttribute") {
              el.setAttribute("src", img)
            } else if (item.type === "setStyle") {
              setStyle(el, { backgroundImage: `url(${img})` });
            }

            setList.push(i); // 添加已经操作完成的数据
          }

          setDefaultImgDisplay(els, setList);
        }, 1000);
      }

      // 绑定元素事件
      const bindElEvent = () => {
        console.log('bindElEvent ----------');
        const {
          layoutEl,
          bgPanelEl,
          catPanelEl,
          catPanelEl2,
          chatPanelEl,
          minBtnEl,
          inputEl,
          faceBtnEl,
          sendBtnEl,
          faceLayoutEl,
          facePanelEl,
        } = this.dom;

        // 鼠标移入
        bgPanelEl.addEventListener("mouseenter", (evt) => {
          if (this.animationStatus) return;
          if (this.actionTimer) {
            window.clearTimeout(this.actionTimer);
          }
          console.log('鼠标移入 - 进入动画2 ---------- ');
          catPanelEl.setAttribute("src", this.image.cat2);
        });

        // 鼠标移出
        bgPanelEl.addEventListener("mouseleave", (evt) => {
          if (this.animationStatus) return;

          console.log('鼠标移出 - 进入动画3 ---------- ');
          catPanelEl.setAttribute("src", this.image.cat3);

          // 
          this.actionTimer = setTimeout(() => {
            console.log('鼠标移出 - 回到动画1 ---------- ');
            catPanelEl.setAttribute("src", this.image.cat1);
          }, 1500)
        });

        // 鼠标点击
        bgPanelEl.addEventListener("click", (evt) => {
          if (this.animationStatus) return;

          console.log('鼠标点击 - 进入动画4 ---------- ');
          catPanelEl.setAttribute("src", this.image.cat4);
          this.animationStatus = true; // 设置动画状态为：执行中

          new Promise(resolve => {
            setTimeout(() => {
              // 上一个动画结束后，缩小窗口
              // 窗口显现，收缩只最小（50px像素宽高）
              console.log('动画4执行完毕 - 显示遮罩，缩小遮罩50*50，隐藏动画 ---------- ');
              setStyle(bgPanelEl, { opacity: 1, width: "50px", height: "50px" });
              // 隐藏图片显示
              setStyle(catPanelEl, { opacity: 0 });

              if (this.displayType === "mobile") {
                // 移动端
                setStyle(layoutEl, { width: "100%", right: "-38px", bottom: "-28px" });
              }
              resolve();
            }, 4300);
          }).then(() => {
            return new Promise(resolve => {
              setTimeout(() => {
                // 上一个动画结束后，放大窗口
                if (this.displayType === "pc") {
                  // PC端
                  console.log('PC 动画4执行完毕 - 放大遮罩312*369，设置这招圆角15 ---------- ');
                  setStyle(bgPanelEl, { width: "312px", height: "369px", borderRadius: "15px" });
                }

                if (this.displayType === "mobile") {
                  // 移动端
                  console.log('Mobile 动画4执行完毕 - 放大遮罩100%*369，设置这招圆角15 ---------- ');
                  setStyle(bgPanelEl, { width: "100%", height: "80%", borderRadius: "15px" });
                  setStyle(layoutEl, { height: "100%" });
                }
                resolve();
              }, 1000)
            });
          }).then(() => {
            return new Promise(resolve => {
              setTimeout(() => {
                // 上一个动画结束后，展示小猫上爬动画
                console.log('进入动画5 - 显示动画，设置动画位置，图层前置 ---------- ');
                let bottom = "350px";
                if (this.displayType === "mobile") {
                  bottom = "calc(80% - 9px)";
                }

                setStyle(catPanelEl, { display: "none" });

                setStyle(catPanelEl2, { display: "block", opacity: 1 });
                catPanelEl2.setAttribute("src", this.image.cat5);
                resolve();
              }, 500)
            });
          }).then(() => {
            return new Promise(resolve => {
              setTimeout(() => {
                console.log('动画5执行中 - 显示聊天面板 遮罩鼠标手势关闭 ---------- ');
                // 上一个动画中后段，显示聊天内容
                setStyle(chatPanelEl, { opacity: 1, marginTop: 0 });
                // 默认第鼠标移入样式
                setStyle(bgPanelEl, { cursor: "auto" });
              }, 2500);
              setTimeout(() => {
                console.log('进入动画6 ---------- ');
                // 上一个动画结束后，展示小猫长期趴着状态
                catPanelEl2.setAttribute("src", this.image.cat6);
              }, 4500);
            });
          });
        });

        // 最小化按钮
        minBtnEl.addEventListener("click", (evt) => {
          evt.stopPropagation();

          this.animationStatus = false;
          this.actionTimer = null;

          new Promise(resolve => {
            setStyle(catPanelEl2, { display: "none" });
            setStyle(catPanelEl, { display: "block" });
            // 显示最小化按钮
            setStyle(chatPanelEl, { opacity: 0, marginTop: "20px" });
            resolve();
          }).then(() => {
            return new Promise(resolve => {
              setTimeout(() => {
                setStyle(bgPanelEl, {
                  opacity: 0,
                  width: "154px",
                  height: "152px",
                  cursor: "pointer",
                  borderRadius: "11px",
                });
                resolve();
              }, 300);
            });
          }).then(() => {
            return new Promise(resolve => {
              setTimeout(() => {
                catPanelEl.setAttribute("src", this.image.cat1);

                if (this.displayType === "mobile") {
                  移动端
                  setStyle(layoutEl, { width: null, height: "null", right: "50px", bottom: "50px" });
                }

                setStyle(catPanelEl, {
                  opacity: 1,
                  right: 0,
                  bottom: 0,
                  zIndex: 0,
                });

                resolve();
              }, 1000);
            });
          });
        });

        // 输入框 输入
        inputEl.addEventListener("input", (evt) => {
          sendBtnChange();
        });

        // 输入框 键盘按下
        inputEl.addEventListener("keydown", (evt) => {
          if (evt.keyCode === 13) {
            // 回撤按钮，直接发送数据框的消息内容
            evt.preventDefault();
            msgTypeHtmlUtil.sendMsgUtil()
          }
        });

        // 输入框 支持表情粘贴，清空粘贴消息样式
        inputEl.addEventListener("paste", (e) => {
          e.stopPropagation();
          e.preventDefault();

          let text = "", event = e.originalEvent || e;
          if (event.clipboardData && event.clipboardData.getData) {
            text = event.clipboardData.getData("text/plain");
          } else if (window.clipboardData && window.clipboardData.getData) {
            text = window.clipboardData.getData("Text");
          }

          text = text.replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/&/g, "&amp;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&apos;")
            .replaceAll(/\[[^\]]*\]/g, (e) => emoji[e] ? `<img src="../images/emoticon/${emoji[e]}.png" title="${e}"/>` : e);

          // 将范围对象转换成selection对象
          const selection = window.getSelection();
          if (selection && selection.rangeCount > 0) {
            const range = selection.getRangeAt(0);
            // 删除选中的文本内容
            if (!range.collapsed) {
              range.deleteContents();
            }
          }

          inputEl.innerHTML += text;

          // 光标放到最后
          const range = document.createRange();
          range.selectNodeContents(inputEl);
          range.collapse(false); // false表示将光标放在结尾处
          selection.removeAllRanges();
          selection.addRange(range);
        });

        // 输入框 内容变动监听
        new MutationObserver((mutationsList) => {
          for (let mutation of mutationsList) {
            // 处理每次发生变化时的逻辑
            if(["childList"].includes(mutation.type)){
              sendBtnChange();
            }
          }
          // 开始观察目标元素的子节点变化
        }).observe(inputEl, { childList: true });

        // 表情打开/收起按钮
        faceBtnEl.addEventListener("click", (evt) => {
          evt.stopPropagation();

          if (faceLayoutEl.computedStyleMap().get("max-height").value === 0) {
            faceLayoutEl.style.maxHeight = "100px";
          } else {
            faceLayoutEl.style.maxHeight = "0px";
          }
        });

        // 发送按钮
        sendBtnEl.addEventListener("click", msgTypeHtmlUtil.sendMsgUtil);

        // 表情点击事件
        facePanelEl.addEventListener("click", (evt) => {
          // 仅在表情面板上添加事件
          evt.stopPropagation(); // 阻止事件继续向上冒泡（向上冒泡会出发「窗口布局」的点击事件，导致表情布局元素收起）
          if (evt.target.tagName !== "IMG") {
            // 通过事件冒泡仅处理IMG元素
            return;
          }

          // 拼接表情元素添加到输入框
          const imgElStr = `<img src="${evt.target.src}" title="${evt.target.title}">`;
          inputEl.innerHTML += imgElStr;

          // 添加表情后，内容触底
          const inputValueListEl = inputEl.children;
          if (inputValueListEl.length > 0) {
            inputValueListEl[inputValueListEl.length - 1].scrollIntoView({ behavior: "smooth", inline: "start" });
          }
        });

        // 窗口布局
        layoutEl.addEventListener("click", (evt) => {
          faceLayoutEl.style.maxHeight = "0px"; // 隐藏表情选择面板
        });
      }

      // 发送按钮是否可用
      const sendBtnChange = ()=> {
        // 设置 发送按钮状态
        let color, cursor;
        const msg = msgTypeHtmlUtil.sendMsgFormat();
        if(msg.length > 0) {
          color = "blue";
          cursor = "pointer";
        } else {
          color = "#0E0D10";
          cursor = "no-drop";
        }
        setStyle(this.dom.sendBtnEl, { cursor });
        this.dom.sendBtnEl.querySelector("path").setAttribute("fill", color);
      }
      const vueVm = this;
      // 消息拼接
      const msgTypeHtmlUtil = {
        // 发送消息
        sendMsgUtil() {
          const msg = msgTypeHtmlUtil.sendMsgFormat();
          if(msg.length === 0) {
            alert("msg is empty!");
            return;
          }
          msgTypeHtmlUtil.addMsgUtil({ msg, type: "right" });
          this.dom.inputEl.innerText = "";
          msgTypeHtmlUtil.addInputing()
        },
        // 添加消息工具
        addMsgUtil({ msg, type }) {
          console.log('msg -------- ', msg);
          const { chatListEl } = vueVm.dom; // 聊天列表
          const msgEl = this.msg({ msg, type }); // 拼接消息
          chatListEl.appendChild(msgEl);

          const chatItemListEl = vueVm.dom.chatListEl.children;
          if (chatItemListEl.length > 0) {
            chatItemListEl[chatItemListEl.length - 1].scrollIntoView({ behavior: "smooth", inline: "start" });
          }
        },
        // 添加 输入中
        addInputing() {
          msgTypeHtmlUtil.remInputing(); // 删除之前添加的输入中

          const type = "left";
          let msg =  `
            <img src="../images/inputting.gif"> inputing
          `;
          const { chatListEl } = this.dom; // 聊天列表
          chatListEl.appendChild(msgTypeHtmlUtil.baseMsgHtmlUtil({ msg, type }));

          const chatItemListEl = this.dom.chatListEl.children;
          if (chatItemListEl.length > 0) {
            chatItemListEl[chatItemListEl.length - 1].scrollIntoView({ behavior: "smooth", inline: "start" });
          }

          // 添加计时器，指定时间后关闭输入中
          if(this.inputingTimer) {
            window.clearTimeout(this.inputingTimer);
          }
          this.inputingTimer = window.setTimeout(()=> {
            msgTypeHtmlUtil.remInputing();
          }, 5000);
        },
        // 删除 输入中
        remInputing() {
          const chatItemListEl = this.dom.chatListEl.children;
          if (chatItemListEl.length === 0) {
            return;
          }

          for(let i = 0; i < chatItemListEl.length; i++) {
            const itemEl = chatItemListEl[i];
            if(itemEl.querySelector("img") && itemEl.querySelector("img").src.includes("inputting.gif")) {
              itemEl.remove();
            }
          }
        },
        // 普通消息
        msg ({ msg, type }) {
          msg = this._msgToFaceFormat(msg);
          return this.baseMsgHtmlUtil({ msg, type });
        },
        // 图片消息
        img () {

        },
        // 富文本消息
        fwb () {

        },
        // 基础消息拼接
        baseMsgHtmlUtil ({ msg, type }) {
          const divEl = document.createElement("div");
          divEl.className = "easyliao-chat-item" + (type === "right" ? " easyliao-chat-item-right" : "");
          divEl.innerHTML = `
          <div class="easyliao-chat-item-bg">
            <div class="easyliao-chat-item-text">${msg}</div>
          </div>
          `;
          return divEl;
        },
        // 表情包标识 转 元素元素标签
        _msgToFaceFormat (msg) {
          return msg.replaceAll(/\[[^\]]*\]/g, (e) => {
            // 渠道 Emoji 处理
            if (!emoji[e]) {
              return e;
            }
            // isEmoji = true;
            return `<img src="../images/emoticon/${emoji[e]}.png" title="${e}" >`;
          });
        },
        // 访客输入框内容，格式化
        sendMsgFormat() {
          return this.dom.inputEl.innerHTML
          .replaceAll(/<img[^>]*>/g, (e) => e?.match(/\[[^\]]*\]/)?.[0] || "")
          .replace(/\&nbsp\;/g, " ")
          .replace(/\&\;/g, "&amp;")
          .replace(/\<\;/g, "&lt;")
          .replace(/\>\;/g, "&gt;")
          .replace(/\\r\;/g, "")
          .replace(/\\n\;/g, " ")
          .replace(/\\"\;/g, "&quot;")
          .trim();
        },
      };

      // 开始执行
      this.displayType = isPc() ? "pc" : "mobile";
      loadImage(); // 加载图片
      initDom(); // 初始化DOM
    }
  },
}
</script>

<style>
.cat-box {
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  transform-origin: bottom;
}

#easyliaoLayout * {
  box-sizing: border-box;
  font-family: Roboto;
}

/*  */
#easyliaoLayout {
  width: 192px;
  min-width: 100px;
  min-height: 100px;
  position: absolute;
  transition: all .5s;
}

/* 小猫面板 */
#easyliaoLayout #easyliaoCatPanel {
  width: 200px;
  transition: opacity .3s;
  position: absolute;
  right: 0;
  bottom: 0;
}
#easyliaoLayout #easyliaoCatPanel2 {
  width: 250px;
  transition: opacity .3s;
  position: absolute;
  /* bottom: 360px; */
  z-index: 2;
}

/* 背景板 */
#easyliaoLayout #easyliaoBgPanel {
  width: 154px;
  height: 152px;
  position: absolute;
  right: 38px;
  bottom: 28px;
  border-radius: 11px;
  z-index: 1;
  opacity: 0;
  transition: all .5s;
  background-size: 100% 100%;
  cursor: pointer;
}

/* 聊天面板 */
#easyliaoLayout .easyliao-chat-panel {
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  display: flex;
  transition: all .5s;
  opacity: 0;
  margin-top: 20px;
  padding-top: 35px;
}

/* 最小化按钮 */
#easyliaoLayout .easyliao-min-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#easyliaoLayout .easyliao-min-btn::before {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  background-color: #FFFFFF;
  border-radius: 2px;
}

/* 聊天列表 */
#easyliaoLayout .easyliao-chat-list {
  flex: 1;
  min-height: 0;
  padding: 25px 10px 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

#easyliaoLayout .easyliao-chat-item {
  position: relative;
  padding-bottom: 10px;
  overflow: hidden;
}

#easyliaoLayout .easyliao-chat-item+.easyliao-chat-item {
  margin-top: 6px;
}

#easyliaoLayout .easyliao-chat-item::before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-color: transparent white transparent transparent;
  border-width: 4px;
  transform: rotate(45deg);
  position: absolute;
  bottom: 7px;
  left: -3px;
  z-index: 0;
}

#easyliaoLayout .easyliao-chat-item::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-color: transparent #58A4F6 transparent transparent;
  border-width: 10px;
  transform: rotate(45deg);
  position: absolute;
  bottom: 7px;
  left: -10px;
  z-index: -1;
}

#easyliaoLayout .easyliao-chat-item .easyliao-chat-item-bg {
  display: inline-block;
  border-radius: 4px;
  background-image: linear-gradient(to right, #58A4F6, white);
  padding: 1px;
  max-width: 77%;
}

#easyliaoLayout .easyliao-chat-item .easyliao-chat-item-text {
  padding: 10px 15px;
  background-color: #FFFFFF;
  line-height: 14px;
  color: #4756A6;
  font-size: 12px;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  display: inline-block;
  overflow-wrap: anywhere;
}

#easyliaoLayout .easyliao-chat-item .easyliao-chat-item-text img {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
}

#easyliaoLayout .easyliao-chat-item-right {
  display: flex;
  justify-content: flex-end;
}

#easyliaoLayout .easyliao-chat-item-right::before {
  left: auto;
  right: -3px;
  transform: rotate(135deg);
}

#easyliaoLayout .easyliao-chat-item-right::after {
  left: auto;
  right: -10px;
  transform: rotate(135deg);
}

#easyliaoLayout .easyliao-chat-item-right .easyliao-chat-item-bg {
  display: inline-block;
  border-radius: 4px;
  background-image: linear-gradient(to left, #58A4F6, white);
  padding: 1px;
  max-width: 77%;
}

#easyliaoLayout .easyliao-chat-item-right .easyliao-chat-item-text {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 0;
}

/* 工具栏 */
#easyliaoLayout .easyliao-tools {
  min-height: 40px;
  width: calc(100% - 20px);
  margin: 0 10px;
  background-color: #FFFFFF;
  border-radius: 6px;
}

#easyliaoLayout .easyliao-tools .easyliao-tools-input {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

#easyliaoLayout .easyliao-tools .easyliao-tools-input .easylao-tools-input-area {
  flex: 1;
  max-height: 60px;
  padding: 13px 0;
  line-height: 14px;
  margin-right: 14px;
  font-size: 12px;
  font-weight: 400;
  outline: none;
  overflow: auto;
  overflow-wrap: anywhere;
}

#easyliaoLayout .easyliao-tools .easyliao-tools-input .easylao-tools-input-area img {
  width: 18px;
  height: 18px;
  margin: 0 3px;
  vertical-align: text-bottom;
}

#easyliaoLayout .easyliao-tools .easyliao-tools-input .easylao-tools-input-area:empty::before {
  color: #1d00435e;
  content: attr(placeholder);
}

#easyliaoLayout .easyliao-tools .easyliao-tools-input .easylao-tools-input-area .easylao-tools-input-area-face-item {
  margin: 0 3px;
}

#easyliaoLayout .easyliao-tools .easyliao-tools-input .easyliao-tools-input-oper {
  width: 14px;
  height: 14px;
  line-height: 14px;
  border-radius: 4px;
  cursor: pointer;
}

#easyliaoLayout .easyliao-tools .easyliao-tools-input .easyliao-tools-input-oper+.easyliao-tools-input-oper {
  margin-left: 14px;
}

#easyliaoLayout .easyliao-tools .easyliao-tools-face-layout {
  max-height: 0;
  overflow: auto;
  transition: all .3s;
}

#easyliaoLayout .easyliao-tools .easyliao-tools-face-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

#easyliaoLayout .easyliao-tools .easyliao-tools-face-item {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#easyliaoLayout .easyliao-tools .easyliao-tools-face-item img {
  padding: 5px;
  width: 100%;
  height: 100%;
}

/* 公司信息 */
#easyliaoLayout .easyliao-copyright {
  line-height: 18px;
  text-align: center;
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
  color: #606266;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
#easyliaoLayout .easyliao-copyright svg {
  margin: 0 3px;
}
</style>
