<template>
  <div class="customization">
    <div class="c-l br">
      <div class="pd20L" style="overflow: auto;">
        <el-collapse v-model="activeNames">
          <el-collapse-item title="Theme" name="1"  :class="hasElement('1') ? 'showBorder' : ''">
            <div class="pd20">
              <el-radio-group v-model="fromObj.os.theme" size="medium">
                <el-radio :label="0" border>Default</el-radio>
                <el-radio :label="1" border>Catbot</el-radio>
              </el-radio-group>
            </div>
          </el-collapse-item>
          <el-collapse-item title="Positioning" name="2" :class="hasElement('2') ? 'showBorder' : ''">
            <div class="pd20 flex">
              <div class="position-li mr30">
                <p class="li-title">Align to</p>
                <el-select v-model="fromObj.os.positioning.alignTo" style="width: 130px;" placeholder="Please Select">
                  <el-option label="Right" value="right"></el-option>
                  <el-option label="Left" value="left"></el-option>
                </el-select>
              </div>
              <div class="position-li mr30">
                <p class="li-title">Side Margin</p>
                <div class="flex">
                  <el-input-number :step="1" @change="e => formatInteger(e, '1')" style="width: 130px;" v-model="fromObj.os.positioning.sideMargin" placeholder="Please" controls-position="right"  :min="0" :max="100"></el-input-number>
                  <span class="li-title ml10">px</span>
                </div>
              </div>
              <div class="position-li">
                <p class="li-title">Bottom Margin</p>
                <div class="flex">
                  <el-input-number  :step="1"  @change="e => formatInteger(e, '2')" style="width: 130px;" v-model="fromObj.os.positioning.bottomMargin" placeholder="Please" controls-position="right"  :min="0" :max="100"></el-input-number>
                  <span class="li-title ml10">px</span>
                </div>
              </div>
            </div>
          </el-collapse-item>
          <el-collapse-item v-if="fromObj.os.theme == 0" title="Additional Settings" name="3" :class="hasElement('3') ? 'showBorder' : ''">
            <div class="pd20">
              <!-- <div>
                <p class="li-title">Chat Access:</p>
                <el-select class="group" v-model="fromObj.os.additionalSettings.chatAccess" placeholder="Select a Group" style="width: 100%;">
                  <el-option
                    v-for="(item,key) in groupsList"
                    :key="key"
                    :label="item.groupName"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </div> -->
              <div>
                <p class="li-title">Title</p>
                <el-input v-model="fromObj.os.additionalSettings.windowTitle" maxlength="40" show-word-limit placeholder="Default title"></el-input>
              </div>
              <div class="mt20">
                <p class="li-title">Upload logo</p>
                <el-upload
                  class="avatar-uploader"
                  drag
                  :show-file-list="false"
                  :before-upload="e => beforeAvatarUpload(e, 'IMAGE')"
                  :http-request="e => uploadFile(e, 'IMAGE')"
                  action="/console/material/overseas/library/upload"
                  multiple>
                  <div v-if="imgUrl" class="avatar-main" @click.stop="">
                    <img :src="imgUrl" class="avatar" />
                    <div @click="deleteImg" class="el-delete-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <circle cx="11" cy="11" r="10.25" fill="#B9BAC8" stroke="white" stroke-width="1.5"/>
                        <path d="M15 7L7 15M15 15L7 7" stroke="white" stroke-width="2" stroke-linecap="round"/>
                      </svg>
                    </div>
                  </div>
                  <i class="el-iconupload" v-else></i>
                  <div class="el-upload__tip" slot="tip" style="color: #B9BAC8;">Click or drag to upload</div>
                </el-upload>
              </div>

              <div class="mt20">
                <p class="li-title">
                  Upload a video
                  <el-tooltip class="item" placement="top" effect="dark">
                    <div slot="content">Requesting video size to be within 50MB,in MP4 format,<br/>and recommended aspect ratio of 9:16</div>
                    <svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; top: 0px; margin-left: 5px;" width="14" height="14" viewBox="0 0 14 14" fill="none">
                      <path d="M14 7C14 3.13401 10.866 0 7.00001 0C3.13401 -2e-06 1e-06 3.134 0 7C-2e-06 10.866 3.13401 14 7 14C10.866 14 14 10.866 14 7ZM4.80835 5.6315C4.80835 4.42262 5.79097 3.44 6.99986 3.44C8.20873 3.44 9.19132 4.42262 9.19132 5.6315C9.19132 6.60163 8.44876 7.35248 7.70685 7.65455C7.5859 7.70488 7.4999 7.82451 7.4999 7.97008V8.7675H6.4999V7.97008C6.4999 7.41041 6.83875 6.931 7.32627 6.7298L7.32882 6.72875C7.82358 6.52775 8.19136 6.07185 8.19136 5.6315C8.19136 4.9749 7.65646 4.44 6.99986 4.44C6.34326 4.44 5.80835 4.9749 5.80835 5.6315H4.80835ZM6.47259 10.1734C6.47259 9.8823 6.70864 9.6462 6.99981 9.6462C7.29099 9.6462 7.52703 9.8823 7.52703 10.1734C7.52703 10.4646 7.29099 10.7007 6.99981 10.7007C6.70864 10.7007 6.47259 10.4646 6.47259 10.1734Z" fill="#CED0D5"/>
                    </svg>
                  </el-tooltip>
                </p>
                <el-upload
                  class="video-uploader"
                  drag
                  :show-file-list="false"
                  :before-upload="e => beforeAvatarUpload(e, 'VIDEO')"
                  :http-request="e => uploadFile(e, 'VIDEO')"
                  action="/console/material/overseas/library/upload"
                  v-loading="uploading"
                  :on-change="uploadVideoProcess"
                  multiple>
                  <div v-if="videoUrl" class="video-main" @click.stop="">
                    <video preload="metadata" style="width: calc(100% + 2px);  border-radius: 5px; position: relative; left: -1px; height: 100%; object-fit: cover; "  @click="videoVisibleBtn()">
                      <source :src="videoUrl" type="video/mp4">
                    </video>
                    <div @click="deleteVideo" class="el-delete-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <circle cx="11" cy="11" r="10.25" fill="#B9BAC8" stroke="white" stroke-width="1.5"/>
                        <path d="M15 7L7 15M15 15L7 7" stroke="white" stroke-width="2" stroke-linecap="round"/>
                      </svg>
                    </div>
                  </div>
                  <span class="el-iconupload" v-else>+ New videos</span>
                </el-upload>
                <el-progress v-if="uploading" stroke-width="2" :show-text="false" color="#338AFF" style="width: 110px;" :percentage="progressPercent"></el-progress>
                <div class="el-upload__tip" style="color: #B9BAC8;">Click or drag to upload</div>
              </div>
            </div>
          </el-collapse-item>
        </el-collapse>
        
        <div class="btnFlex">
          <el-button class="saveBtn"  @click="saveConfiig" :disabled="uploading" v-loading="uploading">Save</el-button>
        </div>
      </div>
    </div>
    <div class="c-r">
      <div class="c-r-main">
        <basePreview v-show="fromObj.os.theme == 0" :title="fromObj.os.additionalSettings.windowTitle" :imgUrl="imgUrl" :position="fromObj.os.positioning.alignTo" :padding="fromObj.os.positioning.sideMargin / 5" :bottom="fromObj.os.positioning.bottomMargin / 5"></basePreview>
        <catPreview  v-show="fromObj.os.theme == 1" :position="fromObj.os.positioning.alignTo" :padding="fromObj.os.positioning.sideMargin / 5" :bottom="fromObj.os.positioning.bottomMargin / 5"></catPreview>
      </div>
    </div>

    <el-dialog  width="360px" top="5%" custom-class="show-modal" append-to-body show-header="false" @close="closeVideo" :visible.sync="videoVisible">
      <div class="video-show">
        <video @click="toggleVideo" loop ref="videoPlayer"style="width: 100%;" :src="videoUrl"></video>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" class="closeVideo" @click="closeVideo" height="30" viewBox="0 0 30 30" fill="none">
          <circle cx="15" cy="15" r="15" fill="#0C0C23" fill-opacity="0.4"/>
          <path d="M21 9L9 21M21 21L9 9" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
        <div class="showVideo"  @click="toggleMute">
          <svg xmlns="http://www.w3.org/2000/svg" v-if="!isMuted" width="22" height="16" viewBox="0 0 22 16" fill="none">
            <path d="M19.1945 3.70932C20.8838 6.4612 21.1224 10.1237 19.5154 13.3647M15.6356 5.50925C17.0615 7.2193 17.2629 9.4953 15.9065 11.5093M10.9999 1.43359L6.2935 5.25134H1.3999V10.7482L6.2935 10.7469L10.9999 14.5665V1.43359Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" v-if="isMuted" width="22" height="16" viewBox="0 0 22 16" fill="none">
            <path d="M20.6 5.50952L18.2 7.9095M18.2 7.9095L15.8 10.3095M18.2 7.9095L20.6 10.3095M18.2 7.9095L15.8 5.50952M11.0172 1.43359L6.35012 5.25161H1.40002V10.7485L6.35012 10.7471L11.0172 14.5665V1.43359Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="showVideoBtn" v-if="videoFlag" @click.stop="playVide">
          <svg xmlns="http://www.w3.org/2000/svg"   width="16" height="20" viewBox="0 0 16 20" fill="none">
            <path d="M14.144 8.8664C15.5495 9.6787 15.5547 10.7004 14.144 11.6188L3.24421 19.2421C1.87468 20 0.94452 19.5525 0.84688 17.9125L0.800631 1.95705C0.769801 0.44635 1.96975 0.0195299 3.11317 0.74383L14.144 8.8664Z" fill="white"/>
          </svg>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import basePreview from './Base.vue';
import catPreview from './Cat.vue';
export default {
  data() {
    return {
      loading: false,
      groupsList: [],
      imgUrl: '',
      videoUrl: '',
      objectName: '',
      windowVideoObjectName: '',
      videoVisible: false,
      fromObj: {
        os: {
          theme: 0,
          additionalSettings: {chatAccess: ''},
          positioning: {
            alignTo: '',
            bottomMargin: '',
            sideMargin: '',
            windowTitle: '',
            windowLogoObjectName: '',
            windowLogo: '',
            windowVideo: '',
            windowVideoObjectName: ''
          }
        }
      },
      configId: '', // 获取当前的网页样式id  有且只有一个网页样式id
      activeNames: ['1', '2','3'],
      videoFlag: false,
      isMuted: false,
      uploading: false,
      progressPercent: 0,
      interval: null
    };
  },
  components: {
    basePreview, catPreview
  },
  created() {
    this.getConfigId();
  },
  computed: {},
  methods: {
    deleteImg() {
      this.imgUrl = '';
      this.objectName = '';
    },
    deleteVideo() {
      this.videoUrl = '';
      this.objectName = '';
    },
    uploadVideoProcess(file) {
      console.log(file, 'file');
      this.progressPercent = 0;
      if (file.status == 'ready') {
        this.interval = setInterval(() => {
          if (this.progressPercent >= 80) {
            clearInterval(this.interval);
            return;
          }
          this.progressPercent += 1; //进度条进度
        }, 300);
      }
    },
    beforeAvatarUpload(params, val){
      if (val == 'IMAGE') {
        const isLt2M = params.size / 1024 / 1024 < 1;
        if (!isLt2M) {
          this.$message.warning('File uploads must not exceed 1MB in size!');
          return false;
        }
        const isIMG = params.type === 'image/jpg'||  params.type === 'image/png' ||  params.type === 'image/jpeg'
        if (!isIMG) {
          this.$message.error('Avatar image uploads only support jpg and png formats.')
          return false;
        }
      } else {
        this.uploading = true;
      }
    },
    uploadFile(param, val) {
      const formData = new FormData()
      formData.append('file', param.file) // 要提交给后台的文件
      formData.append('jsSkinConfId', this.configId)
      formData.append('fileEnum', val)
      formData.append('windowLogoObjectName', val == 'IMAGE' ? this.objectName : this.windowVideoObjectName);
      window.EWebPlat.platService(window.webClientApiMap.consoleWeb.uploadPictureHw, formData).then(res => {
        if (res.code == 0) {
          if (val == 'IMAGE') {
            this.imgUrl = res.data.url;
            this.objectName = res.data.objectName;
          } else if(val == 'VIDEO') {
            this.videoUrl = res.data.url;
            this.windowVideoObjectName = res.data.objectName;
            this.progressPercent = 100;
            this.uploading = false;
          }
        } else {
          if (val == 'IMAGE') {
            this.imgUrl = '';
            this.objectName = ''
          } else if(val == 'VIDEO') {
            this.videoUrl = '';
            this.windowVideoObjectName = '';
            this.progressPercent = 0;
            this.uploading = false;
          }
          this.$message.error(res.msg)
        }
      }).catch(() => {
        this.uploading = false;
        this.progressPercent = 0;
      })
    },
    formatInteger(e,value) {
      if (e === null || e === undefined) {
        return '';
      }
      if (value == '1') {
        this.fromObj.os.positioning.sideMargin = Math.floor(e).toString();
      } else if (value == '2') {
        this.fromObj.os.positioning.bottomMargin = Math.floor(e).toString();
      } 
    },
    hasElement(target) {
      return this.activeNames.includes(target);
    },
    // get congigId
    async getConfigId() {
      let params = {
        page: 1,
        limit: 20,
        searchField: "configId",
        keyword: "",
        promotionId: "",
        isDefault:"1"
      };
      let res = await window.EWebPlat.platService(window.webClientApiMap.consoleWeb.jsConfigPageJsConfig, params);
      if (res.code == 0 && res.data.rows && res.data.rows.length) {
        this.configId = res.data.rows[0].configId;
        this.getConfigDetail(res.data.rows[0].configId);
      }
    },
    async getConfigDetail(configId) {
      this.loading = true;
      let res = await window.EWebPlat.platService(window.webClientApiMap.consoleWeb.newStyleConfigDetail, {configId});
      if (res.code == 0) {
        res.data.groups.map(item => {
          item.id = String(item.id);
        });
        this.groupsList = res.data.groups;
        this.fromObj = Object.assign({}, res.data.config, {});
        this.imgUrl = this.fromObj.os.additionalSettings.windowLogo;
        this.videoUrl = this.fromObj.os.additionalSettings.windowVideo
        this.objectName = this.fromObj.os.additionalSettings.windowLogoObjectName;
        this.windowVideoObjectName = this.fromObj.os.additionalSettings.windowVideoObjectName;
        console.log(this.fromObj, 'from');
        this.loading = false;
      }
    },
    saveConfiig() {
      this.fromObj.os.additionalSettings.windowLogo = this.imgUrl;
      this.fromObj.os.additionalSettings.windowVideo = this.videoUrl;
      this.fromObj.os.additionalSettings.windowLogoObjectName = this.objectName
      this.fromObj.os.additionalSettings.windowVideoObjectName = this.windowVideoObjectName
      let params = {
        config: this.fromObj,
        configId: this.configId,
        describe: "",
        groupId: null,
        promotionId: null,
        siteId: null
      };
      if (this.fromObj.os.theme == 0 && !this.fromObj.os.additionalSettings.windowTitle) {
        this.$message.warning('Title cannot be empty.')
        return false;
      }
      window.EWebPlat.platService(window.webClientApiMap.consoleWeb.newStyleConfigUpdate, params).then(res => {
        if (res.code == 0) {
          this.$message.success('Success');
        }
      });
    },
    videoVisibleBtn() {
      this.videoVisible = true;
      this.$nextTick(() => {
        const video = this.$refs.videoPlayer;
        video.play();
      })
    },
    toggleVideo() {
      const video = this.$refs.videoPlayer;
      if (video.paused) {
        video.play();
        this.videoFlag = false;
      } else {
        video.pause();
        this.videoFlag = true;
      }
    },
    closeVideo(){
      const video = this.$refs.videoPlayer;
      video.pause();
      this.videoVisible = false;
    },
    playVide() {
      const video = this.$refs.videoPlayer;
      video.play();
      this.videoFlag = false;
    },
    toggleMute() {
      const video = this.$refs.videoPlayer;
      video.muted = !video.muted;
      this.isMuted = video.muted;
    }
  }
};
</script>
<style>

</style>
<style lang="scss" scoped>
/deep/ .el-dialog__body{
  padding: 0px !important;
}
/deep/ .el-dialog__header{
  display: none;
}
/deep/ .el-dialog{
  background: transparent;
  box-shadow: none;
}
.show-modal{
  .video-show{
    width: 360px;
    height: 640px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    background: #303133;
    .closeVideo{
      width: 30px;
      height: 30px;
      flex-shrink: 0;
      position: absolute;
      right: 15px;
      top: 15px;
      cursor: pointer;
    }
    .showVideo{
      width: 30px;
      height: 30px;
      flex-shrink: 0;
      background: rgba(12, 12, 35, 0.40);
      border-radius: 50%;
      position: absolute;
      left: 20px;
      top: 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .showVideoBtn{
      width: 56px;
      height: 56px;
      background: rgba(12, 12, 35, 0.40);
      border-radius: 50%;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 50%;
      margin-left: -28px;
      top: 50%;
      margin-top: -28px;
      cursor: pointer;
    }
  }
}

.video-uploader {
  width: 110px;
  height: 142px;
  /deep/ .el-upload-dragger{
    display: flex;
    width: 110px;
    height: 142px;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }
  /deep/ .el-loading-spinner .circular{
    width: 30px !important;
    height: 30px !important;
  }
  .el-iconupload{
    color: #d9d9d9;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  /deep/ .el-upload:hover{
    border-color: #338AFF !important;
    .el-iconupload{
      color: #338AFF;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

::v-deep .video-main{
  position: relative;
  width: 110px;
  height: 142px;
  .el-delete-icon{
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    position: absolute;
    right: -8px;
    top: -8px;
  }
  .avatar{
    width: 110px;
    height: 142px;
    border-color: #338AFF !important;
    display: block;
    border-radius: 5px;
  }
}

::v-deep .avatar-main{
  position: relative;
  width: 88px;
  height: 88px;
  .el-delete-icon{
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    position: absolute;
    right: -5px;
    top: 5px;
  }
  .avatar{
    width: 88px;
    height: 88px;
    border-color: #338AFF !important;
    display: block;
    border-radius: 50%;
  }
}
.avatar-uploader{
  /deep/ .el-upload-dragger{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }
  .el-iconupload{
    width: 26px;
    display: inline-block;
    height: 26px;
    background: url('../../../../static/img/hw/upload.png') no-repeat;
    background-size: 100% 100%;
  }
  /deep/ .el-upload:hover{
    border-color: #338AFF !important;
    .el-iconupload{
      width: 26px;
      display: inline-block;
      height: 26px;
      background: url('../../../../static/img/hw/upload1.png') no-repeat;
      background-size: 100% 100%;
    }
  }
}


.btnFlex{
  width: 100%;
  display: flex;
  flex-direction:row-reverse;
}

.group{
  /deep/ .el-input--small .el-input__inner{
    border-radius: 5px !important;
  }
}
.ml5{
  margin-left: 5px;
}
.mr5{
  margin-right: 5px;
}
.mt20{
  margin-top: 20px;
}
// 嵌套动画
.c-r-main{
  width: 100%;
  height: calc(100% - 70px);
  position: relative;
}
/deep/ .el-select-dropdown__item.selected{
  color:#338AFF !important;
  font-size: 20px !important;
}
// /deep/ .el-select-dropdown__item.selected{
//   color:#338AFF !important;
// }
/deep/ .el-select .el-input.is-focus .el-input__inner{
  border-color: #338AFF !important;
}

// 头部线的处理
/deep/ .el-collapse-item__header{
  border: 1px solid #EEEEF1 !important;
  // border-bottom: 0px solid #EEEEF1 !important;
  padding-left: 20px;
  color: #333;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.showBorder {
  /deep/ .el-collapse-item__header {
    border-bottom: 0px solid #EEEEF1 !important;
    margin-right: 0px !important;
  }
}
/deep/ .el-collapse-item__header{
  margin-right: 0px !important;
}
/deep/ .el-collapse-item__arrow{
  padding-right: 10px;
}
/deep/ .el-collapse-item__content{
  border-left: 1px solid #EEEEF1 !important;
  border-right: 1px solid #EEEEF1 !important;
}
/deep/ .el-collapse-item{
  margin-bottom: 20px;
}
/deep/ .el-collapse{
  border-top: 0px solid #dfe4ed !important;
  border-bottom: 0px solid #dfe4ed !important;
}
/deep/.el-collapse-item__wrap{
  border-bottom: 1px solid #EEEEF1 !important;
}
/deep/ .el-radio.is-bordered.is-checked{
  border-color: #338AFF !important;
}
/deep/ .el-radio__input.is-checked .el-radio__inner{
  color:  #338AFF !important;
  border-color:#338AFF !important;
  background:#338AFF !important;
}
/deep/ .el-radio__input.is-checked + .el-radio__label{
  color: #338AFF !important;
}

// el-radio 样式的处理
/deep/ .el-radio-group{
  width: 100% !important;
}
/deep/ .el-radio--medium.is-bordered{
  width: calc(50% - 10px);
  height: 70px;
  padding: 27px 20px 0 20px;
  border-radius: 5px;
}
/deep/ .el-radio{
  margin-right: 0px !important;
}
/deep/ .el-radio.is-bordered + .el-radio.is-bordered{
  margin-left: 20px !important;
}

.customization{
  display: flex;
  height: 100%;
  .c-l{
    flex: 1;
    position: relative;
    overflow-y: auto;
    .saveBtn{
      width: 70px;
      height: 28px;
      flex-shrink: 0;
      border-radius: 14px;
      background: #338AFF;
      color: #FFF;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      text-align: center;
      line-height: 28px;
      cursor: pointer;
      border: none;
      padding: 0px !important;
      /deep/ .el-loading-spinner .circular{
        width: 16px !important;
        height: 16px !important;
      }
      /deep/ .el-loading-spinner{
        margin-top: -10px !important;
      }
    }
  }
  .c-r{
    width: 403px;
    background: #EEF0F5;
    position: relative;
  }
  
}
.mt20{
  margin-top: 20px;
}
.br{
  border-right: 1px solid #EEEEF1;
}
.pd20{
  padding: 10px 20px 0px 20px;
}
.pd20L{
  padding: 26px 20px;
}
.flex{
  display: flex;
}
.li-title{
  color: #606266;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  position: relative;
}
.mr30{
  margin-right: 30px;
}
.ml10{
  margin-left: 10px;
  position: relative;
  top: 3px;
}
.flex{
  display: flex;
  align-items: center;
}
</style>