<template>
  <div class="embedCode">
    <div class="embedCode-desc">Integrate the code onto your website to kickstart chats.</div>
    <div class="embedCode-desc1">Update: Chat widget is not set up; no chats are coming through.</div>
    <div class="embedCode-main">
      <div class="flex">
        <div class="text1">Insert this code right before the <span class="text2">&lt;/body&gt;</span> tag on each webpage.</div>
        <div class="copyBtn" @click="copyBtn">
          <img src="../../../../static/img/hw/copy-left.png" class="icon" alt="">
          Copy code
        </div>
      </div>
      <div class="code mt20">
        <div style="padding: 20px; line-height: 30px;">
          <div class="codeText">{{linktext1}}</div>
          <div class="codeText">{{linktext2}}</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      configId: null,
      companyId: null,
      lookCode: '',
      _link1: '',
      _link2: '',
      linktext1: '',
      linktext2: ''
    };
  },
  async created() {
    await this.getCompany();
    await this.getConfigId();
  },
  components: {
  },
  methods: {
    // 获取公司id  和网页样式id
    async getCompany() {
      
      let res = await window.EWebPlat.platService(window.webClientApiMap.consoleWeb.getWelcomePage1);
      if(res.code == 0){
        this.companyId = res.data.companyId;
      }
    },
    async getConfigId() {
      let params = {
        page: 1,
        limit: 20,
        searchField: "configId",
        keyword: "",
        promotionId: "",
        isDefault:"1"
      };
      let res = await window.EWebPlat.platService(window.webClientApiMap.consoleWeb.jsConfigPageJsConfig, params);
      if (res.code == 0 && res.data.rows && res.data.rows.length) {
        this.configId = res.data.rows[0].configId ;
        if (window.__sso == "prod" ) {
          this._link1 = 'https://scripts.upbeat.chat/js/upbeat.js';
          this._link2 = `https://scripts.upbeat.chat/javascript/${this.companyId}/${this.configId}.js`
        } else if (window.__sso == "pre") {
          this._link1 = 'https://scripts.upbeat.chat/js/upbeat.js';
          this._link2 = `https://pre.upbeat.chat/javascript/${this.companyId}/${this.configId}.js`
        } else {
          this._link1 = 'https://scripts.upbeat.chat/js/upbeat.js';
          this._link2 = `https://test19.easyliao.com/javascript/${this.companyId}/${this.configId}.js`
        }

        this.linktext1 = `<script type="text/javascript" src="${this._link1}"><\/script>`
        this.linktext2 = `<script type="text/javascript" src="${this._link2}"><\/script>`
        this.lookCode = `<script type="text/javascript" src="${this._link1}"><\/script><script type="text/javascript" src="${this._link2}"><\/script>`;
      }
    },
    copyBtn() {
      const _input = document.createElement("input"); // 直接构建input
      _input.value = this.lookCode; // 设置内容
      document.body.appendChild(_input); // 添加临时实例
      _input.select(); // 选择实例内容
      document.execCommand("Copy"); // 执行复制
      this.$message.success('Copy Success');
      document.body.removeChild(_input); // 删除临时实例
    }
  }
};
</script>
<style lang="scss" scoped>
.embedCode{
  &-title{
    height: 60px;
    flex-shrink: 0;
    border-bottom: 1px solid #EEEEF1;
    color: #333;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    padding-left: 20px;
    line-height: 60px; /* 100% */
  }
  &-desc{
    color: #333;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    padding-top: 20px;
  }
  &-desc1{
    color: #333;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    padding-top: 15px;
  }
  &-main{
    width: 672px;
    // height: 436px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #EEEEF1;
    background: #FFF;
    margin-top: 24px;
    margin-left: 20px;
    padding: 30px;
    .flex{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .copyBtn{
        cursor: pointer;
        display: flex;
        padding: 8px 10px;
        align-items: flex-start;
        border-radius: 5px;
        background: #338AFF;
        color: #FFF;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        .icon{
          width: 14px;
          height: 14px;
          margin-right: 5px;
          display: inline-block;
          position: relative;
          top: 2px;
        }
      }
    }
    .text1{
      color: #606266;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .text2{
      color: #338AFF;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .code{
      width: 460px;
      // height: 268px;
      flex-shrink: 0;
      background: #EDEEF1;
      position: relative;
      margin: 40px auto;
      border-radius: 5px;
    }
    .codeText{
      color: #606266;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 185.714% */
    }
  }
}
.mt20{
  margin-top: 20px;
}
</style>