<!--
 * @Author: 段丽军
 * @Date: 2023-10-31 23:41:23
 * @LastEditTime: 2023-12-13 21:50:13
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /hw-web-client-view/src/views/chat/chatContent/chatTools/commonWord.vue
-->
<template>
  <div style="min-height: 0; display: flex; flex-direction: column;">
    <div style="padding: 10px;">
      <el-input v-model="searchValue" size="small" prefix-icon="el-icon-search"
        :placeholder="$ELCONFIG.chat.chatContent.GeneralInputSearchPlaceholder" @input="input" clearable></el-input>
    </div>

    <!-- 未来添加个人常用语时需要恢复 -->
    <!-- <div style="padding: 10px;">
      <el-tabs v-model="type2">
        <el-tab-pane v-for="item in type2s" :key="item.value" :label="item.label" :name="item.value"></el-tab-pane>
      </el-tabs>
    </div> -->

    <!-- 树形结构 -->
    <div class="content" v-show="!searchValue">
      <el-tree :props="defaultProps" lazy :load="loadNode" :indent="3">
        <div class="custom-tree-node pl-5 pr-10" slot-scope="{ data }">
          <div class="group-node" v-if="data.type === 'group'">
            {{ data.title }}
          </div>
          <div class="content-node flex" style="margin-left: -24px;" @click="clickItem(data.content)" v-else>
            <div class="flex">
              <div class="content-node-send flex flex-column ai-center mr-8">
                <el-tooltip class="item" effect="dark" :content="$ELCONFIG.chat.chatContent.GeneralSendBtn" placement="top" :open-delay="300" :enterable="false">
                  <div class="send-icon iconfont icon-changyongyu-fasong" font="14" @click.stop="sendTextUtil(data.content, 'send')"></div>
                </el-tooltip>
              </div>
              <div class="content-node-icon mr-5 iconfont icon-changyongyu" font="14"></div>
            </div>
            <div class="flex flex-column" style="flex: 1; min-width: 0;">
              <div class="content-node-title shenglue">{{ data.title }}</div>
              <div class="content-node-content shenglue mt-8">{{ data.previewContent }}</div>
            </div>
          </div>
        </div>
      </el-tree>
    </div>

    <!-- 搜索结果 -->
    <div class="content" v-infinite-scroll="searchQuery" infinite-scroll-disabled="disabled" v-if="searchValue">
      <div class="custom-tree-node pl-5 pr-10 search-item" v-for="(item, index) in searchList" :key="index">
        <div class="content-node flex" @click="clickItem(item.content)">
          <div class="flex">
            <div class="content-node-send mr-8">
              <el-tooltip class="item" effect="dark" :content="$ELCONFIG.chat.chatContent.GeneralSendBtn" placement="top" :open-delay="300" :enterable="false">
                <div class="send-icon iconfont icon-changyongyu-fasong" font="14" @click.stop="sendTextUtil(item.content, 'send')"></div>
              </el-tooltip>
            </div>
            <div class="content-node-icon mr-5 iconfont icon-changyongyu" font="14"></div>
          </div>
          <div class="flex flex-column" style="flex: 1; min-width: 0;">
            <div class="content-node-title shenglue">{{ item.title }}</div>
            <div class="content-node-content shenglue mt-8">{{ item.previewContent }}</div>
          </div>
        </div>
      </div>

      <div class="load-tips" v-if="loading">{{ $ELCONFIG.chat.chatContent.GeneralLoadingTips }}</div>
      <div class="load-tips" v-if="noMore">{{ $ELCONFIG.chat.chatContent.GeneralNoMoreTips }}</div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      searchValue: null,
      // type2: "1",
      // type2s: [
      //   { label: "个人", value: "1" },
      //   { label: "公司", value: "2" }
      // ],
      // 树形结构
      defaultProps: {
        children: "children",
        isLeaf: "leaf"
      },

      // 搜索相关
      searchList: [],
      pageNumber: 1,
      pageSize: 10,
      loading: false,
      noMore: false,

      // 输入禁用
      inputTimer: null,
      moreDisabled: false,

      // 单击双击 事件
      isClick: false,
      clickTimer: null
    };
  },
  computed: {
    disabled () {
      return this.moreDisabled || this.loading || this.noMore;
    }
  },
  //方法集合
  methods: {
    // 加载树
    async loadNode(node, resolve) {
      let pid;
      if (node.level === 0) {
        pid = 0;
      } else {
        pid = node.data.id;
      }
      const params = {
        pid,
        scope: 0
      };
      let res;
      try {
        res = await window.EWebPlat.platService(window.webClientApiMap.clientWebcall.commonWordTree, params);
      } catch (error) {
        console.error(error);
        return resolve([]);
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return resolve([]);
      }

      const data = (res.data || []).map(item=> {
        let previewContent;
        if(item.isdir !== "1") {
          const el = document.createElement("div");
          el.innerHTML = `<div>${item.content}</div>`;
          previewContent = el.innerText;
        }
        return {
          id: item.id,
          title: item.title,
          content: item.content,
          previewContent,
          type: item.isdir === "1" ? "group" : "content",
          leaf: item.isdir !== "1"
        };
      });
      resolve(data);
    },
    input(val) {
      if(this.inputTimer) {
        // 之前存在计时器，先清除计时器
        window.clearTimeout(this.inputTimer);
      }
      this.moreDisabled = true; // 停用触底加载逻辑

      if(!val) {
        // 没有搜索词，清空搜索之前结果，不进行后续查询操作
        this.searchList = [];
        this.moreDisabled = true; // 启用触底加载逻辑
        return;
      }

      // 输入计时器，防抖
      this.inputTimer = window.setTimeout(() => {
        this.moreDisabled = false; // 启用触底加载逻辑
        this.pageNumber = 1; // 页码重置为
        this.searchQuery(); // 开始加载
      }, 300);
    },
    // 搜索查询
    async searchQuery() {
      const params = {
        pageNum: this.pageNumber,
        pageSize: this.pageSize,
        searchWord: this.searchValue
      };
      let res;
      try {
        this.loading = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.clientWebcall.commonWordSearch, params);
        this.loading = false;
      } catch (error) {
        this.loading = false;
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      const data = res?.data;
      const newData = (data?.rows || []).map(item => {
        const el = document.createElement("div");
        el.innerHTML = `<div>${item.content}</div>`;
        const previewContent = el.innerText;
        return { title: item.title, content: item.content, previewContent };
      });
      if(this.pageNumber === 1) {
        // 加载第一页数据，直接替换原有数据
        this.searchList = newData;
      } else {
        // 加载第二页及以后的数据，进行累加操作
        this.searchList.push(...newData);
      }
      this.pageNumber++; // 页码加 1，用于后续数据加载

      // 加载完成逻辑
      if(data.total <= (this.pageNumber-1) * this.pageSize) {
        this.noMore = true;
      } else {
        this.noMore = false;
      }
    },
    clickItem(msg) {
      if(this.isClick) {
        this.isClick = false;
        window.clearTimeout(this.clickTimer);
        this.sendTextUtil(msg, "send");
        return;
      }

      this.isClick = true;
      this.clickTimer = window.setTimeout(() => {
        this.isClick = false;
        this.sendTextUtil(msg, "input");
      }, 300);
    },
    sendTextUtil(msg, type) {
      this.$emit("sendText", { msg, type });
    }
  }
};
</script>
<style lang='scss' scoped>
::v-deep.el-input input {
  border-radius: 16px;
}
.shenglue {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  .load-tips {
    color: #bbb;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
}
.search-item {
  cursor: pointer;
}
.search-item:hover {
  background-color: #f5f7fa;
}
.custom-tree-icon {
  color: red;
}
.custom-tree-node {
  font-size: 12px;
  line-height: 12px;
  padding: 12px;
  min-height: 35px;
  width: 100%;
  .group-node {
    font-weight: 500;
    color: #333333;
  }
  &:hover .content-node-send .send-icon {
    display: block;
  }
  .content-node {
    font-weight: 400;
    height: 100%;
    width: 100%;
    &-send {
      width: 14px;
      height: 100%;
      & .send-icon {
        display: none;
        color: var(--layoutMain-6359CA) ;
      }
    }
    &-icon {
      color: #D1D4E4;
    }
    &-title {
      color: var(--layoutMain-6359CA) ;
    }
    &-content {
      color: #606266;
      flex: 1;
    }
  }
}
::v-deep .el-tree {
  .el-tree-node__content {
    height: auto;
  }
}

</style>