<!--
 * @Author: 段丽军
 * @Date: 2023-10-31 23:40:49
 * @LastEditTime: 2023-12-13 16:46:24
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /hw-web-client-view/src/views/chat/chatContent/chatTools/visitorCard.vue
-->
<template>
  <div class="visitor-card">
    <div style="flex: 1; overflow: auto; padding: 20px 15px;">
      <el-form ref="formRef" :model="formData" size="small" label-width="60px" label-position="top">
        <el-form-item :prop="item.prop" :label="item.label" v-for="(item, index) in formItems" :key="index"
          :rules="[{ required: item.required, trigger: 'blur', message: $ELCONFIG.chat.chatContent.LeadFormRequiredTips }]">
          <component :is="item.type" v-model="formData[item.prop]" :data="item.data" :options="item.options" :placeholder="item.label" style="width: 100%;"></component>
        </el-form-item>
      </el-form>
    </div>
    <div style="padding: 10px 15px; text-align: right;">
      <e-button-n class="w-70" type="primary" size="mini" round @click="submit" :loading="loading" style="border-radius: 50px;">{{ $ELCONFIG.chat.chatContent.LeadSaveLeadBtn }}</e-button-n>
    </div>
  </div>
</template>

<script>
import inputCom from "./visitorCom/inputCom.vue";
import selectCom from "./visitorCom/selectCom.vue";
import dateCom from "./visitorCom/dateCom.vue";
import noneCom from "./visitorCom/noneCom.vue";
export default {
  components: {
    inputCom,
    selectCom,
    dateCom,
    noneCom
  },
  props: {
    // 原始对话信息
    rawChatInfo: {
      type: Object,
      default: () => {}
    },
    //
    rawVisitorinfo: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      loading: false,
      formData: {},
      formItems: []
    };
  },
  watch: {
    "rawChatInfo.chatId": {
      handler(nv, ov) {
        if(nv === ov) {
          return;
        }
        // 对话切换首先清空数据
        this.loading = false;
        this.formData = {};
        // this.formItems = [];
      },
      deep: true,
      immediate: true
    },
    rawVisitorinfo: {
      handler(nVal) {
        console.log("visitorCard.vue rawVisitorinfo ------- ", this.rawVisitorinfo);
        this.$refs.formRef?.resetFields();
        this.formData = { ...nVal?.payload?.data || {} };
        if(!this.formData.name) {
          this.formData.name = this.rawChatInfo?.nickName || "";
        }
      },
      deep: true,
      immediate: true
    }
  },
  mounted() {
    this.loadFields();
  },
  methods: {
    async loadFields() {
      let res;
      try {
        this.loading = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.clientWebcall.visitorinfoFields);
        this.loading = false;
      } catch (error) {
        this.loading = false;
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      // 组件类型映射
      const compMap = {
        // 文本框
        "0": {
          comp: "inputCom"
        },
        // 下拉框
        "1": {
          comp: "selectCom"
        },
        // 文本区域
        "2": {
          comp: "inputCom",
          options: {
            type: "textarea"
          }
        },
        // 日期
        "3": {
          comp: "dateCom",
          options: {
            type: "date",
            valueFormat: "yyyy-MM-dd"
          }
        }
        // 下拉框(项目/校区)
        // "4": "",
        // 标签类型
        // "5": "",
      };

      this.formItems = (res.data || []).filter(item => item.hidden === 1).map(item => ({
        prop: item.colName,
        label: item.selfText,
        type: item.colName === "sex" ? "selectCom" : compMap[item.colType]?.comp || "noneCom",
        data: item.colName === "sex" ? [
          { label: this.$ELCONFIG.chat.chatContent.LeadOptionUnknown, value: "2" },
          { label: this.$ELCONFIG.chat.chatContent.LeadOptionMan, value: "0" },
          { label: this.$ELCONFIG.chat.chatContent.LeadOptionWoman, value: "1" }
        ] : (item.items || []).map(item2 => ({ label: item2.itemName, value: item2.id })),
        options: compMap[item.colType]?.options || {},
        required: item.required === 1
      }));
    },
    async submit() {
      const valid = await new Promise(resovle => this.$refs.formRef.validate(valid2 => resovle(valid2)));
      if(!valid) {
        return;
      }
      let params = {};
      this.formItems.forEach(item => {
        params[item.prop] = this.formData[item.prop];
      });
      const { chatId, visitorId } = this.rawChatInfo || {};
      params = {
        chatId,
        visitorStaticId: visitorId,
        id: this.rawVisitorinfo.id,
        ...params
      };

      let res;
      try {
        this.loading = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.clientWebcall.visitorinfoSave, params);
        this.loading = false;
      } catch (error) {
        this.loading = false;
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      this.$message.success(this.$ELCONFIG.chat.chatContent.LeadOperSuccess);
    }
  }
};
</script>x
<style lang='scss' scoped>
.visitor-card {
  min-height: 0;
  display: flex;
  flex-direction: column;
}
::v-deep .el-form {
  .el-form-item {
    margin-bottom: 20px;
    .el-form-item__label {
      font-size: 12px;
      line-height: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
::v-deep .el-input {
  font-size: 12px;
}
</style>