<template>
  <div class="flex flex-column" style="min-width: 0; min-height: 0; width: 100%; height: 100%; background-color: white;">
    <titleComp :title="$ELCONFIG.aiRobot.titleHome"></titleComp>


    <div class="car-box h-165 plr-20 ptb-14 flex">
      <div class="car-box-item flex flex-column" v-for="(item, index) in cardList" :key="index">
        <div class="car-box-item-title">
          <div class="car-box-item-title-text" :title="item.title">{{item.title}}</div>
          <div class="car-box-item-title-select ml-5" v-if="item.style === '2'">
            <el-dropdown size="mini" @command="changeRange($event, item)">
              <span class="el-dropdown-link" style="color: #878787; font-size: 12px; font-weight: 400;">
                {{ rangeFormat(item.range) }}<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item :command="itemT.value" v-for="itemT in typeOptions" :key="itemT.value">{{itemT.label}}</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>
        <div class="car-box-item-number">{{item.number.toLocaleString("en-US")}}</div>
        <div class="car-box-item-tip">
          <template v-if="item.style === '1'">
            <span>{{ item.tip }}</span>
            <span class="car-box-item-tip-value">{{ item.tipValue === null ? "-" : item.tipValue }}</span>
          </template>
          <template v-else-if="item.style === '2'">
            <svg v-if="(item.tipValue && item.tipValue >= 0) || item.tipValue === '-'" xmlns="http://www.w3.org/2000/svg" width="29" height="24" viewBox="0 0 29 24" fill="none">
              <path d="M19.4163 6L22.1237 8.29L16.3543 13.17L11.6252 9.17L2.86475 16.59L4.53172 18L11.6252 12L16.3543 16L23.8025 9.71L26.5098 12V6H19.4163Z" fill="#00B69B"/>
            </svg>
            <svg v-else xmlns="http://www.w3.org/2000/svg" width="24" height="12" viewBox="0 0 24 12" fill="none">
              <path d="M16.9163 12L19.6237 9.71L13.8543 4.83L9.12525 8.83L0.364746 1.41L2.03172 0L9.12525 6L13.8543 2L21.3025 8.29L24.0098 6V12H16.9163Z" fill="#F3413C"/>
            </svg>
            <span class="car-box-item-tip-value2" :style="{
              color: ((item.tipValue && item.tipValue >= 0) || item.tipValue === '-') ? '#00B69B' : '#F3413C'
            }">{{ item.tipValue === null ? "-" : item.tipValue }}% </span>
            <span>{{ item.tip +" "+ rangeFormat(item.range, "tip") }}</span>
          </template>
        </div>
      </div>
    </div>

    <tableComp></tableComp>

  </div>
</template>

<script>
import titleComp from "./common/titleComp.vue";
import tableComp from "./common/tableComp.vue";

//例如：import 《组件名称》 from '《组件路径》';

export default {
  components: {titleComp, tableComp},
  data() {
    return {
      typeOptions: [
        { label: this.$ELCONFIG.aiRobot.optionDay, value: "1", tip: "yesterday" },
        { label: this.$ELCONFIG.aiRobot.optionWeek, value: "2", tip: "last week" },
        { label: this.$ELCONFIG.aiRobot.optionMonth, value: "3", tip: "last month" }
      ],
      cardList: [
        { type: "AI_CHAT_TOTAL", title: this.$ELCONFIG.aiRobot.cardTitle1, number: 0, tip: this.$ELCONFIG.aiRobot.cardTip1, tipValue: null, style: "1" },
        { type: "VISITORS", title: this.$ELCONFIG.aiRobot.cardTitle2, number: 0, tip: this.$ELCONFIG.aiRobot.cardTip2, tipValue: null, range: "1", style: "2" },
        { type: "EFF_CHATS_AI", title: this.$ELCONFIG.aiRobot.cardTitle3, number: 0, tip: this.$ELCONFIG.aiRobot.cardTip2, tipValue: null, range: "1", style: "2" },
        { type: "CLUES", title: this.$ELCONFIG.aiRobot.cardTitle4, number: 0, tip: this.$ELCONFIG.aiRobot.cardTip2, tipValue: null, range: "1", style: "2" }
      ]
    };
  },
  mounted() {
    this.loadData(this.cardList.map(item=> item.type), "1");
  },
  //方法集合
  methods: {
    rangeFormat(range, key = "label") {
      return this.typeOptions.find(item => item.value === range)?.[key] || "-";
    },
    changeRange(val, item) {
      item.range = val;
      this.loadData([item.type], item.range);
    },
    // 加载列表数据
    async loadData(metricsList, type) {
      const params = { metricsList, type };
      let res;
      try {
        res = await window.EWebPlat.platService(window.webClientApiMap.clientWebcall.metricsCompare, params);
      } catch (error) {
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      const newData = res.data;
      if(metricsList.includes("AI_CHAT_TOTAL")) {
        this.cardList[0].tipValue = newData.BILL_DATE || null;
        this.cardList[0].number = newData.AI_CHAT_TOTAL || 0;
      }
      if(metricsList.includes("VISITORS")) {
        this.cardList[1].tipValue = newData.VISITORS_COMPARE || null;
        this.cardList[1].number = newData.VISITORS || 0;
      }
      if(metricsList.includes("EFF_CHATS_AI")) {
        this.cardList[2].tipValue = newData.EFF_CHATS_AI_COMPARE || null;
        this.cardList[2].number = newData.EFF_CHATS_AI || 0;
      }
      if(metricsList.includes("CLUES")) {
        this.cardList[3].tipValue = newData.CLUES_COMPARE || null;
        this.cardList[3].number = newData.CLUES || 0;
      }
      this.cardList = JSON.parse(JSON.stringify(this.cardList));
    }
  }
};
</script>
<style lang='scss' scoped>
.car-box {
  &-item {
    & + & {
      margin-left: 18px;
    }
    flex: 1;
    height: 100%;
    border-radius: 12px;
    border: 0.6px solid #F1F1F1;
    background: #FFF;
    box-shadow: 3px 3px 18px -4px rgba(0, 0, 0, 0.05);
    color: #101828;
    padding: 18px 16px;
    &-title {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-text {
        white-space: nowrap; /* 不换行 */
        overflow: hidden;    /* 隐藏超出部分 */
        text-overflow: ellipsis; /* 显示省略号 */
        flex: 1;
      }
      &-select {
        min-width: 52px;
        text-align: right;
      }
    }
    &-number {
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
    }
    &-tip {
      color: #666;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      white-space: nowrap;
      &-value {
        color: #222;
        font-weight: 500;
        margin-left: 9px;
      }
      &-value2 {
        margin-left: 9px;
        margin-right: 4px;
      }
    }
    & > div + div {
      margin-top: 10px;
    }
  }
}
</style>./common/titleComp.vue./common/tableComp.vue