<template>
  <div class="flex flex-column" style="min-width: 0; min-height: 0; width: 100%; height: 100%; background-color: white;">
    <titleComp :title="$ELCONFIG.aiRobot.titleManage"></titleComp>

    <div class="h-72px plr-20 ptb-14">
      <div class="mb-8" style="color: #333; font-size: 14px; font-weight: 400; line-height: 12px;">Company website
        <!-- <el-popover placement="top" trigger="hover" :content="$ELCONFIG.aiRobot.updateTip">
          <i slot="reference" class="el-icon-info" style="color: #CED0D4; font-size: 14px;"></i>
        </el-popover> -->

        <el-tooltip placement="top">
          <pre slot="content">{{ $ELCONFIG.aiRobot.updateTip }}</pre>
          <i class="el-icon-info" style="color: #CED0D4; font-size: 14px;"></i>
        </el-tooltip>
      </div>
      <div class="flex" style="justify-content: flex-start;">
        <el-input size="medium" v-model="value" placeholder="https://example.com" class="w-280 mr-8"></el-input>
        <el-button type="primary" size="medium" :disabled="valueCheck" @click="submit" :loading="loading.update">{{$ELCONFIG.aiRobot.updateBtn}}</el-button>
      </div>
    </div>

    <tableComp></tableComp>

  </div>
</template>

<script>
import titleComp from "./common/titleComp.vue";
import tableComp from "./common/tableComp.vue";

//例如：import 《组件名称》 from '《组件路径》';

export default {
  components: {titleComp, tableComp},
  data() {
    return {
      loading: {
        update: false
      },
      oldValue: "",
      value: ""
    };
  },
  computed: {
    valueCheck() {
      if(!this.value || !this.value.trim() || this.oldValue === this.value.trim()) {
        return true;
      }
      return !/^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w.-]+)+[\w\-._~:/?#[\]@!$&'*+,;=.]+$/.test(this.value.trim());
    }
  },
  mounted() {
    this.getCompanyInfo();
  },
  //方法集合
  methods: {
    // 加载列表数据
    async getCompanyInfo() {
      let res;
      try {
        res = await window.EWebPlat.platService(window.webClientApiMap.authEupms.getCompanyInfo);
      } catch (error) {
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      this.oldValue = res.data?.company.site || "";
      this.value = this.oldValue;
    },
    // 加载列表数据
    async submit() {
      const params = { site: this.value.trim() };
      let res;
      try {
        this.loading.update = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.authEupms.changeSite, params);
        this.loading.update = false;
      } catch (error) {
        this.loading.update = false;
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      this.$message.success(this.$ELCONFIG.operSuccess);
      this.getCompanyInfo();
      this.value = "";
    }
  }
};
</script>
<style lang='scss' scoped>
</style>