<template>
  <div class="flex flex-column" style="min-width: 0; min-height: 0; width: 100%; height: 100%; background-color: white; overflow: auto;">
    <titleComp :title="$ELCONFIG.aiRobot.titleTest" :isSwitch="false"></titleComp>
    <div class="flex ai-center jc-center" style="flex: 1;">
      <chatBox ref="ChatBox" @min="isOpen = false" v-show="isOpen"></chatBox>


      <svg v-show="!isOpen" class="chat-icon" @click="open" xmlns="http://www.w3.org/2000/svg" width="85" height="84" viewBox="0 0 85 84" fill="none">
        <g filter="url(#filter0_d_820283_4290)">
          <path d="M42.5 71C60.7254 71 75.5 56.2254 75.5 38C75.5 19.7746 60.7254 5 42.5 5C24.2746 5 9.5 19.7746 9.5 38C9.5 56.2254 24.2746 71 42.5 71Z" fill="#338AFF"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M27.1782 46.8263C25.6789 44.2292 24.821 41.2152 24.821 38.0008C24.821 28.2372 32.736 20.3223 42.4996 20.3223C52.2633 20.3223 60.1782 28.2372 60.1782 38.0008C60.1782 47.7645 52.2633 55.6794 42.4996 55.6794H28.3568C27.7058 55.6794 27.1782 55.1518 27.1782 54.5008V46.8263Z" fill="white"/>
          <path d="M47.2143 36.8223H50.75V40.358H47.2143V36.8223Z" fill="#338AFF"/>
          <path d="M40.1432 36.8223H43.679V40.358H40.1432V36.8223Z" fill="#338AFF"/>
          <path d="M33.072 36.8223H36.6077V40.358H33.072V36.8223Z" fill="#338AFF"/>
        </g>
        <defs>
          <filter id="filter0_d_820283_4290" x="0.9" y="0.4" width="83.2" height="83.2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="4.3"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.593434 0 0 0 0 0.611059 0 0 0 0 0.702119 0 0 0 0.27 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_820283_4290"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_820283_4290" result="shape"/>
          </filter>
        </defs>
      </svg>

    </div>
  </div>
</template>

<script>
import titleComp from "./common/titleComp.vue";
import chatBox from "./common/chat/index.vue";

export default {
  components: {titleComp, chatBox},
  data() {
    return {
      isOpen: true
    };
  },
  mounted() {
  },
  //方法集合
  methods: {
    open() {
      this.isOpen = true;
      this.$refs.ChatBox.open();
    }
  }
};
</script>
<style lang='scss' scoped>
.chat-icon {
  cursor: pointer;
}
</style>