<!--
 * @Description:
 * @Author: 李大玄
 * @Date: 2022-07-21 16:37:01
 * @FilePath: /web-framework-demo/template.html
 * @LastEditors: 李大玄
 * @LastEditTime: 2023-07-13 09:26:24
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title th:text="${projectTitle}"></title>
  <link rel="icon" th:href="@{${host} + '/' + ${contextPath} + '/' + ${version} + '/favicon.ico'}">
  <script src="https://statics.easyliao.com/web/vue/project/plat/platBase.js"></script>
  <script rel="preload" src="//statics.easyliao.com/web/vue/vue/2.6.14/vue.min.js"></script>
  <script rel="preload" src="//statics.easyliao.com/web/vue/vue-router/3.5.2/vue-router.min.js"></script>
  <script rel="preload" src="//statics.easyliao.com/web/public/plugin/lodash/4.17.21/lodash.min.js"></script>
  <script rel="preload" src="//statics.easyliao.com/web/vue/vuex/3.6.2/vuex.min.js"></script>
  <script rel="preload" src="//statics.easyliao.com/web/vue/axios/0.21.1/axios.min.js"></script>
  <script rel="preload" src="//statics.easyliao.com/web/public/plugin/nprogress/0.2.0/nprogress.min.js"></script>
  <link rel="stylesheet" href="//statics.easyliao.com/web/public/plugin/nprogress/0.2.0/nprogress.min.css">
  <script rel="preload" src="//statics.easyliao.com/web/el-web-basic/vuedraggable/Sortable.min.js"></script>
  <script src="//statics.easyliao.com/web/el-web-basic/vuedraggable/dist/vuedraggable.umd.js"></script>
  <script src="//statics.easyliao.com/web/el-web-basic/wangeditor/wangEditor.min.js"></script>
  <script src="//statics.easyliao.com/web/public/plugin/echarts/5.1.2/echarts.min.js"></script>

  <link th:href="@{${host} + '/' + ${contextPath} + '/' + ${version} + '/css/chunk-vendors.css'}" rel="stylesheet">
  <link th:href="@{${host} + '/' + ${contextPath} + '/' + ${version} + '/css/app.css'}" rel="stylesheet">


  <script th:inline="javascript">
    var url = [[${ host + '/' + contextPath + '/' + version + '/'}]];
    window.static_url = url;
    /**
     * @description: __sso
     * @param {*} 参数为 test  pre prod
     */
    window.__sso = [[${ env }]];
  </script>
</head>

<body>
<div id="app"></div>

<script th:src="@{${host} + '/' + ${contextPath} + '/' + ${version} + '/js/chunk-vendors.js'}"></script>
<script th:src="@{${host} + '/' + ${contextPath} + '/' + ${version} + '/js/app.js'}"></script>
</body>

</html>