<template>
  <div class="hw-content">
    <div class="title">Chat widget</div>
    <div class="sub-title">
      <div class="sub-title-label" :class="selectLabel == 1 ? 'label-select' : '' " @click="subLabel(1)">Customization</div>
      <div class="sub-title-label ml20" :class="selectLabel == 2 ? 'label-select' : '' " @click="subLabel(2)">Embed Code</div>
    </div>
    <div class="hw-main">
      <customization v-if="selectLabel == 1"></customization>
      <embedCode v-if="selectLabel == 2"></embedCode>
    </div>
  </div>
</template>
<script>
import embedCode from './module/embedCode.vue';
import customization from './module/customization.vue';
export default {
  data() {
    return {
      selectLabel: 1,
      menuFlag: 0, // 0 正常状态  1 鼠标移动上的状态  2 点击后的状态  3 关闭后的状态
      flag: 0 // 0 正常状态  1 放大的状态  2 关闭的状态
    };
  },
  created() {},
  components: {
    embedCode,
    customization
  },
  methods: {
    subLabel(val) {
      this.selectLabel = val;
    }
  }
};
</script>
<style lang="scss" scoped>
/deep/ .el-select-dropdown__item.selected{
  color: #338AFF !important;
}

.hw-main{
  height: calc(100% - 98px);
}
.hw-content{
  width: 100%;  
  height: 100%;
  background: #FFF;
  padding-top: 10px;
  .title{
    width: 100%;
    height: 60px;
    color: #333;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
    padding-left: 20px;
  }
  .sub-title{
    width: calc(100% - 40px);
    height: 38px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E7EAEE;
    margin-left: 20px;
    margin-right: 20px;
    &-label{
      color: #333;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;
      height: 38px;
      line-height: 38px;
      padding:0px 5px;
    }
    .label-select{
      color: #338AFF;
      border-bottom: 1px solid #338AFF;
      font-weight: 500;
    }
  }
}
.mt15{
  margin-top: 15px;
}
.ml20{
  margin-left: 20px;
}
</style>
