<!--
 * @Description: 
 * @Author: chunxu.Zhao
 * @Date: 2024-04-03 18:18:31
 * @LastEditors: chunxu.Zhao
 * @LastEditTime: 2024-05-13 11:03:37
 * @FilePath: \hw-web-client-view\src\views\setting\integration\index.vue
-->
<template>
  <div class="inter_wrap" v-loading="loading.wrap">
    <div class="inter_wrap_title">Integration</div>
    <div class="inter_list mt-25">
      <template v-for="item of interList">
        <div class="inter_list_item flex jc-between ai-center" :key="item.title" v-if="item.show">
          <div class="flex">
            <img :src="item.imgUrl" alt="" class="inter_list_item_img">
            <div class="flex flex-column ml-20 mt-5">
              <span class="inter_list_item_title">{{item.title}}</span>
              <span class="inter_list_item_desc mt-4">{{item.desc}}</span>
            </div>
          </div>
          <div>
            <el-switch
              v-model="item.status"
              @change="val => changeStatus(val, item)">
            </el-switch>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>
<script>
// const redirectObj = {
//   test: window.isLocal ? 'http://localhost:4101/#/console?code=integration' : '//test19.easyliao.net/webcall//#/console?code=integration',
//   pre: '//pre.easychator.com/webcall//#/console?code=integration',
//   prod: window.location.host.includes('us-mgr') ? '//us-mgr.easychator.com/webcall//#/console?code=integration' : '//im-api.easychator.com/webcall//#/console?code=integration'
// }
import { getJumpContext } from '@/utils/config/initConfig'
export default {
  data() {
    return {
      interList: [],
      loading: {
        wrap: false
      }
    }
  },
  methods: {
    async changeStatus(val, item) {
      item.status = !val
      if(val) { // 打开 调接口跳走
        let res;
        try {
          this.loading.wrap = true
          res = await window.EWebPlat.platService(window.webClientApiMap.integrationWeb.getZendeskAuthorizationUrl, {
            $1: item.platformType
            // platform: 'zendesk',
            // redirectUri: `${location.origin}/${ getJumpContext() }/#/console?code=integration`,
            // redirectUri: window.isLocal ? `${location.origin}/#/console?code=integration` : `${location.href}?code=integration`
          });
          this.loading.wrap = false
          if(res.code != 0) {
            this.$message.error(res.msg);
            return;
          }
          window.location.href =  res.data.url
        } catch (error) {
          console.error(error);
          return;
        }
      } else { // 关闭
        this.$confirm(item.tip,
        'Disconnection', {
          confirmButtonText: 'Confirm',
          customClass: 'inter_confrim'
        }).then(async () => {
          // 调接口关闭
          let res;
          try {
            this.loading.wrap = true
            res = await window.EWebPlat.platService(window.webClientApiMap.integrationWeb.unbindZendeskAuthorization, {externalAccountId: item.externalAccountId}, {splicingParams: item.platformType});
            this.loading.wrap = false
            if(res.code != 0) {
              this.$message.error(res.msg);
              return;
            }
            item.status = val
          } catch (error) {
            console.error(error);
            return;
          }
        }).catch(()=> {});
      }
    }
  },
  async created() {
    const { result, message } = this.$route.query
    if(result === '1' && message) {
      this.$message.error(message)
    }
    // 调接口获取列表
    let res;
    try {
      res = await window.EWebPlat.platService(window.webClientApiMap.integrationWeb.getAppStoreList);
      this.interList = res.data
      this.interList.forEach(item => {
        item.imgUrl = require(`@/static/img/intergations/${item.platformName}.svg`)
      })
      // this.interList[1].status = true
      // console.log(this.interList);
    } catch (error) {
      console.error(error);
      return;
    }
  }
}
</script>
<style lang="scss" scoped>
.inter_wrap{
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 20px;
  &_title{
    font-size: 20px;
    font-weight: 500;
  }
  .inter_list_item{
    border-bottom: 1px solid #DCDFE6;
    padding: 17px 0;
    &_img{
      width: 50px;
      height: 50px;
    }
    &_title{
      color: #333;
      font-size: 16px;
      font-weight: 500;
    }
    &_desc{
      color: #666;
      font-size: 12px;
      font-weight: 400;
    }
  }
  .inter_list_item:last-child{
    border-bottom: none;
  }
}
</style>
<style lang="scss">
.inter_confrim{
  .el-message-box__headerbtn {
    top: 15px !important;
  }
}
</style>