<!--
 * @Author: 段丽军
 * @Date: 2023-11-08 17:04:44
 * @LastEditTime: 2023-11-08 17:28:30
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /web-client/src/views/chat/chatContent/chatTools/visitorCom/dateCom.vue
-->
<template>
  <el-date-picker v-bind="options" v-model="value" @change="$event => $emit('change', $event)" :placeholder="placeholder"></el-date-picker>
  <!-- <div>{{ options }}</div> -->
</template>
<script>
export default {
  model: {
    prop: "value",
    event: "change"
  },
  props: ["value", "options", "placeholder"],
  data() {
    return {};
  }
};
</script>
<style lang='scss' scoped>
</style>