<!--
 * @Author: 段丽军
 * @Date: 2023-11-08 17:04:37
 * @LastEditTime: 2023-11-09 11:35:14
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /web-client/src/views/chat/chatContent/chatTools/visitorCom/inputCom.vue
-->
<template>
  <el-input v-bind="options" v-model="value" :placeholder="placeholder" @input="$event => $emit('input', $event)" clearable></el-input>
</template>
<script>
export default {
  model: {
    prop: "value",
    event: "input"
  },
  props: ["value", "options", "placeholder"],
  data() {
    return {};
  }
};
</script>
<style lang='scss' scoped>
</style>