<!--
 * @Author: 段丽军
 * @Date: 2023-11-09 11:37:05
 * @LastEditTime: 2023-11-09 11:41:15
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /web-client/src/views/chat/chatContent/chatTools/visitorCom/noneCom.vue
-->
<template>
  <div class="none-comp ">{{ $ELCONFIG.chat.chatContent.LeadFormNotSupportFieldTips }}</div>
</template>
<script>
export default {
  data() {
    return {};
  }
};
</script>
<style lang='scss' scoped>
.none-comp {
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 12px;
  color: #c0c4cc;
  cursor: no-drop;
}
</style>