<!--
 * @Author: 段丽军
 * @Date: 2023-11-08 17:04:41
 * @LastEditTime: 2023-11-08 17:28:04
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /web-client/src/views/chat/chatContent/chatTools/visitorCom/selectCom.vue
-->
<template>
  <el-select v-model="value" :placeholder="placeholder" @change="$event => $emit('change', $event)" filterable clearable>
    <el-option :label="item.label" :value="item.value" v-for="(item, index) in data" :key="index"></el-option>
  </el-select>
</template>
<script>
export default {
  model: {
    prop: "value",
    event: "change"
  },
  props: ["value", "data", "placeholder"],
  data() {
    return {};
  }
};
</script>
<style lang='scss' scoped>
</style>