<!--
 * @Author: 段丽军
 * @Date: 2023-11-07 20:12:52
 * @LastEditTime: 2023-12-14 17:24:42
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /hw-web-client-view/src/views/chat/chatContent/chatPanel/msgType/noneMsg.vue
-->
<template>
  <div class="calendly-msg">
    <!-- 头部标识 -->
    <div class="icon-panel">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
        <path d="M29.1906 5.42537H26.1636V4.32568C26.1636 3.74314 25.6915 3.271 25.1089 3.271C24.5264 3.271 24.0543 3.74314 24.0543 4.32568V5.42537H11.9457V4.32568C11.9457 3.74314 11.4736 3.271 10.891 3.271C10.3085 3.271 9.83636 3.74314 9.83636 4.32568V5.42537H6.80941C5.04351 5.42537 3.60667 6.86221 3.60667 8.62811V29.3394C3.60667 31.1053 5.04351 32.5421 6.80941 32.5421H29.1906C30.9565 32.5421 32.3933 31.1053 32.3933 29.3394V8.62811C32.3933 6.86221 30.9565 5.42537 29.1906 5.42537ZM6.80941 7.53475H9.83636V7.70068C9.83636 8.28322 10.3085 8.75537 10.891 8.75537C11.4736 8.75537 11.9457 8.28322 11.9457 7.70068V7.53475H24.0543V7.70068C24.0543 8.28322 24.5264 8.75537 25.1089 8.75537C25.6915 8.75537 26.1636 8.28322 26.1636 7.70068V7.53475H29.1906C29.7935 7.53475 30.2839 8.02518 30.2839 8.62811V10.7034H5.7164V8.62811C5.7164 8.02518 6.20683 7.53475 6.80976 7.53475H6.80941ZM29.1906 30.4327H6.80941C6.20648 30.4327 5.71605 29.9423 5.71605 29.3394V12.8128H30.2836V29.3397C30.2836 29.9426 29.7932 30.4331 29.1902 30.4331L29.1906 30.4327ZM14.3989 18.6399C14.3989 19.2224 13.9268 19.6946 13.3443 19.6946H10.8668C10.2843 19.6946 9.8121 19.2224 9.8121 18.6399C9.8121 18.0574 10.2843 17.5852 10.8668 17.5852H13.3443C13.9268 17.5852 14.3989 18.0574 14.3989 18.6399ZM20.2936 18.6399C20.2936 19.2224 19.8214 19.6946 19.2389 19.6946H16.7614C16.1789 19.6946 15.7068 19.2224 15.7068 18.6399C15.7068 18.0574 16.1789 17.5852 16.7614 17.5852H19.2389C19.8214 17.5852 20.2936 18.0574 20.2936 18.6399ZM14.3989 24.7107C14.3989 25.2932 13.9268 25.7654 13.3443 25.7654H10.8668C10.2843 25.7654 9.8121 25.2932 9.8121 24.7107C9.8121 24.1281 10.2843 23.656 10.8668 23.656H13.3443C13.9268 23.656 14.3989 24.1281 14.3989 24.7107ZM20.2936 24.7107C20.2936 25.2932 19.8214 25.7654 19.2389 25.7654H16.7614C16.1789 25.7654 15.7068 25.2932 15.7068 24.7107C15.7068 24.1281 16.1789 23.656 16.7614 23.656H19.2389C19.8214 23.656 20.2936 24.1281 20.2936 24.7107ZM26.1882 18.6399C26.1882 19.2224 25.7161 19.6946 25.1335 19.6946H22.6561C22.0735 19.6946 21.6014 19.2224 21.6014 18.6399C21.6014 18.0574 22.0735 17.5852 22.6561 17.5852H25.1335C25.7161 17.5852 26.1882 18.0574 26.1882 18.6399Z" fill="#338AFF"/>
      </svg>
    </div>
    <!-- 简介内容 -->
    <div class="title">Schedule a Meeting</div>
    <div class="sub-title">Find the perfect day to connect and begin growing!</div>

    <!-- 操作按钮 -->
    <div class="button">Select a Date</div>
  </div>
</template>

<script>
export default {
  props: {
    info: {
      default: null
    },
    chatList: {
      type: Array,
      default: ()=> []
    }
  },
  data() {
    return {};
  },
  computed: {
  }
};
</script>
<style lang='scss' scoped>
.calendly-msg {
  padding: 20px 16px;
  border-radius: 5px;

  overflow-wrap: anywhere;
  width: 224px;
  // background-color: #f5f5f5;
  background-color: #F1F1F3;
  overflow: hidden;
  text-align: center;
  .title {
    margin-top: 10px;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
  }
  .sub-title {
    color: #606266;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
  .button {
    margin-top: 22px;
    padding: 10px 0;
    border-radius: 5px;
    background: #338AFF;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    cursor: pointer;
  }
}
</style>