<!--
 * @Author: 段丽军
 * @Date: 2023-11-07 20:12:52
 * @LastEditTime: 2023-12-14 17:24:42
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /hw-web-client-view/src/views/chat/chatContent/chatPanel/msgType/noneMsg.vue
-->
<template>
  <div class="form-msg">
    <div class="form-title" v-if="infoComp.formTitle">{{ infoComp.formTitle }}</div>
    <el-form size="small">
      <el-form-item :label="item.label" v-for="(item, index) in infoComp.formAttrList" :key="index">
        <el-input v-model="item.value" placeholder="" readonly></el-input>
      </el-form-item>
    </el-form>
    <el-button type="primary" size="small" style="width: 100%;" v-if="infoComp.displayType === 'submitForm'">Submit</el-button>
  </div>
</template>

<script>
/**
  解析的表单提交，原始结构如下：
<div class="form-content" data-flag="form-info">
  <div class="form-title">信息提交</div>
  <form class="form-main">
    <div><input class="input" type="text" name="name" placeholder="姓名" autocomplete="off"></div>
    <div><input class="input" type="text" name="mobile" placeholder="手机" autocomplete="off"></div>
  </form>
  <div class="btn"><span class="btnClick">提交</span></div>
</div>

  解析的提交内容，原始结构如下：
<div
  data-web={"formTitle":"信息提交","name":{"value":"姓名","name":"姓名"},"mobile":{"value":"1881111111","name":"手机"}}
  data-form={"name":"姓名","mobile":"1881111111","data-flag":"form-info"}
>姓名:姓名;手机:1881111111;</div>

 */
export default {
  props: {
    info: {
      default: null
    },
    chatList: {
      type: Array,
      default: ()=> []
    }
  },
  data() {
    return {};
  },
  computed: {
    infoComp() {
      const { msg } = this.info;

      let formTitle = ""; // 表单表头
      let formAttrList = []; // 表单字段集合
      let displayType = ""; // 显示类型：submitForm|reviewForm

      if(msg.includes("data-flag=\"form-info\"")) {
        // 表单提交展示
        displayType = "submitForm";
        const divEl = document.createElement("div");
        divEl.innerHTML = msg;
        const { children } = divEl.children[0];
        formTitle = children[0].innerText; // 表单表头
        const attrListEl = children[1].children;
        for (let i = 0; i < attrListEl.length; i++) {
          const item = attrListEl[i];
          const itemEl = item.children[0];
          formAttrList.push({
            label: itemEl.getAttribute("placeholder"),
            value: ""
          });
        }
      } else if (msg.includes("data-web") && msg.includes("data-form")) {
        // 表单回显展示
        displayType = "reviewForm";
        let startStr = "data-web=";
        let endStr = " data-form=";
        const dataWebStr = msg.slice(msg.indexOf(startStr)+startStr.length, msg.indexOf(endStr)).replaceAll("&quot;", "\"");
        const dataWebObj = JSON.parse(dataWebStr);
        for(let key in dataWebObj) {
          const obj = dataWebObj[key];
          if(key === "formTitle") {
            formTitle = obj;
          } else {
            formAttrList.push({
              label: obj.name,
              value: obj.value
          });
          }
        }
      }
      return {
        formTitle,
        formAttrList,
        displayType
      };
    }

  }
};
</script>
<style lang='scss' scoped>
.form-msg {
  padding: 20px 16px;
  background-color: #F1F1F3;
  border-radius: 5px;
  overflow-wrap: anywhere;
  width: 240px;
}
.form-title {
  color: #333;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 14px;
}

::v-deep .el-form {
  .el-form-item {
    margin-bottom: 14px;
    .el-form-item__label {
      color: #606266;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      margin-bottom: 8px;
    }
  }
}
::v-deep .el-input input {
  border: none;
}


</style>