<!--
 * @Author: 段丽军
 * @Date: 2023-10-31 20:48:11
 * @LastEditTime: 2023-11-09 21:08:47
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /web-client/src/views/chat/chatContent/chatPanel/msgType/ImgMsg.vue
-->
<template>
  <el-image style="max-width: 200px; max-height: 200px; display: block;" :src="urlComp" :preview-src-list="srcList" fit="contain" @load="$emit('bottom')">
    <template #placeholder>
      <div class="el-image-custom">{{ $ELCONFIG.chat.chatContent.loadingTips }}</div>
    </template>
    <template #error>
      <div class="el-image-custom">{{ $ELCONFIG.chat.chatContent.loadFailTips }}</div>
    </template>
  </el-image>
</template>

<script>
export default {
  props: {
    info: {
      default: null
    },
    chatList: {
      type: Array,
      default: ()=> []
    }
  },
  data() {
    return {
    };
  },
  //监听属性 类似于data概念
  computed: {
    urlComp() {
      return this.info.msg;
    },
    srcList() {
      return this.chatList.filter(item => item.msgType === "img").map(item => item.msg);
    }
  }
};
</script>
<style lang='scss' scoped>
.el-image-custom {
  width: 100px;
  height: 100px;
  background-color: #f5f7fa;
  color: #c0c4cc;
  text-align: center;
  line-height: 100px;
  font-size: 12px;
}
::v-deep.el-image .el-image__inner {
  max-width: 200px;
  max-height: 200px;
}
</style>