<!--
 * @Author: 段丽军
 * @Date: 2023-11-07 20:12:52
 * @LastEditTime: 2023-12-14 17:24:42
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /hw-web-client-view/src/views/chat/chatContent/chatPanel/msgType/noneMsg.vue
-->
<template>
  <div class="none-msg">{{ $ELCONFIG.chat.chatContent.notSupportMsgTips }}</div>
</template>

<script>
//例如：import 《组件名称》 from '《组件路径》';
export default {
  data() {
    return {
    };
  }
};
</script>
<style lang='scss' scoped>
.none-msg {
  padding: 10px 14px;
  background-color: #e4e4e4;
  overflow-wrap: anywhere;
  color: #838383;
}
</style>