<!--
 * @Author: 段丽军
 * @Date: 2023-11-03 18:06:27
 * @LastEditTime: 2023-12-15 14:29:36
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /hw-web-client-view/src/views/chat/chatContent/chatPanel/msgType/textMsg.vue
-->
<template>
  <div class="text-msg flex ai-center" :style="info.senderType === '1' ? 'background-color: #CCE0FF;' :''" v-html="msgComp"></div>
</template>

<script>
import dyEmojiData from "@/static/json/dyEmoji.json";
import bdEmojiData from "@/static/json/bdEmoji.json";
import wxEmojiData from "@/static/json/wxEmoji.json";
// import ylEmojiData from "@/static/json/ylEmoji.json";
export default {
  props: {
    info: {
      default: null
    },
    msgChannel: {
      type: String,
      default: ""
    }
  },
  data() {
    let ylEmojiData;
    if (window.$CONFIG.lang == "cn") {
      ylEmojiData = require("@/static/json/ylEmoji.json");
    } else if (window.$CONFIG.lang == "en") {
      ylEmojiData = require("@/static/json/ylEmojiEn.json");
    }
    return {
      dyEmojiData, // 抖音表情数据
      bdEmojiData, // 百度表情数据
      wxEmojiData, // 微信表情数据
      ylEmojiData // 微信表情数据
    };
  },
  //监听属性 类似于data概念
  computed: {
    msgComp() {
      let msg = this.info.msg;
      if(["RECORD_SYSTEM_WELCOME", "RECORD_RICH_TEXT"].includes(this.info.oldType) && this.info.senderType === "1") {
        // 消息类型支持富文本 & 客服发送消息 = 强转为富文本标签
        msg = (msg || "").replaceAll("&lt;", "<").replaceAll("&gt;", ">");
      } else {
        // 消息类型不支持富文本 = 强制转换为不普通文本（防止注入）
        msg = (msg || "").replaceAll("<", "&lt;").replaceAll(">", "&gt;");
      }
      // emoji 处理
      msg = this.formatEmoji(msg);
      return msg; // 过滤标签
    }
  },
  //方法集合
  methods: {
    formatEmoji(msg) {
      return (msg || "").replaceAll(/(&lt;img.+?jesong_emojiIcon.+?&gt;)|(<img.+?jesong_emojiIcon.+?>)/g, (e) => {
        // 自建站 Emoji 处理
        // 防止代码注入
        if(/[&lt;|<]script/.test(e)) {
          return e;
        }
        const newElStr = e.replace(/&lt;/g, "<")
        .replace(/&gt;/g, ">")
        .replace(/&amp;/g, "&")
        .replace(/&quot;/g, "\"")
        .replace(/&apos;/g, "\"");

        const el = document.createElement("div");
        el.innerHTML = newElStr;
        if(!el.children[0]) {
          return e;
        }
        return `<img src="${el.children[0].src}" height="20px" width="20px" style="display: inherit;"/>`;
      }).replaceAll(/\[[^\]]*\]/g, (e)=> {
        // 渠道 Emoji 处理
        let icon = "";
        const { msgChannel } = this;

        const channelMap = {
          "baidu": "bd",
          "DouYin": "dy",
          "WeChatPublic": "wx",
          "origMiniApps": "wx",
          "EnterpriseWeChat": "wx"
        };

        const subChannel = channelMap[msgChannel] || "yl";
        if(["dy", "bd", "wx", "yl"].includes(subChannel)) {
          if(!this[subChannel+"EmojiData"][e]) {
            return e;
          }
          icon = `${subChannel}/${this[subChannel+"EmojiData"][e]}`;
        } else {
          return e;
        }
        return `<img src="${require(`@/static/img/emoji/${icon}.png`)}" title="${e?e:""}" height="20px" width="20px" style="vertical-align: text-bottom;"/>`;
      });
    }
  }
};
</script>
<style lang='scss' scoped>
.text-msg {
  padding: 10px 14px;
  background-color: #EBECED;
  overflow-wrap: anywhere;
  flex-wrap: wrap;
  img {
    max-width: 100%;
  }
}
</style>