<!--
 * @Author: 段丽军
 * @Date: 2023-11-03 18:06:27
 * @LastEditTime: 2023-12-15 14:29:36
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /hw-web-client-view/src/views/chat/chatContent/chatPanel/msgType/textMsg.vue
-->
<template>
  <div>
    <div class="voice-msg flex ai-center" :style="info.senderType === '1' ? 'background-color: #CCE0FF;' :''"
         v-rightKey="{ menuList, menuClickItem, data: item }">
      {{msgComp}}
    </div>
    <div class="transform">
      {{msgComp}}
    </div>
  </div>
</template>

<script>

export default {
  props: {
    info: {
      default: null
    },
    msgChannel: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      audio: null,
      isPlaying: false,
      menuList: [{ text: "播放语音",id: 1 }, { text: "转文字" }, { text: "收起文字" }, { text: "下班" }]
    };
  },
  //监听属性 类似于data概念
  computed: {
    msgComp() {
      let msg = this.info.msg;
      if(["RECORD_SYSTEM_WELCOME", "RECORD_RICH_TEXT"].includes(this.info.oldType) && this.info.senderType === "1") {
        // 消息类型支持富文本 & 客服发送消息 = 强转为富文本标签
        msg = (msg || "").replaceAll("&lt;", "<").replaceAll("&gt;", ">");
      } else {
        // 消息类型不支持富文本 = 强制转换为不普通文本（防止注入）
        msg = (msg || "").replaceAll("<", "&lt;").replaceAll(">", "&gt;");
      }
      // emoji 处理
      msg = this.formatEmoji(msg);
      return msg; // 过滤标签
    }
  },
  //方法集合
  methods: {
    menuClickItem(event) {
      if (event.id == 1) {
        this.playAudio();
      } else if (event.id == 2) {

      }
    },
    playAudio() {
      if (!this.audio) {
        // 如果音频对象不存在，则创建一个新的音频对象
        this.createAudio();
      }
      this.audio.play();
      this.isPlaying = true;
    },
    createAudio() {
      this.audio = new Audio();
      this.audio.src = "https://lu-sycdn.kuwo.cn/71b223d05a8589958ce42235187ce4a2/6613a603/resource/n1/48/6/2926738694.mp3";
      this.audio.addEventListener("ended", this.stopAudio);
    },
    stopAudio() {
      if (this.audio && !this.audio.paused) {
        this.audio.pause();
        this.audio.currentTime = 0;
        this.isPlaying = false;
      }
    },
    formatEmoji(msg) {
      return (msg || "").replaceAll(/(&lt;img.+?jesong_emojiIcon.+?&gt;)|(<img.+?jesong_emojiIcon.+?>)/g, (e) => {
        // 自建站 Emoji 处理
        // 防止代码注入
        if(/[&lt;|<]script/.test(e)) {
          return e;
        }
        const newElStr = e.replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&amp;/g, "&").replace(/&quot;/g, "\"").replace(/&apos;/g, "\"");

        const el = document.createElement("div");
        el.innerHTML = newElStr;
        if(!el.children[0]) {
          return e;
        }
        return `<img src="${el.children[0].src}" height="20px" width="20px" style="display: inherit;"/>`;
      }).replaceAll(/\[[^\]]*\]/g, (e)=> {
        // 渠道 Emoji 处理
        let icon = "";
        const { msgChannel } = this;

        const channelMap = {
          "baidu": "bd",
          "DouYin": "dy",
          "WeChatPublic": "wx",
          "origMiniApps": "wx",
          "EnterpriseWeChat": "wx"
        };

        const subChannel = channelMap[msgChannel] || "yl";
        if(["dy", "bd", "wx", "yl"].includes(subChannel)) {
          if(!this[subChannel+"EmojiData"][e]) {
            return e;
          }
          icon = `${subChannel}/${this[subChannel+"EmojiData"][e]}`;
        } else {
          return e;
        }
        return `<img src="${require(`@/static/img/emoji/${icon}.png`)}" title="${e?e:""}" height="20px" width="20px" style="vertical-align: text-bottom;"/>`;
      });
    }
  }
};
</script>
<style lang='scss' scoped>
.voice-msg {
  padding: 10px 14px;
  background-color: #EBECED;
  overflow-wrap: anywhere;
  flex-wrap: wrap;
  img {
    max-width: 100%;
  }
}
  .transform {
    mix-width: 100%;
    min-height: 10px;
    background: pink;
  }
</style>