import moment from 'moment';
<!--
 * @Description:
 * @Author: chunxu.Zhao
 * @Date: 2023-11-02 16:59:25
 * @LastEditors: chunxu.Zhao
 * @LastEditTime: 2023-11-20 15:37:29
 * @FilePath: \web-client\src\views\guide\index.vue
-->
<template>
  <div class="guide_mask">
    <div class="step1" v-if="showFirst">
      <div class="guide_menu" :style="{top: `${topOne}px`}">
        <icon-class icon-class="icon-yiji-douyinqiyehao" color="#7E84A3" class="ml-26"></icon-class>
        <div class="ml-10">抖音企业号</div>
      </div>
      <div class="guide_tip" :style="{top: `${topOne -58}px`}">
        <span class="tip_arrow"></span>
        <div class="guide_head">
          <span>1/3</span>
          <el-button type="text" @click="hideGuide">跳过</el-button>
        </div>
        <div class="guide_tip_con">
          进入菜单后点击【抖音企业号授权】按提示完成绑定
        </div>
        <el-button @click="next(1)">下一步</el-button>
      </div>
    </div>

    <div v-if="showSecond" class="step2">
      <div class="guide_menu guide_menu2" :style="{top: `${topTwo}px`}">
        <icon-class icon-class="icon-yiji-aijiqiren" color="#7E84A3" class="ml-26"></icon-class>
        <div class="ml-10">AI机器人</div>
        <span class="down_arrow"></span>
      </div>
      <div class="guide_tip guide_tip2" :style="{top: `${topTwo -58}px`}">
        <span class="tip_arrow"></span>
        <div class="guide_head">
          <span>2/3</span>
          <el-button type="text" @click="hideGuide">跳过</el-button>
        </div>
        <div class="guide_tip_con">
          选择机器人行业，配置AI机器人话术
        </div>
        <el-button @click="next(2)">下一步</el-button>
      </div>
    </div>

    <div class="step3" v-if="showFinish">
      <div class="guide_menu guide_menu3" :style="{top: `${topThree}px`}">
        <div class="guide_menu3_con">
          <icon-class icon-class="icon-yiji-duihualiebiao" color="#fff" class="ml-26"></icon-class>
          <div class="ml-10">对话列表</div>
        </div>
        <span class="bridge"></span>
      </div>
      <div class="guide_tip guide_tip3">
        <span class="tip_arrow"></span>
        <div class="guide_head">
          <span>3/3</span>
          <el-button type="text" @click="hideGuide">跳过</el-button>
        </div>
        <div class="guide_tip_con">
          恭喜你已经完成基础配置，可以在此收发访客消息啦！
        </div>
        <el-button @click="hideGuide">知道了</el-button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      showFirst: false,
      showSecond: false,
      showFinish: false,
      topOne: 0,
      topTwo: 0,
      topThree: 0
    };
  },
  methods: {
    next(type) {
      if(type === 1) {
        this.showFirst = false;
        this.showSecond = true;
      } else if(type === 2) {
        this.showSecond = false;
        this.showFinish = true;
      }
    },
    hideGuide() {
      this.showFirst = false;
      this.showSecond = false;
      this.showFinish = false;
      this.$store.dispatch("setGuideShow");
    },
    getTop(e){
      let offset = e.offsetTop;
      if(e.offsetParent !== null) {
        offset += this.getTop(e.offsetParent);
      }
      return offset;
    }
  },
  mounted() {
    setTimeout(() => {
      const liList = document.querySelector(".menutree").childNodes;
      for(let item of liList) {
        if(item.innerText.includes("抖音企业号")) {
          this.topOne = this.getTop(item);
        } else if(item.innerText.includes("AI机器人")) {
          this.topTwo = this.getTop(item);
        } else if(item.innerText.includes("对话列表")) {
          this.topThree = this.getTop(item);
        }
      }
      this.showFirst = true;
    }, 500);
  }
};
</script>
<style scoped lang="scss">
.guide_mask{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: 10000;
  .guide_menu{
    display: flex;
    align-items: center;
    width: 200px;
    height: 44px;
    background: #fff;
    position: absolute;
    /*top: 292px;*/
    left: 0;
    font-size: 14px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #7E84A3;
  }
  .guide_tip{
    position: absolute;
    width: 272px;
    height: 165px;
    background: #5F99FD;
    left: 210px;
    top: 234px;
    border-radius: 4px;
    padding: 8px 18px 0;
    color: #fff;
    font-size: 14px;
    .tip_arrow{
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-left: 5px solid transparent;
      border-right: 5px solid #5F99FD;
      border-bottom: 5px solid transparent;
      position: absolute;
      left: -10px;
      top: 76px;
    }
    .guide_head{
      display: flex;
      justify-content: space-between;
      align-items: center;
      button{
        color: #fff;
      }
      margin-bottom: 6px;
    }
    >button{
      background: #FFFFFF;
      border-radius: 4px;
      padding: 6px 16px;
      color: #5F99FD;
      border: 0;
      margin-left: 162px;
      margin-top: 24px;
    }
  }
  .guide_menu2{
    /*top: 346px;*/
    .down_arrow{
      width: 0;
      height: 0;
      border-top: 4px solid #7E84A3;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      position: absolute;
      right: 21px;
    }
  }
  .guide_tip2{
    height: 145px;
    top: 288px;
  }
  .guide_menu3{
    /*top: 76px;*/
    justify-content: space-between;
    .guide_menu3_con{
      display: flex;
      align-items: center;
      width: 190px;
      background: #5F99FD;
      height: 100%;
      border-radius: 0 8px 8px 0;
      color: #fff;
    }
    .bridge{
      height: 20px;
      width: 3px;
      background: #5F99FD;
    }
  }
  .guide_tip3{
    height: 165px;
    top: 28px;
    .tip_arrow{
      top: 68px;
    }
  }
}
</style>