<!--
 * @Description:
 * @Author: 李大玄
 * @Date: 2022-07-16 15:25:03
 * @FilePath: \hw-web-client-view\public\index.html
 * @LastEditors: chunxu.Zhao
 * @LastEditTime: 2024-05-10 18:21:41
-->
<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="pragram" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="expires" content="0">

  <title>自定义表单</title>
  <link rel="icon" href="<%= BASE_URL %>beatbox.ico">
  <script src="http://statics.easyliao.com/web/vue/project/plat/platBase.js"></script>
  <script rel="preload" src="//statics.easyliao.com/web/vue/vue/2.6.14/vue.min.js"></script>
  <script rel="preload" src="//statics.easyliao.com/web/vue/vue-router/3.5.2/vue-router.min.js"></script>
  <script rel="preload" src="//statics.easyliao.com/web/public/plugin/lodash/4.17.21/lodash.min.js"></script>
  <script rel="preload" src="//statics.easyliao.com/web/vue/vuex/3.6.2/vuex.min.js"></script>
  <script rel="preload" src="//statics.easyliao.com/web/vue/axios/0.21.1/axios.min.js"></script>
  <script rel="preload" src="//statics.easyliao.com/web/public/plugin/nprogress/0.2.0/nprogress.min.js"></script>
  <link rel="stylesheet" href="//statics.easyliao.com/web/public/plugin/nprogress/0.2.0/nprogress.min.css">
  <script rel="preload" src="//statics.easyliao.com/web/el-web-basic/vuedraggable/Sortable.min.js"></script>
  <script src="//statics.easyliao.com/web/el-web-basic/vuedraggable/dist/vuedraggable.umd.js"></script>
  <script src="//statics.easyliao.com/web/el-web-basic/wangeditor/wangEditor.min.js"></script>
  <script src="//statics.easyliao.com/web/public/plugin/echarts/5.1.2/echarts.min.js"></script>
  <script>
    window.__sso = 'pre'; // test pre  prod
    window.isLocal = true;
    window.$CONFIG = {
      lang: "en",
      version: "2023年11月29日09:46:48",
      suffixText: "Config"
    };
    if (window.$CONFIG.lang == "en")  {
      window.envLoginUrl = {
        testLoginUrl: "//test19.easyliao.net/auth-sso/oauth/web/web-client-login/view",
        preLoginUrl: "//pre-auth.upbeat.chat/auth-sso/oauth/web/web-client-login/view",
        prodLoginUrl: "//auth.upbeat.chat/auth-sso/oauth/web/web-client-login/view",
      };
    }
  </script>
</head>

<body class="en">
  <!--<noscript>-->
  <!--  <strong>We're sorry but eye-admin doesn't work properly without JavaScript enabled. Please enable it to continue.v_1.0.0</strong>-->
  <!--</noscript>-->
  <div id="app"></div>
</body>

</html>