<!--
 * @Author: 段丽军
 * @Date: 2023-10-31 15:47:08
 * @LastEditTime: 2023-11-21 15:23:14
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /web-client/src/views/chat/chatContent/chatTools.vue
-->
<template>
  <div class="flex flex-column" style="height: 100%; min-width: 300px;">
    <Tabs v-model="type" :data="types"></Tabs>
    <keep-alive>
      <component :rawChatInfo="rawChatInfo" :rawVisitorinfo="rawVisitorinfo" :is="type" style="flex: 1;" @sendText="sendText"></component>
    </keep-alive>
  </div>
</template>

<script>
//例如：import 《组件名称》 from '《组件路径》';
import Tabs from "@/components/tabs.vue";
import CommonWord from "./chatTools/commonWord.vue";
import VisitorCard from "./chatTools/visitorCard.vue";
export default {
  components: {
    Tabs,
    CommonWord,
    VisitorCard
  },
  props: {
    // 原始对话信息
    rawChatInfo: {
      type: Object,
      default: () => {}
    },
    rawVisitorinfo: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      type: "VisitorCard",
      types: [
        { label: this.$ELCONFIG.chat.chatContent.visitorLeadTitle, value: "VisitorCard" },
        { label: this.$ELCONFIG.chat.chatContent.generalResponsesTitle, value: "CommonWord" }
      ]
    };
  },
  watch: {
    rawVisitorinfo: {
      handler(nVal) {
        console.log("chatTools.vue rawVisitorinfo ------- ", this.rawVisitorinfo);
      },
      deep: true,
      immediate: true
    }
  },
  //方法集合
  methods: {
    sendText(params) {
      this.$emit("sendText", params);
    }
  }
};
</script>
<style lang='scss' scoped>
</style>