<!--
 * @Author: 段丽军
 * @Date: 2023-10-31 15:36:50
 * @LastEditTime: 2023-12-27 15:37:33
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /hw-web-client-view/src/views/chat/chatContent/chatPanel.vue
-->
<template>
  <div class="content_main">
    <!-- 信息区 -->
    <div class="content_top">
      <!-- 头像 -->
      <img class="content_top-img" :src="fkImg"/>
      <!-- 昵称 -->
      <div class="content_top-info">
        <div class="content_top-info-customer">{{ fkName }}</div>
        <div class="content_top-info-dy" v-if="businessName">
          抖音企业号：
          <span class="content_top-info-dy-user">{{businessName}}</span>
        </div>
      </div>
      <!-- 操作功能 -->
      <div class="content_top-oper">
        <el-tooltip class="item" effect="dark" :content="$ELCONFIG.chat.chatContent.seizeChatBtn" placement="top" v-if="isSeizeChat" :disabled="!isTrans">
          <el-button type="text" icon="iconfont icon-msg-transform" class="content_top-oper-btn" font="18" @click="chatTrans" :loading="loading.trans" :disabled="!isTrans"></el-button>
        </el-tooltip>
        <el-tooltip class="item" effect="dark" :content="$ELCONFIG.chat.chatContent.endConversationBtn" placement="top" :disabled="!isClose">
          <el-button type="text" icon="iconfont icon-switch" class="content_top-oper-btn ml-14" font="18" @click="chatClose" :loading="loading.close" :disabled="!isClose"></el-button>
        </el-tooltip>
      </div>
    </div>
    <!-- 对话区 -->
    <div class="content_center" ref="Center">
      <div class="show-more">
        <span v-if="rawChatInfo.historyRecentFlag == 1">{{ $ELCONFIG.chat.chatContent.loadEndPre }}<a @click="loadMore(2)" style="color: #338AFF;">{{ $ELCONFIG.chat.chatList.history }}</a>{{ $ELCONFIG.chat.chatContent.loadEndSuf }}</span>
        <a style="color: #338AFF;" v-if="!rawChatInfo.historyRecentFlag" @click="loadMore(1)">{{ $ELCONFIG.chat.chatContent.loadMore }}</a>
      </div>
      <template v-for="(item, index) in chatList">
        <!-- 普通消息 -->
        <content-item v-if="!item.isSys" :key="index" :info="item" :msgChannel="msgChannel" :chatList="chatList" @bottom="contentItemBottom"></content-item>
        <!-- 系统消息 -->
        <system-item v-else :key="index+'-sys'" :info="item" :chatList="chatList" :index="index"></system-item>
      </template>

      <!-- <div class="content-msg-count-tips plr-10 ptb-8" v-if="newMsgCount">
        {{ newMsgCount }}
        <i class="el-icon-arrow-down"></i>
      </div> -->
      <!-- {{ chatList }} -->
    </div>
    <!-- 输入区 -->
    <div class="content_bottom">
      <content-bottom ref="contentBottom" :rawChatInfo="rawChatInfo" :msgChannel="msgChannel"></content-bottom>
    </div>
  </div>
</template>

<script>
import moment from "moment";
//例如：import 《组件名称》 from '《组件路径》';
import ContentItem from "./chatPanel/contentItem.vue";
import SystemItem from "./chatPanel/systemItem.vue";
import ContentBottom from "./chatPanel/contentBottom.vue";
import channelMap from "@/static/json/channelMap.json";
import {LocalStorageManager} from "@/utils/storageManager";
export default {
  components: {
    ContentItem,
    SystemItem,
    ContentBottom
  },
  props: {
    // 原始对话数据
    rawChatList: {
      type: Object,
      default: () => []
    },
    // 原始对话信息
    rawChatInfo: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      moment: moment,
      channelMap: channelMap, // 渠道映射信息
      userImg: require("@/static/img/chat/userIcon.png"), // 客服头像
      robotImg: require("@/static/img/chat/robotIcon.png"), // 机器人头像
      loading: {
        trans: false,
        close: false
      },
      selfChatId: null, // 本地对话ID（用来与 rawChatInfo 中的 chatId 进行对比）
      chatList: [], // 对话列表
      isSeizeChat: false // 对话抢接权限
    };
  },
  computed: {
    // 渠道信息
    msgChannel () {
      const { searchEngineId } = this.rawChatInfo || {};
      return this.channelMap[searchEngineId]?.name || "unknow";
    },
    // 访客头像
    fkImg() {
      return this.rawChatInfo?.headImgUrl || require(`@/static/img/chat/fkResouce/a_source_${ this.msgChannel }_online.png`);
    },
    // 访客名称
    fkName() {
      return this.rawChatInfo?.nickName || "";
    },
    // 企业名称
    businessName() {
      return this.rawChatInfo?.businessName || "";
    },
    // 是否可以转接
    isTrans() {
      // 监听对话 且 没有结束
      const {chatFromUser, chatStsus} = this.rawChatInfo || {};
      return chatFromUser === "autoMonitor" && chatStsus === "current";
    },
    // 是否可以关闭
    isClose() {
      // 自己对话 且 没有结束
      const {chatFromUser, chatStsus} = this.rawChatInfo || {};
      return chatFromUser === "customer" && chatStsus === "current";
    }
  },
  watch: {
    rawChatInfo: {
      handler(nVal) {
        console.log("chatPanel.vue rawChatInfo ------- ", this.rawChatInfo);
        // 判断是否切换对话
        if(this.chatList.length > 0 && nVal.chatId !== this.selfChatId) {
          // 之前有对话 且 之前的对话列表中数据和当前的对话信息 chatId 不同，标识切换新对话。即清楚之前数据
          this.chatList = [];
          this.$refs.contentBottom.clean();
        }
        this.selfChatId = nVal.chatId;
      },
      deep: true,
      immediate: true
    },
    rawChatList: {
      handler(nVal) {
        console.log("chatPanel.vue rawChatList ------- ", this.rawChatList);
        // 获取新消息
        let newMsgs = nVal.slice(this.chatList.length);
        // 判断是否有新消息
        if(newMsgs.length === 0) {
          return;
        }

        newMsgs = this.chatListFormat(newMsgs); // 格式化新消息

        this.chatList.push(...newMsgs); // 添加新消息

        this.chatList = this.chatList.sort((itema, itemb) => window.parseInt(itema.time) - window.parseInt(itemb.time)); // 排序

        this.setBottom(); // 对话列表触底
      },
      deep: true,
      immediate: true
    }
  },
  mounted() {
    // LocalStorageManager.set("otherPromise", {chatMonitor: menuObj[chatMonitor], transchat: menuObj[transchat]});
    // 处理中/英文版本显示 抢劫按钮控制
    this.isSeizeChat = window.$CONFIG.lang === "en" ? !!LocalStorageManager.get("otherPromise")?.seizeChat : true;
  },
  //方法集合
  methods: {
    /**
     * 格式化消息内容
     * @param {*} val 消息数组
     */
    chatListFormat(val = []) {
      // 格式化新消息
      const visitorId = this.rawChatInfo.visitorId;
      return val?.map(item=> {
        let { fromUserId, msg, timestamp, robot, type } = item;
        let senderType, // 发送者类型： 客服；2 访客；
        img, //
        userName,
        oldType = type; //
        if(fromUserId === visitorId) {
          // 访客
          senderType = "2";
          img = this.fkImg;
          userName = this.fkName;
        } else {
          // 客服
          senderType = "1";
          img = robot > 1 ? this.robotImg :this.userImg;
          userName = fromUserId || this.$ELCONFIG.chat.chatContent.ai ||
          this.$ELCONFIG.chat.chatContent.agent;

          if(robot > 1) {
            // 机器人发送的所有消息内容，都设置为富文本消息
            oldType = "RECORD_RICH_TEXT";
          }
        }

        /**
         * 特定 json 解析
         * 样例：
         * 「 这是一条JSON消息。<el-msg-json style='display: none;' data='{"type":"zendesk"}'></el-msg-json> 」
         * 解析流程：
         * 1.判断字符串中是否存在字符串 el-msg-json
         * 2.创建一个div元素，并使用 innerHTML 将完整字符串插入到元素
         * 3.使用 querySelector 获取 el-msg-json 元素，使用 getAttribute("data") 获取最终的 JSON 字符串，并进行解析；
         * 4.JSON 中必须存在 type 字段，不同类型对应不同处理逻辑
         * 5.JSON 中必须使用 data 字段，作为指定类型的对应数据
         * TYPE类型值：
         * 1.zendesk - zendesk表单提交相关
         *  <el-msg-json style='display: none;' data='{"type":"zendesk"}'></el-msg-json>
         * 2.calendly - calendly约会
         *  <el-msg-json style='display: none;' data='{"type":"calendlyForm","data":"https://calendly.com/yaoxin7125/1111?salesforce_uuid="}' ></el-msg-json>
         * x.xx - xx (后续其他类型添加需在此完善)
         */
        if(msg && msg.includes("el-msg-json")) {
          // 解析流程
          const divEl = document.createElement("div");
          divEl.innerHTML = msg;
          const elMsgJsonEl = divEl.querySelector("el-msg-json");
          if(elMsgJsonEl) {
            let elMsgJson = {};
            try {
              elMsgJson = JSON.parse(elMsgJsonEl.getAttribute("data")) || {};
            } catch (error) {
              console.error("chatPanel: elMsgJson parse error");
            }
            item["richTextType"] = elMsgJson.type;
            item["richTextData"] = elMsgJson.data;
          }
        }

        let msgType, isSys;
        // if("RECORD_RICH_TEXT" === type && item.richTextType === "calendlyForm") {
        if(item.richTextType === "calendlyForm") {
          // calendly
          msgType = "calendly";
        // } else if("RECORD_RICH_TEXT" === type && msg && msg.includes("data-flag=\"form-info\"") ||
        //   ["RECORD_RECORD", "message"].includes(type) && msg && msg.includes("data-web") && msg.includes("data-form")) {
        } else if(msg && msg.includes("data-flag=\"form-info\"") ||
          ["RECORD_RECORD", "message"].includes(type) && msg && msg.includes("data-web") && msg.includes("data-form")) {
          // 富文本 && 表单提交 ||
          // 普通文本 && 表单回显
          msgType = "form";
        } else if(["message", "RECORD_SYSTEM_WELCOME", "RECORD_RECORD", "RECORD_RICH_TEXT"].includes(type)) {
          // 消息
          msgType = "text";
          if(["RECORD_SYSTEM_WELCOME", "system_message_welcome"].includes(type)) {
            msg = msg && msg.replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&nbsp;/g, " ");
          }
        } else if(["file", "RECORD_FILE", "RECORD_SCREENSHOTS", "screenShots"].includes(type)) {
          // 文件
          msgType = "img";
          msg = msg || item?.fileName || item?.screenShotPic;
          if(["file", "RECORD_FILE"].includes(type) && this.checkMediaType(msg) !== "image") {
            // 文件类型需要判断是否为图片
            msgType = "nonSupport";
          }
        } else if(["system_message", "RECORD_SYSTEM"].includes(type)){
          isSys = true;
          senderType = "1";
        } else {
          msgType = "nonSupport";
        }
        return {
          isSys,
          senderType, // 发送者类型：1 客服；2 访客；
          msgType, // 消息类型：text 文本；img 图片；
          oldType, // 原始类型
          img, // 消息头像
          userName, // 消息名称
          msg, // 消息内容
          time: timestamp, // 小时时间
          robot // 是否为机器人
        };
      }) || [];
    },
    async loadMore(type) {
      if (type == 1) {
        const {chatList} = await window.EWebPlat.getChatVisitorHistoryMsg();
        if(!chatList || chatList.length === 0) {
          // 没有历史数据
          return;
        }
        // 有历史数据的处理
        this.chatList = [...this.chatListFormat(chatList), ...this.chatList] // 合并历史数据
          .sort((itema, itemb) => window.parseInt(itema.time) - window.parseInt(itemb.time)); // 排序;
        this.$nextTick(()=> {
          // 历史数据渲染后，滚动到最后一条历史技术上
          this.$refs.Center.children[chatList.length - 1].scrollIntoView();
        });
      } else if (type == 2) {
        this.$router.push({path: "homeIndex/chatRecord"});
      }
    },
    // 对话转接
    chatTrans() {
      this.$confirm(this.$ELCONFIG.chat.chatContent.transferTips,
        this.$ELCONFIG.chat.chatContent.tip, { type: "warning" }).then(() => {
        this.loading.trans = true;
        window.EWebPlat.setTakeover(()=> {
          this.loading.trans = false;
        });
      }).catch(()=> {});
    },
    // 对话关闭
    chatClose() {
      this.loading.close = true;
      window.EWebPlat.closeChat(()=> {
        this.loading.close = false;
      });
    },
    sendText(params) {
      if(params.type === "input") {
        this.$refs.contentBottom.setMsg(params.msg);
      } else if(params.type === "send") {
        this.$refs.contentBottom.setMsg(params.msg);
        this.$refs.contentBottom.sendText();
      }
    },
    /**
     * 设置列表触底
     * @param {*} type 触底类型： bottomDown | 内容已触底有新消息进入； forceDown | 强制触底；
     */
    setBottom(type) {
      this.$nextTick(()=> {
        if(this.$refs.Center) {
          this.$refs.Center.scrollTop = this.$refs.Center.scrollHeight;
        }
      });
    },
    // 内容项，设置触底
    contentItemBottom() {
      this.setBottom();
    },
    checkMediaType(url) {
      if(!url) {
        return null;
      }

      // 创建URL对象
      const link = new URL(url);

      // 获取路径部分（去除参数）
      const path = link.pathname;

      // 获取路径的最后一个点之后的内容作为文件扩展名
      const extension = path.split(".").pop().toLowerCase();

      // 声明支持的图片和视频文件扩展名
      const imageExtensions = ["jpg", "jpeg", "gif", "png"];
      // const videoExtensions = ["mp4", "wmv", "avi", "mov"];

      // 判断文件扩展名是否在图片扩展名数组中
      if (imageExtensions.includes(extension)) {
        return "image";
      }

      // // 判断文件扩展名是否在视频扩展名数组中
      // if (videoExtensions.includes(extension)) {
      //   return "video";
      // }

      // 扩展名不在图片或视频数组中，返回null表示无法确定媒体类型
      return null;
    }

  }
};
</script>
<style lang='scss' scoped>
//@import url(); 引入公共css类
.content_main {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;

  .content_top {
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    &-img {
      width: 36px;
      height: 36px;
      background-color: aqua;
      border-radius: 18px;
      margin-right: 10px;
    }
    &-info {
      flex: 1;
      &-customer {
        color: #333333;
        font-size: 14px;
        font-weight: 500;
      }
      &-dy {
        font-size: 12px;
        color: #999999;
        &-user {
          color: #FFA900;
        }
      }
    }
    &-oper-btn {
      color: #7E84A3;
      display: inline-block;
      padding: 2px;
      border-radius: 4px;
      &:hover {
        background-color: #EEEEEE;
      }
    }
  }

  .content_center {
    flex: 1;
    overflow: auto;
    padding: 20px;
    min-height: 0;
    position: relative;
    .show-more {
      color: #909399;
      font-size: 12px;
      height: 40px;
      //background: palegoldenrod;
      text-align: center;
      //line-height: 40px;
    }
    .content_item + .sys_item,
    .sys_item + .content_item {
      margin-top: 20px;
    }
    .content-msg-count-tips {
      border-radius: 14px;
      position: sticky;
      float: right;
      font-size: 12px;
      line-height: 12px;
      bottom: 0;
      right: 0;
      color: #75787e;
      background-color: #D8E9FF;
      box-shadow: 0 0 5px -0.5px #5fa5ff;
      cursor: pointer;
    }
  }
  .content_history {
    transform: translateX(-50%);
    margin-left: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .content_bottom {
    border-top: 1px solid #DDDDDD;
    height: 150px;
  }
}
</style>