<!--
 * @Description:
 * @Author: chunxu.Zhao
 * @Date: 2023-10-31 17:56:31
 * @LastEditors: chunxu.Zhao
 * @LastEditTime: 2023-11-09 15:22:17
 * @FilePath: \web-client\src\views\iframeList.vue
-->
<template>
  <div class="error-flex">
    <img class="error-flex-img" src="../static/img/shouquan.png">
    <div class="error-flex-text1">当前帐号授权已到期</div>
    <div class="error-flex-text2">请联系易聊科技客服或在订单详情页直接续费</div>
  </div>
</template>

<script>
export default {
  name: "error",
  mixins: [],
  components: {},
  props: {},
  data() {
    return {
    };
  },
  computed: {},
  watch: {
  },
  beforeCreate() {},
  created() {},
  beforeMount() {},
  mounted() {},
  methods: {
  },
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {} //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
.error-flex{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-img{
    width: 305px;
    height: 271px;
  }
  &-text1{
    font-size: 22px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #2D419B;
    line-height: 30px;
  }
  &-text2{
    font-size: 16px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #2D419B;
    line-height: 22px;
    margin-top: 20px;
  }
}
</style>
