<!--
 * @Description:
 * @Author: chunxu.Zhao
 * @Date: 2023-10-31 17:56:31
 * @LastEditors: chunxu.Zhao
 * @LastEditTime: 2024-03-27 18:34:05
 * @FilePath: \hw-web-client-view\src\views\iframeList.vue
-->
<template>
  <div class="" width="100%" height="100%" v-loading="loading">
    <!-- :style="item.params === $route.params.id?'visibility:visible':'visibility:hidden'" -->
    <!-- v-show="item.params === $route.params.id" -->
    <!-- v-show 因为是存在页面了会立即加载所有iframe的接口，点到active的iframe时不会再去加载页面未渲染，用v-if -->
    <!-- <template v-for="item of sourceList"> -->
    <!-- :key="item.params" -->
    <div v-for="(val,key) in keyList" :key="key" v-show="key == routerCode || (key == $route.params.id && routerCode != leadCode)" width="100%" height="100%">
      <iframe :id="`myIframe-${key}`" :src="val" frameborder="0" style="height: 100%;width:100%;"></iframe>
    </div>
    <!-- </template> -->
  </div>
</template>

<script>
import {sourceList} from "@/utils/iframeSourceList";
import {mapGetters} from "vuex";
import {LocalStorageManager} from "@/utils/storageManager";
export default {
  name: "", // Pascal命名
  mixins: [],
  components: {},
  props: {
    code: {
      type: String,
      default: () => ""
    }
  },
  data() {
    return {
      keyList: {},
      loading: false,
      leadCode: "85cb2779-d129-4e3a-ac2d-d1724c1125fa"
    };
  },
  computed: {
    ...mapGetters(["routerCode"])
  },
  watch: {
    routerCode: { // 先于 watch的$route执行
      handler(newVal, oldVal) {
        if(this.$route.path === '/console') {
          const enumsOriginData = LocalStorageManager.get("enumsOriginData");
          const list = enumsOriginData.find(item => item.uri == 'console');
          if(list.children && list.children.length) {
            const keys = list.children.map(item => item.uid)
            if(!keys.includes(oldVal)) { // 解决v-show 切换问题
              this.keyList = {}
            }
          } else {
            this.keyList = {}
          }
        }
        // if(this.$route.path === '/homeIndex/chatRecord') { // 进入lead 和返回chatRecord
        //   this.keyList = {}
        // }
        if(newVal) {
          this.getSource(newVal);
        }
      },
      deep: true, // 深度
      immediate: true // 立即执行
    },
    "$route": {
      handler(newVal, oldVal) {
        if(this.$route.params.id) {
          this.getSource(this.$route.params.id);
        }
      },
      deep: true, // 深度
      immediate: true // 立即执行
    }
  },
  mounted() {
    if (window.$CONFIG.lang == "en" && this.$route.params.id == "chatRecord" && this.$route.query.userId) {
      const iframe = document.getElementById(`myIframe-${this.$route.params.id}`);
      console.log('父级发送--userId');
      iframe.contentWindow.postMessage({
          type: "setUserId",
          data: {
            userId: this.$route.query.userId
          }
        }, "*");
    }
  },
  methods: {
    async getSource(id) {
      const iframe = document.getElementById(`myIframe-${this.routerCode || this.$route.params.id}`);
      // console.log(',,,,,,,,,,,,,,,,,,,,,,,,',iframe);
      if(!iframe) {
        this.loading = true;
      }
      for (let item of sourceList) {
        if (item.params == id) {
          this.keyList[id] = item.source;
        }
      }
      // if (item.params == 'chatRecord') {
      //     this.keyList[id] = item.source + '&userId=' + this.$route.query.userId;
      //   }
      console.log(this.keyList, 'keyList');

      await this.$nextTick(() => {
      });

      const iframe2 = document.getElementById(`myIframe-${this.routerCode || this.$route.params.id}`);
      // console.clear();
      if(iframe2) {
        iframe2.onload = () => {
          this.loading = false;
        };
      }
      if (this.$route.params.id == "chatRecord") {
        setTimeout(() => {
          this.loading = false;
        }, 1500);
      }
    }
  },
  beforeUpdate() {
  }, //生命周期 - 更新之前
  updated() {
  }, //生命周期 - 更新之后
  beforeDestroy() {
  }, //生命周期 - 销毁之前
  destroyed() {
  }, //生命周期 - 销毁完成
  activated() {
  } //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
</style>
