<template>
  <div class="industry flex ai-center jc-center " width="100%">
    <div class="ruleForm">
      <div class="title mb-20">请选择初始化AI机器人行业模板</div>
      <el-input placeholder="请输入内容" @input="search" v-model="searchVal" size="small" class="w-500 mb-30">
        <el-button slot="append" icon="el-icon-search"></el-button>
      </el-input>

      <div class="box flex flex-w jc-between">
        <template v-for="item in industryList">
          <el-tooltip effect="dark" v-if="item.tip" :content="item.tip" placement="top">
            <div class="item mb-15 flex ai-center ellipsis" @click="industryClick(item)" :class="{active: ruleForm.industryId == item.industryId}" :key="item.industryId">
              {{ item.industryName }}
            </div>
          </el-tooltip>
          <div v-else class="item mb-15 flex ai-center ellipsis" @click="industryClick(item)" :class="{active: ruleForm.industryId == item.industryId}" :key="item.industryId">
            {{ item.industryName }}
          </div>
        </template>
        <div style="width: 140px;" v-if="industryList.length % 5" v-for="item in 5 - (industryList.length % 5)"></div>
      </div>
      <!--      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="80px">-->
      <!--        <el-form-item label="行业" prop="industryId">-->
      <!--          <el-select v-model="ruleForm.industryId" placeholder="请选择活动区域" size="small" class="w-200">-->
      <!--            <el-option v-for="item in industryList" :key="item.industryId" :label="item.industryName" :value="item.industryId"></el-option>-->
      <!--          </el-select>-->
      <!--        </el-form-item>-->
      <!--      </el-form>-->
      <!--      <p font="14" class="mb-10" v-if="!loading && this.ruleForm.industryId == -1">点击“立即创建”，稍后我们运营人员会与您联系，帮您创建行业专属AI机器人。</p>-->
      <div class="mb-10">
        <e-button-n size="small" :loading="loading" type="primary" @click="submitForm()">立即创建</e-button-n>
      </div>
      <p font="14" style="color: red" v-if="loading">正在为您创建企业，请耐心等待。</p>
    </div>
  </div>
</template>

<script>
import md5 from "js-md5";
import {chatStep} from "@/application/handleChatData";
import {getUserStatus, isShowGuideFun} from "@/application/statusData";

const API_SECRET = "20b3f84679cd4be1849094e03495293b";
export default {
  name: "", // Pascal命名
  mixins: [],
  components: {},
  props: {},
  computed: {},
  data() {
    return {
      searchVal: "",
      industryListAll: [],
      industryList: [],
      ruleForm: {
        industryId: ""
      },
      rules: {industryId: [{required: true, message: "请选择行业", trigger: "blur"}]},
      loading: false
    };
  },
  watch: {},
  beforeCreate() {
  },
  created() {

  },
  beforeMount() {
  },
  mounted() {
    this.fetchIndustry();
  },
  methods: {
    search() {
      if (this.searchVal) {
        this.industryList = this.industryListAll.filter(item => {
          return item.industryName.indexOf(this.searchVal) != -1;
        });
      } else {
        this.industryList = this.industryListAll;
      }
    },
    industryClick(item) {
      this.ruleForm = item;
    },
    async fetchIndustry() {
      const res = await EWebPlat.platService(webClientApiMap.eachbotFlowWeb.industryList);
      if (res.code) {
        this.$message.error(res.msg);
        return;
      }
      this.industryListAll = [].concat(res.data || []).map(item => {
        if (item.isDefault) {
          item.industryName = "没有我的行业";
          item.tip = "点击“立即创建”，稍后我们运营人员会与您联系，帮您创建行业专属AI机器人。";
        }
        return item;
      });
      this.industryList = [].concat(res.data || []);
    },
    getSign() {
      const uniqid = new Date().getTime();
      return {
        sign: md5(uniqid + API_SECRET).toLowerCase(),
        uniqid
      };
    },
    async submitForm() {
      if (!this.ruleForm.industryId) {
        this.$message.error("请选择所属行业");
        return;
      }
      this.loading = true;
      const res = await window.EWebPlat.platService(window.webClientApiMap.clientWebcall.qunfengInit, {
        industryId: this.ruleForm.industryId
      });
      if (res.code) {
        this.loading = false;
        this.$message.error(res.msg);
        return;
      }
      setTimeout(async () => {
        this.loading = false;
        getUserStatus(() => chatStep());
        isShowGuideFun();
        this.$router.replace("/chat");
      }, 10000);
    }
    /*async submitForm() {
      // const valid = await new Promise(resovle => this.$refs.ruleForm.validate(valid => resovle(valid)));
      // if (!valid) {
      //   return;
      // }
      if (!this.ruleForm.industryId) {
        this.$message.error("请选择所属行业");
        return;
      }
      this.loading = true;
      // 1.创建账号 乔政
      const res1 = await EWebPlat.platService(webClientApiMap.authEupms.baseUserAiCreate);
      if (res1.code) {
        this.loading = false;
        this.$message.error(res1.msg);
        return;
      }
      // 2.创建Ai账号 世英
      const res2 = await window.EWebPlat.platService(window.webClientApiMap.eachbotFlowWeb.aiUserInit, {
        industryId: this.ruleForm.industryId,
        companyId: res1.data.companyId,
        userId: res1.data.userId
      });
      if (res2.code) {
        this.loading = false;
        this.$message.error(res2.msg);
        return;
      }
      // 3.绑定Ai账号 严秦
      const res3 = await window.EWebPlat.platService(window.webClientApiMap.clientPlatform.chatFriendAdd, {"friends": [res1.data.userId]});
      if (res3.code) {
        this.loading = false;
        this.$message.error(res3.msg);
        return;
      }

      // Ai 账号放入默认分组
      const res5 = await window.EWebPlat.platService(window.webClientApiMap.clientWebcall.skillGroupQunfengInit, {"aiUserId": res1.data.userId});
      if (res5.code) {
        this.loading = false;
        this.$message.error(res5.msg);
        return;
      }

      const params = {
        "sellId": res1.data.userId,
        "status": 1,
        "aiURL": "http://ai6.inner.easyliao.com/api/robot",
        "trustType": 2,
        "saveCardType": 1
      };
      const uniqid = new Date().getTime();
      const sign = md5(JSON.stringify(params) + uniqid + API_SECRET).toLowerCase();
      // 4.托管 世英
      setTimeout(async () => {
        const res4 = await window.EWebPlat.platService(window.webClientApiMap.apiTrust.apiTrustClient, params, {splicingParams: `?sign=${sign}&uniqid=${uniqid}`});
        if (res4.status) {
          this.loading = false;
          this.$message.error(res4.message);
          return;
        }
        getUserStatus(() => chatStep());

        isShowGuideFun();
        this.$router.replace("/chat");
      }, 10000);
      // this.$emit("")
    }*/
  },
  beforeUpdate() {
  }, //生命周期 - 更新之前
  updated() {
  }, //生命周期 - 更新之后
  beforeDestroy() {
  }, //生命周期 - 销毁之前
  destroyed() {
  }, //生命周期 - 销毁完成
  activated() {
  } //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang='scss' scoped>
//@import url(); 引入公共css类
.industry {
  background: url("../static/img/indbg1.png") no-repeat;
  background-size: 100%;

  .ruleForm {
    background: #eee;
    padding: 40px;
    border-radius: 16px;
    width: 840px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 475px;
    background: url("../static/img/indbg2.png") no-repeat;
    background-size: 100%;

    .title {
      font-size: 18px;
      color: #333333;
    }

    .box {
      height: 245px;
      width: 100%;
      overflow-y: auto;
      align-content: flex-start;

      .item {
        width: 140px;
        height: 34px;
        background: #FFFFFF;
        border-radius: 4px;
        font-size: 12px;
        border: 1px solid #F0F0F0;
        padding: 0 15px;
        cursor: pointer;
      }

      .active {
        color: #338AFF;
        background: #F3F8FF;
        border: 1px solid #7FB6FF;
      }
    }
  }
}
</style>