<!--
 * @Description:
 * @Author: 李大玄
 * @Date: 2022-07-28 20:34:43
 * @FilePath: \hw-web-client-view\src\views\layout.vue
 * @LastEditors: chunxu.Zhao
 * @LastEditTime: 2024-04-12 17:28:02
-->
<template>
  <div height="100%" :class="$ELCONFIG.className">
    <Application @dropdownHandleCommand="dropdownHandleCommand">
      <template v-slot:appIcon>
        <img v-if="$ELCONFIG.type == 'cn'" :src="logoImg" width="28px" class="mr-8 mt-4" alt="">
        <img v-else :src="logoImg" height="32" class="mr-8 mt-4" alt="">
      </template>
      <template v-slot:actionBar>
        <div v-if="$ELCONFIG.type == 'en'" class="left-box">
          <el-button @click="leadBack" v-if="$route.path == '/homeIndex/chatRecord' && routerCode == leadCode"
                     class="lead-back-btn el-icon-back mr-16" style="">
          </el-button>
          <span class="pageName mr-20">
            {{ $route.path == '/homeIndex/chatRecord' && routerCode == leadCode ? "Lead" : $route.meta.pageTitle }}
          </span>
          <el-button size="mini" @click="leadShow" style=""
                     v-if="$route.path == '/homeIndex/chatRecord' && routerCode != leadCode"
                     plain font="14" class="mr-22 lead-btn">
            Lead
          </el-button>
        </div>

        <div v-if="$ELCONFIG.type == 'en'" class="layout-top-box flex  ai-center" style="">
          <Progress @nextStepToGetChat="nextStepToGetChat" :progressFlag.sync="progressFlag" ref="freeProgress"></Progress>

          <el-tooltip class="item" effect="dark" :content="$ELCONFIG.layoutTop.monitorDialogue" placement="bottom">
            <el-button type="text" :disabled="progressFlag" @click="monitorDialogue" icon="iconfont icon-jiankong" style="color: #7E84A3;" v-if="isChatMonitor && $ELCONFIG.type == 'en'" class="mr-22"></el-button>
          </el-tooltip>
        </div>
      </template>
      <template v-slot:content>
        <div class="flex" width="100%" :style="`height: calc(100% - ${$ELCONFIG.type == 'en' ? '15px' : '44px'})`">
          <div v-if="isShowSecondEnums" class="second-menu-box">
            <div class="menu-item" v-for="(item, index) in isShowSecondEnums" :key="index" @click="jump(item)"
                 :style="`cursor: ${ item.disabled ? 'not-allowed' : 'pointer'}`"
                 :class="{active: routerCode ==item.uid }">
              {{ item.name }}
            </div>
          </div>
          <transition name="left-to-right" mode="out-in" appear>
            <keep-alive>
              <router-view v-if="$route.meta && $route.meta.keepAlive"></router-view>
            </keep-alive>
          </transition>
          <transition name="left-to-right" mode="out-in" appear>
            <router-view v-if="!$route.meta || !$route.meta.keepAlive"></router-view>
          </transition>
        </div>
      </template>
    </Application>

    <el-dialog title="绑定手机号" width="472px" class="bind-phone" :visible.sync="dialogFormVisible">
      <el-form :model="form" label-width="80px" :rules="rules" ref="ruleForm">
        <el-form-item label="手机号" prop="phone">
          <el-input v-model="form.phone" size="small" oninput="value=value.replace(/[^\d]/g,'')" maxlength="11" placeholder="请输入正确的手机号" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="验证码" prop="code">
          <el-input v-model="form.code" size="small" oninput="value=value.replace(/[^\d]/g,'')" maxlength="6" placeholder="请输入验证码" autocomplete="off">
            <el-button class="code-num" slot="suffix" type="text" :disabled="disabled" @click="getCode" size="small">
              {{ btnTxt }}
            </el-button>
          </el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancelBtn" size="small">取 消</el-button>
        <el-button type="primary" @click="submitForm" size="small">
          确 定
        </el-button>
      </div>
    </el-dialog>

    <MessageRemind ref="messageRemind"></MessageRemind>
    <MonitorDialogue ref="monitorDialogue"></MonitorDialogue>
    <!-- 引导页 -->
    <guide v-if="$store.getters.isGuideShow"></guide>
  </div>
</template>

<script>
import Application from "ui@/components/newLayouts";
import guide from "@/views/guide";
import {stateList, setStatusColor, getStatus, getUserStatus, isShowGuideFun} from "@/application/statusData";
import {LocalStorageManager} from "@/utils/storageManager";
import MessageRemind from "@/views/layoutComponent/messageRemind";
import MonitorDialogue from "@/views/layoutComponent/monitorDialogue";
import {chatStep} from "@/application/handleChatData";
import Progress from "./progress";
import {mapGetters} from "vuex";
import EWebPlat from "plat";
import apiMap from '@/api';

console.log("layout-test-cdn");
const bindPhoneIndex = 3;
export default {
  name: "App",
  components: {
    Application, guide,
    MessageRemind, MonitorDialogue, Progress
  },
  computed: {
    logoImg: () => {
      return {
        en: require("@/static/img/en-logo.png"),
        cn: require("@/static/img/cn-logo.png")
      }[ELCONFIG.type];
    },
    ...mapGetters(["routerCode", "appConfig"]),
    isShowSecondEnums() {
      if (!["/console", "/chatRecord", "/aiRobot2"/*, "/report"*/].includes(this.$route.path)) {
        return false;
      }
      const enumsOriginData = LocalStorageManager.get("enumsOriginData");
      const item = enumsOriginData.find(item => item.uri == this.$route.path.replace("/", ""));
      if (item.children && item.children.length) {
        if (!this.routerCode) {
          this.$store.dispatch("setCode", _.first(item.children).uid);
        }
        return item.children;
      }
      return "";
    }
  },
  watch: {
    "$route": {
      handler(newVal, oldVal) {
        console.log("newVal-----", newVal.query.code);
        if (newVal?.path != oldVal?.path) {
          this.$store.dispatch("setCode", "");
          if (["chatWidget", "billing", "integration"].includes(newVal.query.code)) {
            this.$store.dispatch("setCode", newVal.query.code);
          }
        }
      },
      deep: true, // 深度
      immediate: true // 立即执行
    }
  },
  data() {
    var validatePhone = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入手机号"));
      } else if (!/1[35789]\d{9}/.test(value)) {
        callback(new Error("请输入正确的手机号"));
      } else {
        callback();
      }
    };
    var validateCode = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入正确格式验证码"));
      } else if (value.length != 6) {
        callback(new Error("请输入正确格式验证码!"));
      } else {
        callback();
      }
    };
    return {
      // isCreatAccountVisible: false,
      btnTxt: "获取验证码",
      // 是否禁用  即点击之后一段时间内无法再点击
      disabled: false,
      time: 0,
      dialogFormVisible: false,
      rules: {
        phone: [{required: true, validator: validatePhone, trigger: "change"}],
        code: [{required: true, validator: validateCode, trigger: "change"}]
      },
      form: {
        phone: "",
        code: ""
      },
      isChatMonitor: false, // 监听权限
      leadCode: "85cb2779-d129-4e3a-ac2d-d1724c1125fa",
      progressFlag: false
    };
  },
  async created() {
    /* 进入项目只有三个地方
    * 1. 群峰
    * 2. 网页版(可能会设置为cn,也可能会设置为en)
    * 3. 海外版
    * */
    // 可能是: 2 || 3  2024年04月07日14:11:22 改为只是2 李大玄----
    // 3 走到了 "nextStepToGetChat"
    if (window.parent.frames[0] != window.self) {
      await getUserStatus(() => chatStep());
      if (window.$CONFIG.lang == "cn") {
        await isShowGuideFun(); // 海外新手引导不要
      }
    }
    // EWebPlat.platConfig.uiDropdown[4].name = ELCONFIG.layoutTop.logout;
    // 只能是: 1
    if (window.$CONFIG.lang == "cn") {
      const res = await window.EWebPlat.platService(window.webClientApiMap.authEupms.webPhoneBindinfo);
      if (res.code) {
        this.$message.error(res.msg);
        return;
      }
      const phone = res.data.bindInfo?.phone || "";
      if (phone) {
        EWebPlat.platConfig.uiDropdown[bindPhoneIndex].name = phone;
      }
    }
    // 此处进来手动获取状态
    // const res2 = await window.EWebPlat.platService(window.webClientApiMap.clientPlatform.getUserInfo);
    // if(res2.code == 0) {
    //   this.getStatus(res2.data?.runningStatus);
    // }
    // 此处监听 继玄方法 从val获取状态展示客服登录状态更新 　2023年11月11日14:50:59 lijixuan改为window  更改：2023.11.16继玄自己去调 handleChatData.js handleQueue
    // window.handleQueue = (val) => {
    //   console.log("handleQueue------zhixinglezhixingle", val);
    //   getStatus(val?.payload?.runningStatus);
    // };
    window.EWebPlat.dropdownHandleCommand = async (val) => {
      console.log(11111, val);
      if (Object.values(stateList).includes(val) && !this.progressFlag) {
        let status = "";
        for (let [i, c] of Object.entries(stateList)) {
          if (c == val) {
            status = i;
          }
        }
        const btnDom = document.querySelector(".avatar-box");
        if (Array.from(btnDom.classList).includes(val)) {
          return;
        }
        const res = await window.EWebPlat.platService(window.webClientApiMap.clientPlatform.updateUserStatus, {status: Number(status)});
        if (res.code == 0) {
          for (let [i, c] of Object.entries(stateList)) {
            if (i == res.data?.status) {
              btnDom.classList.add(c);
            } else {
              btnDom.classList.remove(c);
            }
          }
          setStatusColor(res.data?.status);
        }
      } else if (val === "bindPhone") {
        if (EWebPlat.platConfig.uiDropdown[bindPhoneIndex].name == "绑定手机号") {
          this.dialogFormVisible = true;
        }
      } else if (val === "messageSetting"&& !this.progressFlag) {
        this.$refs.messageRemind.open();
      }

    };
    if (window.$CONFIG.lang == "en") {
      window.addEventListener("message", (data) => {
        if (data.data.type == "toHistory") {
          console.log("父级接到--toHistory");
          window.EWebPlat.router.push({path: "/homeIndex/chatRecord", query: {userId: data.data.data.userId}});
        }
      }, false);
    }
  },
  async mounted() {
    this.isChatMonitor = !!LocalStorageManager.get("otherPromise")?.chatMonitor;
    //父级
    window.addEventListener("message", (event) => {
      if (event.data && event.data.type == "avatarSrc") {
        this.appConfig.avatarSrc = event.data.data.avatarSrc || ""; //"https://gimg3.baidu.com/search/src=http%3A%2F%2Fpics4.baidu.com%2Ffeed%2Ff31fbe096b63f624e3bc90fdc90c3ef5184ca3c5.jpeg%40f_auto%3Ftoken%3D631d012f512a15a5524625739d8738a8&refer=http%3A%2F%2Fwww.baidu.com&app=2021&size=f360,240&n=0&g=0n&q=75&fmt=auto?sec=1712768400&t=c2de8153fb5c4c1051358eddc7addb4f"
        this.$store.dispatch("setAppConfig", this.appConfig);
        this.$nextTick(() => {
          getStatus(LocalStorageManager.get(LocalStorageManager.customerStatus))
        })
      }
    });
    // 海外走头像改变
    if (window.$CONFIG.lang == "en") {
      const res = await window.EWebPlat.platService(apiMap.clientPlatform.getUserInfo);
      console.log(res);
      this.appConfig.avatarSrc = res.data.customerCardImg || ""; //"https://gimg3.baidu.com/search/src=http%3A%2F%2Fpics4.baidu.com%2Ffeed%2Ff31fbe096b63f624e3bc90fdc90c3ef5184ca3c5.jpeg%40f_auto%3Ftoken%3D631d012f512a15a5524625739d8738a8&refer=http%3A%2F%2Fwww.baidu.com&app=2021&size=f360,240&n=0&g=0n&q=75&fmt=auto?sec=1712768400&t=c2de8153fb5c4c1051358eddc7addb4f"
      setTimeout(() => {
        this.$store.dispatch("setAppConfig", this.appConfig);
      }, 1000);
    }

  },
  methods: {
    async nextStepToGetChat(flag) {
      if (flag) {
        // await getUserStatus(() => chatStep());
      }
    },
    leadBack() {
      this.$store.dispatch("setCode", "");
      // this.$store.dispatch("setCode", "chatRecord");
    },
    leadShow() {
      this.$store.dispatch("setCode", this.leadCode);
    },
    jump(item) {
      if (item.disabled) {
        return;
      }
      this.$store.dispatch("setCode", item.uid);
    },
    monitorDialogue() {
      this.$refs.monitorDialogue.open();
    },
    async submitForm() {
      const valid = await new Promise(resolve => this.$refs.ruleForm.validate(valid2 => {
        resolve(valid2);
      }));
      if (!valid) {
        return;
      }
      const res = await window.EWebPlat.platService(window.webClientApiMap.authEupms.configUpdate, {...this.form});
      if (res.code) {
        this.$message.error(res.msg);
        return;
      }
      this.$message.success("绑定成功");
      this.dialogFormVisible = false;
      EWebPlat.platConfig.uiDropdown[bindPhoneIndex].name = this.form.phone;
    },
    cancelBtn() {
      const {form} = this.$options.data();
      this.form = form;
      this.dialogFormVisible = false;
    },
    async getCode() {
      // 校验手机号码
      if (!this.form.phone) {
        this.$message({message: "请输入手机号", type: "warning"});
        return;
      } else if (!/1[35789]\d{9}/.test(this.form.phone)) {
        this.$message({message: "请输入手机号", type: "warning"});
        return;
      }
      this.time = 60;
      this.disabled = true;
      //调用倒计时方法
      this.timer();
      // 封装的axios接口
      const res = await EWebPlat.platService(webClientApiMap.authEupms.webPhoneSendcode, {phone: this.form.phone}, {splicingParams: "LoginPhoneBind"});
      if (res.code) {
        this.$message.error(res.msg || "发送失败");
        this.time = 0;
        return;
      }
      this.$message({message: "发送成功", type: "success"});
    },
    // 倒计时方法
    timer() {
      if (this.time > 0) {
        this.time--;
        // console.log(this.time);
        this.btnTxt = this.time + "s后重新获取验证码";
        setTimeout(this.timer, 1000);
      } else {
        this.time = 0;
        this.btnTxt = "获取验证码";
        this.disabled = false;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.second-menu-box {
  width: 202px;
  min-width: 202px;
  height: 100%;
  top: 84px;
  left: 215px;
  // border-radius: 4px;
  background: #fff;
  padding: 14px 0;
  overflow-y: auto;
  border-right: 1px solid #EEEEF1;

  .menu-item {
    height: 36px;
    line-height: 36px;
    padding-left: 20px;
    color: #4D4E50;
    font-size: 14px;
    cursor: pointer;

    &.active {
      color: #338AFF;
      font-weight: 700;
    }
  }
}

.bind-phone {
  ::v-deep .el-dialog {
    border-radius: 8px;
  }

  ::v-deep .el-dialog__header {
    border-bottom: 1px solid #eee;
  }

  ::v-deep .el-form-item:last-child {
    margin-bottom: 0;
  }
}
</style>

<style lang="scss">

.cn ul.el-dropdown-menu.popoverCard.el-popper {
  li:nth-child(6) {
    display: none !important;
  }
}

ul.el-dropdown-menu.popoverCard.el-popper {
  li:nth-child(5) {
    i {
      font-size: 12px !important;
    }
  }
}

.code-num {
  color: #338AFF;

  &.is-disabled {
    color: #bbb;
  }
}
</style>
