<template>
  <div class="progress" v-if="isShowProgress">
    <div class="progress-outbox mr-20" @click="progressClick">
      <el-progress type="circle" :percentage="percentage" :stroke-width="4" :width="36" :format="formatProgress"
                   :define-back-color="percentage ? '#ebeef5' : '#f56c6c'" class="mr-8"
                   :color="colors" v-loading="!true"></el-progress>
      <div class="text">
        <span :style="{color: freeDay > 3  ? '#338AFF' : '#f56c6c'}" font="14" font-weight="500">
          {{ percentage ? "Days Until Trial Ends" : "Trial Ended" }}
        </span>
      </div>
    </div>

    <el-dialog :visible.sync="dialogVisible" title=" " width="560px" center
               :close-on-click-modal="false" :close-on-press-escape="false"
               :show-close="Boolean(freeDay)" append-to-body custom-class="dialog-custom-class"
               style="border-radius: 6px" @close="closeDialog"
    >

      <div class="content flex flex-column jc-center ai-center">
        <img :src="dialogData.img" width="50" class="mb-24" alt="">
        <p font="20" font-weight="500" class="mb-14" style="text-align: center;word-break: break-word;color: #000">
          {{ dialogData.tipText1 }}</p>
        <p class="" font="16" style="text-align: center;word-break: break-word;line-height: 28px">{{
            dialogData.tipText2
                                                                                                  }}</p>
      </div>
      <div slot="footer" class="dialog-footer" v-if="userInfo.roleType == 1">
        <el-button type="primary" class="next-btn" @click="goBill">
          {{ dialogData.btnText }}
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import {LocalStorageManager} from "@/utils/storageManager";

function getTodayAndYesterday() {
  let yesterday = new Date(Date.now() - 86400000);
  return {
    today: new Date().toLocaleDateString("en-US", {year: "numeric", month: "2-digit", day: "2-digit"}),
    yesterday: yesterday.toLocaleDateString("en-US", {year: "numeric", month: "2-digit", day: "2-digit"})
  };
}

export default {
  name: "", // Pascal命名
  mixins: [],
  components: {},
  props: {},
  computed: {
    ...mapGetters(["nomalMenu", "userMsg"])
    // dialogData() {
    //   return this.dialogConfig[this.freeDay > 3 ? "caseOne" : "caseTwo"];
    // }
  },
  data() {
    return {
      percentage: 0,
      colors: [
        {color: "#F3413C", percentage: 27},
        {color: "#338AFF", percentage: 28}
      ],
      dialogVisible: false,
      isShowProgress: false, // 是否展示
      freeDay: 0,
      totalNums: 0, // 总条数
      totalTrialDay: 14,
      imgEnum: {
        one: require("../static/img/freeDayWarning.png"),
        two: require("../static/img/freeDayError.png")
      },
      dialogData: {
        img: require("../static/img/freeDayWarning.png"),
        tipText1: "",
        tipText2: "",
        btnText: "Upgrade Now"
      },
      userInfo: {}, // 当前登录人的信息
      setTimer: null,
      tipWords: {}
    };
  },
  watch: {},
  beforeCreate() {
  },
  async created() {
    const res = await window.EWebPlat.platService(window.webClientApiMap.clientPlatform.userDetailByUserId, {userId: this.userMsg.userId});
    if (res.code) {
      this.$message.error(res.msg);
      return;
    }
    this.userInfo = _.first(res.data.userRoleDetails);
    this.getCurrentInfo();
  },
  beforeMount() {
  },
  async mounted() {
    window.updateClientState = () => {
      this.handleMenus();
      this.getCurrentInfo();
    };
  },
  methods: {
    // 去到账单页 逻辑冲突
    goBill() {
      this.dialogVisible = false;
      this.$router.push({path: "/console", query: {code: "billing"}});
      if (this.$route.path == "/console") { // 这里是为了处理倒计时天数还有,但是点击了购买跳转,然后点击了其他二级菜单,再次重复操作不生效问题
        this.$store.dispatch("setCode", "billing");
      }
    },
    // 关闭弹窗 将继续执行调用账号信息接口
    closeDialog() {
      // 如果是0天, 不去调接口
      if (!this.freeDay) {
        return;
      }
      this.getCurrentInfo();
    },
    getMessage(imgType, tipText) {
      let [tipText1, tipText2] = this.tipWords[tipText]?.split("@@@@");
      const img = this.imgEnum[imgType || "one"];
      if (this.userInfo.roleType == 1) {
      }
      if (tipText == "noticeClose300" || tipText == "aiChatUsed200") {
        tipText1 = tipText1.replace("{0}", this.aiChatTotal);
      } else {
        tipText1 = tipText1.replace("{0}", this.freeDay);
      }
      return {
        img, tipText1, tipText2, btnText: "Upgrade Now"
      };
    },
    // 获取当前账号信息
    async getCurrentInfo() {
      if (this.setTimer) {
        this.setTimer = null;
        clearTimeout(this.setTimer);
      }
      const res = await EWebPlat.platService(webClientApiMap.clientWebcall.chargeCurrentInfo);
      if (res.code) {
        this.$message.error(res.msg);
        return;
      }
      // res.data.accountSubscriptionStatus = !true;
      // res.data.chatSubscriptionStatus = !true;
      // 1. 既购买了坐席,也购买了AI
      if (res.data.accountSubscriptionStatus && res.data.chatSubscriptionStatus) {
        this.isShowProgress = false; // 不展示
        this.$emit("update:progressFlag", false);
        this.handleMenus(false);
        this.disabledNavbar(false);
        this.$emit("nextStepToGetChat", true);
        return;
      }
      // 2. 只购买了坐席, 没购买AI
      if (res.data.accountSubscriptionStatus && !res.data.chatSubscriptionStatus) {
        this.isShowProgress = false;
        this.$emit("update:progressFlag", false);
        this.handleMenus(false);
        this.disabledNavbar(false);
        this.$emit("nextStepToGetChat", true);
        return;
      }
      // 3.
      this.isShowProgress = true;
      // 如果走下来了 说明 既没买坐席 也没买AI 说明在试用期内
      this.tipWords = res.data.tipWords;
      /*
        1、试用期消耗大于等于200、290条弹框提醒；（只有Admin可看到）
        2、试用期剩余3、2、1天的弹框提醒；（只有Admin可点击可看到）
        3、试用期0天的弹框提醒；(Admin付费通知，其他角色是提醒Admin去付费的通知)
        4、右上角14天倒计时（只有Admin能点击，弹框也是只有Admin看到）
      */
      this.freeDay = res.data.expireDay;// 免费试用剩余天数
      this.totalNums = res.data.probationChatTotal; // 总条数
      this.totalTrialDay = window.parseInt(res.data.totalTrialDay, 10); // 试用总天数
      this.aiChatTotal = res.data.aiChatTotal; // 已使用条数
      this.percentage = this.freeDay * 100 / this.totalTrialDay; // 进度
      // 1. 全部消耗完 (天数,条数) 必弹
      /* if (!this.freeDay && this.aiChatTotal >= 300) {
         this.dialogVisible = true;
         this.handleMenus();
         return;
       }*/
      // 2. 天数完了 必弹
      if (!this.freeDay) {
        if (this.$route.path === "/console" && this.$route.query.code === "billing" && this.$route.query.billpaying) {
          // 订阅页面，支付中
        } else {
          this.dialogVisible = true;
          this.dialogData = this.getMessage("two", "expireDay0");
        }
        this.$emit("update:progressFlag", true);
        this.handleMenus(true);
        this.$emit("nextStepToGetChat", false);
        this.disabledNavbar(true);
        return;
      }
      this.$emit("update:progressFlag", false);
      this.disabledNavbar(false);
      this.handleMenus(false);
      this.$emit("nextStepToGetChat", true);
      this.dialogCase();
      if (!this.dialogVisible) {
        this.setTimer = setTimeout(() => {
          this.getCurrentInfo();
        }, 1000 * 60 * 3); // 3分钟
      }
    },
    disabledNavbar(flag) {
      EWebPlat.platConfig.uiDropdown[0].disabled = flag;
      EWebPlat.platConfig.uiDropdown[1].disabled = flag;
      EWebPlat.platConfig.uiDropdown[2].disabled = flag;
      EWebPlat.platConfig.uiDropdown[3].disabled = flag;
    },
    // flag 菜单状态
    handleMenus(flag = false) {
      const newData = this.nomalMenu.map((item, index) => {
        item.disabled = flag;
        return item;
      });
      let enumsOriginData = LocalStorageManager.get("enumsOriginData");
      enumsOriginData = enumsOriginData.map(item => {
        item.children = item.children?.map(childItem => {
          childItem.disabled = flag;
          return childItem;
        });
        return item;
      });
      LocalStorageManager.set("enumsOriginData", enumsOriginData);
      this.$store.dispatch("setNomalMenu", newData);
    },
    //
    dialogCase() {
      const localDay = JSON.parse(localStorage.getItem(`${window.__sso}-localDay`) || JSON.stringify({}));
      const today = getTodayAndYesterday();
      // 今天没有弹过直接弹 || 获取的今天 != 本地存储的今天 说明存储是昨天存的  今天直接弹
      if (!localDay.today || today.today != localDay.today) {
        // 3. 天数剩余 3,2,1  && admin 每天一次
        if (this.freeDay <= 3 && this.userInfo.roleType == 1) {
          this.dialogVisible = true;
          this.dialogData = this.getMessage("one", "expireDay3");
          localStorage.setItem(`${window.__sso}-localDay`, JSON.stringify(today));
          return;
        }
        // 4. 条数已使用  >= 200 && < 290 && admin 每天一次
        if (this.aiChatTotal >= this.totalNums - 100 && this.aiChatTotal <= this.totalNums - 10 && this.userInfo.roleType == 1) {
          this.dialogVisible = true;
          this.dialogData = this.getMessage("one", "aiChatUsed200");
          localStorage.setItem(`${window.__sso}-localDay`, JSON.stringify(today));
          return;
        }
        // 5. 条数已使用 大于等于300
        if (this.aiChatTotal >= this.totalNums && this.userInfo.roleType == 1) {
          this.dialogVisible = true;
          this.dialogData = this.getMessage("one", "aiChatUsed300");
          localStorage.setItem(`${window.__sso}-localDay`, JSON.stringify(today));
          return;
        }
      }
    },
    // 点击展示弹窗
    progressClick() {
      if (this.userInfo.roleType == 1) { // 只有管理员能点
        // 3. admin 点击   只要有天数剩余
        if (this.freeDay > 0) {
          this.dialogVisible = true;
          this.dialogData = this.getMessage("one", "expireDay3");
          return;
        }
        // 4. 0天 文案修改
        if (!this.freeDay) {
          this.dialogVisible = true;
          this.dialogData = this.getMessage("one", "expireDay0");
          return;
        }
      }
    },
    // 格式化进度条内容
    formatProgress(val) {
      return window.parseInt(val * this.totalTrialDay / 100) || "0";
    }
  }
};
</script>

<style lang='scss'>
.dialog-custom-class {
  border-radius: 10px !important;
}
</style>

<style lang='scss' scoped>
.next-btn {
  width: 100%;
  height: 56px;
  border: 1px;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 900;
  line-height: 27px;
}

.dialog-custom-class {
  border-radius: 6px !important;
}

::v-deep .el-progress__text {
  font-size: 16px !important;
}

.progress-outbox {
  display: inline-flex;
  align-items: center;
  position: relative;

  .text {
    font-size: 18px;
    font-weight: bold;
  }
}
</style>