<!--
 * @Description:
 * @Author: 李大玄
 * @Date: 2023/11/1 10:37 AM
 * @FilePath: /hw-web-client-view/src/views/chat/chatList.vue
 * @LastEditors: 段丽军
 * @LastEditTime: 2023-12-06 17:36:26
-->
<template>
  <div class="chat-list" height="100%">
    <Tabs v-model="tabActive" @change="tabsChange" :data="types" class="mb-10"></Tabs>
    <div class="search-box plr-10 mb-10">
      <el-input size="small" :placeholder="$ELCONFIG.chat.chatList.inputSearchPlaceholder" @input="searchInput" prefix-icon="el-icon-search" clearable v-model="searchVal"></el-input>
    </div>

    <div class="list-box" v-loading="listLoading">
      <el-collapse :style="`height: calc(100% - ${tabActive == 'end'? '53px': '0px'})`" v-model="activeName" class="collapse-box pb-10">
        <el-collapse-item v-for="(val, key) in showChatList" :key="key" :name="`collapse${key}`">
          <template slot="title">
            <div class="ellipsis flex jc-between ai-center pl-15" width="100%">
              <span style="width: 220px" class="ellipsis">
                {{ key == userMsg.userId ? $ELCONFIG.chat.chatList.myChat : $ELCONFIG.chat.chatList.robotChat }}
                <span v-if="$ELCONFIG.type == 'en'">{{ key== userMsg.userId ? " " : key }}</span>
              </span>
              （{{ val.length || 0 }}）
              <div class="mr-10">
                <span v-if="grpupUnreadMessageMap[tabActive][key]" class="collapse-badge" :style="`padding: 1px 5px;font-size: 10px`">
                  {{ grpupUnreadMessageMap[tabActive][key] > 99 ? "99+" : grpupUnreadMessageMap[tabActive][key] }}
                </span>
              </div>
            </div>
          </template>
          <RecycleScroller v-if="val.length > 50" class="scroller" :style="`height: ${50 * showChatItemHeight}px`" :items="val" :item-size="showChatItemHeight" key-field="chatId" v-slot="{ item, index }">
            <div :id="item.chatId" @click="itemSelect(item, key, index)" class="chat-item flex ai-center " :class="{'chat-item-active': selectItem.chatId == item.chatId}">
              <div class="flex ai-center jc-center" style="position: relative">
                <div style="position: absolute;top: -9px;right: -6px;">
                  <span v-if="getChatItemUnreadMsgCount(key, item.chatId)" class="collapse-badge" :style="`padding: 1px 5px;font-size: 10px`">
                    {{ getChatItemUnreadMsgCount(key, item.chatId) }}
                  </span>
                </div>
                <el-avatar v-if="item.headImgUrl" :size="34" :src="item.headImgUrl"></el-avatar>
                <el-avatar v-else :size="34" icon="el-icon-user-solid"></el-avatar>
              </div>

              <div class="ml-10" style="width: calc(100% - 44px)">
                <div class="flex ai-center jc-between" style="height: 20px;line-height: 20px;">
                  <div class="w-180 ellipsis" font="14">{{ item.nickName }}</div>
                  <el-tooltip effect="dark" :content="`${$ELCONFIG.chat.chatList.waitText}${reckonTime[item.chatId]}`" placement="right">
                    <span class="reckon-by-time">{{ reckonTime[item.chatId] }}</span>
                  </el-tooltip>
                </div>

                <div class="w-210 ellipsis msg-box" font="12" style="color: #999;height: 16px;line-height: 16px;" v-html="getLastMsg(item)"></div>
              </div>
            </div>
          </RecycleScroller>
          <div v-else-if="val.length <= 50">
            <div v-for="(item, index) in val" :key="item.chatId" :id="item.chatId" @click="itemSelect(item, key, index)" class="chat-item flex ai-center " :class="{'chat-item-active': selectItem.chatId == item.chatId}">
              <div class="flex ai-center jc-center" style="position: relative">
                <div style="position: absolute;top: -9px;right: -6px;">
                  <span v-if="getChatItemUnreadMsgCount(key, item.chatId)" class="collapse-badge number" :style="`padding: 1px 5px;font-size: 10px`">
                    {{ getChatItemUnreadMsgCount(key, item.chatId) }}
                  </span>
                </div>
                <el-avatar v-if="item.headImgUrl" :size="34" :src="item.headImgUrl"></el-avatar>
                <el-avatar v-else :size="34" icon="el-icon-user-solid"></el-avatar>
              </div>

              <div class="ml-10" style="width: calc(100% - 44px)">
                <div class="flex ai-center jc-between" style="height: 20px;line-height: 20px;">
                  <div class="w-180 ellipsis" font="14">{{ item.nickName }}</div>
                  <el-tooltip effect="dark" :content="`${$ELCONFIG.chat.chatList.waitText}${reckonTime[item.chatId]}`" placement="right">
                    <span class="reckon-by-time">{{ reckonTime[item.chatId] }}</span>
                  </el-tooltip>
                </div>
                <div readonly disabled class="w-210 ellipsis msg-box" font="12" style="color: #999;height: 16px;line-height: 16px;" v-html="getLastMsg(item)"></div>
              </div>
            </div>
          </div>
        </el-collapse-item>
      </el-collapse>
      <div v-if="!Object.keys(showChatList).length" font-weight="400" class="flex flex-column ai-center jc-center" height="100%" style=" color: #909399;">
        <img src="../../static/img/nodata.png" class="w-100 h-100 mb-20" />
        {{ $ELCONFIG.chat.chatList.noConversationsAvailable }}
      </div>
      <div class="history-box" v-if="tabActive == 'end'">
        <p align="center" class="go-history" font="12">
          [{{ $ELCONFIG.chat.chatList.endTabBottomText }}
          <span class="msg-rocord" @click="gotoHistory">"{{$ELCONFIG.chat.chatList.history}}"</span> ]</p>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import Tabs from "@/components/tabs.vue";
import {LocalStorageManager} from "@/utils/storageManager";
import {alwaysTime} from "@/utils/alwaystime";
import {getGroupUnread, setMenuUnreadMsg, setUnreadMessageCount} from "@/application/handleChatData";
import {RecycleScroller} from "vue-virtual-scroller";
import "vue-virtual-scroller/dist/vue-virtual-scroller.css";
const tablist = [
  {label: ELCONFIG.chat.chatList.current, value: "current", badge: false},
  {label: ELCONFIG.chat.chatList.end, value: "end", badge: false}
];
// ELCONFIG.chat.chatList.  $ELCONFIG.chat.chatList.

/*
* /im/message    消息&事件: 新消息,新创建,转接,关闭,已读
* /im/queue        排队事件&客服状态变更: 在线 忙碌 离线
* /im/forceLogout   强制退出: 当前登录客服 掉线
* /im/data/visitorInfo   名片事件: 创建,更新
* 以下三种消息目前用不到
* /im/robot/stop   机器人
* /im/robot/start   机器人
* /im/ai   机器人
* */
import _ from "lodash";
// 1分钟 = 60秒  1秒 = 1000毫秒
// 因此，30分钟可以表示为： 30分钟 = 30 × 60 × 1000 毫秒
const timeoutPeriod = 30 * 60 * 1000;

export default {
  name: "ChatList", // Pascal命名
  mixins: [],
  components: {Tabs, RecycleScroller},
  props: {},
  computed: {
    ...mapGetters(["userMsg"])
    // types: () => types
  },
  data() {
    return {
      types: tablist,
      showChatTotal: 60, // 展示上限
      listLoading: true,
      tabActive: "current", // end
      activeName: [],
      searchVal: "",
      showChatList: {}, // 要展示的数据
      selectItem: {},
      selectIndex: null,
      //
      judgeDataEndTimer: null,
      reckonTimer: null,
      //
      currentChatList: [],
      grpupUnreadMessageMap: {
        current: {},
        end: {}
      },
      reckonTime: {},
      unreadMessageCountObj: {}, // 未读消息数
      showChatItemHeight: 60
    };
  },
  watch: {},
  beforeCreate() {
  },
  async created() {
    console.log("chatlist-test-cdn-create");
    // 中央对话区 查看更多
    /*await window.EWebPlat.getChatVisitorHistoryMsg();*/
    window.EWebPlat.getChatVisitorHistoryMsg = async () => {
      let res;
      try {
        res = await window.EWebPlat.platService(window.webClientApiMap.clientWebcall.chatVisitorHistoryMsg, {vsid: this.selectItem.visitorId});
      } catch (error) {
        console.log(error);
      }
      if (res.code) {
        this.$message.error(res.msg);
        return;
      }
      const chatList = _.compact([].concat(res.data || []).map(item => {
        if (this.selectItem.chatId != item.chat_id) {
          return item.record_details;
        }
      }).flat(Infinity)).map(item => {
        return {
          fromUserId: item.from_id,
          msg: item.message,
          timestamp: new Date(item.create_time).getTime(),
          msgId: item.recorder_id,
          robot: item.robot,
          type: item.type
        };
      });
      let chatMapToTab = LocalStorageManager.get(`${this.tabActive}${LocalStorageManager.chatPrefix}`) || {};
      chatMapToTab[this.selectItem.userId] = chatMapToTab[this.selectItem.userId].map(item => {
        if (item.chatId == this.selectItem.chatId) {
          item.historyRecentFlag = 1;
        }
        return item;
      });
      this.selectItem.historyRecentFlag = 1;
      const recordChatMap = LocalStorageManager.get(LocalStorageManager.recordChatMap) || {};// 对话存储
      recordChatMap[this.selectItem.chatId] = [].concat(chatList, recordChatMap[this.selectItem.chatId]); // 对话内容进行存储
      LocalStorageManager.set(`${this.tabActive}${LocalStorageManager.chatPrefix}`, chatMapToTab);
      LocalStorageManager.set(LocalStorageManager.recordChatMap, recordChatMap);
      window.EmitChatInfo({item:this.selectItem, chatStsus: this.tabActive});
      const chatIdToUserIdObj = LocalStorageManager.get(LocalStorageManager.chatIdToUserId) || {};
      this.$emit("update:chatInfo", Object.assign({}, this.selectItem, {
          chatStsus:this.tabActive,
          chatFromUser: chatIdToUserIdObj[this.selectItem.chatId].userId == this.userMsg.userId ? "customer" : "autoMonitor"
        }));
      return {chatList};
    };
    // 给丽军 发送对话时
    window.EWebPlat.sendMessage = async ({msg, type}, callback) => {
      // 拼接发送参数
      const params = {
        chatId: this.selectItem.chatId,
        message: msg,
        type
      };
      let res;
      try {
        res = await window.EWebPlat.platService(window.webClientApiMap.clientPlatform.sendMessage, params);
        callback();
      } catch (error) {
        callback();
      }
      if (res.code) {
        this.$message.error(res.msg);
        return;
      }

      // 发送客户信息到对话列表
      const msgId = res.data;
      //通知列表发送数据
      const params2 = {
        fromUserId: this.selectItem.userId,
        msg,
        timestamp: res.timestamp || new Date().getTime(),
        msgId,
        robot: 0,
        type
      };
      // ------------------------------------------------
      const recordChatMap = LocalStorageManager.get(LocalStorageManager.recordChatMap) || {};// 对话存储
      recordChatMap[this.selectItem.chatId] = [].concat(recordChatMap[this.selectItem.chatId] || [], params2);
      LocalStorageManager.set(LocalStorageManager.recordChatMap, recordChatMap);// 对话存储
      this.$emit("update:currentChatList", [].concat(recordChatMap[this.selectItem.chatId] || []));
      this.getCurrentTabData(this.searchVal);
    };
    // 转接
    window.EWebPlat.setTakeover = async (callback) => {
      let res;
      try {
        res = await EWebPlat.platService(webClientApiMap.clientPlatform.chatTakeover, {chatId: this.selectItem.chatId});
        callback();
      } catch (error) {
        callback();
      }
      if (res.code) {
        this.$message.error(res.msg);
        return;
      }

      if (res.data.result == 1) {
        const currentChatMap = LocalStorageManager.get(`current${LocalStorageManager.chatPrefix}`) || {}; // 进行中对话
        const chatIdToUserIdObj = LocalStorageManager.get(LocalStorageManager.chatIdToUserId) || {}; // 对话id
        const ele = currentChatMap[chatIdToUserIdObj[this.selectItem.chatId].userId].splice(this.selectIndex, 1)[0];
        const item = Object.assign({}, ele, {userId: this.userMsg.userId});
        currentChatMap[this.userMsg.userId] = [].concat(currentChatMap[this.userMsg.userId] || [], item);
        // 抢接 得把当前选中的userId 也改了
        if (this.selectItem && this.selectItem.userId) {
          this.selectItem.userId = this.userMsg.userId;
        }
        LocalStorageManager.set(`current${LocalStorageManager.chatPrefix}`, currentChatMap);// 对话存储
        chatIdToUserIdObj[this.selectItem.chatId].userId = this.userMsg.userId; // 即将对话的userId 改变
        LocalStorageManager.set(LocalStorageManager.chatIdToUserId, chatIdToUserIdObj);
        this.getCurrentTabData(this.searchVal);
        this.$emit("update:chatInfo", Object.assign({}, this.selectItem, {
          chatStsus: "current",
          chatFromUser: "customer"
        }));
      } else {
        this.$message.error(ELCONFIG.chat.chatList.takeoverError);
      }
    };
    // 关闭
    window.EWebPlat.closeChat = async (callback) => {
      let res;
      try {
        res = await EWebPlat.platService(webClientApiMap.clientPlatform.chatClose, {chatId: this.selectItem.chatId});
        callback();
      } catch (error) {
        callback();
      }
      if (res.code) {
        this.$message.error(res.msg);
        return;
      }
      const currentChatMap = LocalStorageManager.get(`current${LocalStorageManager.chatPrefix}`) || {}; // 进行中对话
      const endChatMap = LocalStorageManager.get(`end${LocalStorageManager.chatPrefix}`) || {}; // 已结束对话
      const index = [].concat(currentChatMap[this.selectItem.userId] || []).findIndex(item => item.chatId == this.selectItem.chatId);
      const timeDiff = LocalStorageManager.get(LocalStorageManager.timeDiff) || 0;
      if (index != -1) {
        // 从当前对话删除 并加入到结束对话中
        const item = currentChatMap[this.selectItem.userId].splice(index, 1)[0];
        for (const itemKey in endChatMap) {
          for (let i = 0; i < endChatMap[itemKey].length; i++) {
            // console.log("endChatMap[itemKey][i].visitorId == data.visitorId", endChatMap[itemKey][i].visitorId, data.visitorId);
            if (endChatMap[itemKey][i].visitorId == this.selectItem.visitorId) {
              endChatMap[itemKey].splice(i, 1);
              i--;
            }
          }
        }
        endChatMap[this.selectItem.userId] = [].concat(endChatMap[this.selectItem.userId] || [], Object.assign({}, item, {
          timestamp: new Date().getTime() + timeDiff,
          packetTimestamp: new Date().getTime() + timeDiff,
          firstClickFlag: false
        }));
      }
      LocalStorageManager.set(`current${LocalStorageManager.chatPrefix}`, currentChatMap);// 对话存储
      LocalStorageManager.set(`end${LocalStorageManager.chatPrefix}`, Object.assign({}, endChatMap));// 对话存储
      // await handleCloseMoveChatInfo(this.selectItem);
      this.$emit("update:chatInfo", Object.assign({}, this.selectItem, {
        chatStsus: "end",
        chatFromUser: this.selectItem.userId == this.userMsg.userId ? "customer" : "autoMonitor"
      }));
      this.getCurrentTabData(this.searchVal);
    };

    window.getChatListForTab = (searchVal, flag) => {
      this.getCurrentTabData(this.searchVal, flag);
    };
    setTimeout(() => this.getCurrentTabData(this.searchVal, true), 800);

    // 定时轮询 清空 已结束 30分钟的对话
    this.judgeDataEndTime();

    window.EmitChatInfo = ({item, chatStsus}) => {
      const chatIdToUserIdObj = LocalStorageManager.get(LocalStorageManager.chatIdToUserId) || {};
      if (item.chatId == this.selectItem.chatId && chatStsus == "end") {
        this.$emit("update:chatInfo", Object.assign({}, item, {
          chatStsus,
          chatFromUser: chatIdToUserIdObj[item.chatId].userId == this.userMsg.userId ? "customer" : "autoMonitor"
        }));
        //   this.selectItem = {};
        //   this.selectIndex = "";
      } else if (item.chatId == this.selectItem.chatId) { // acceptTakeover
        this.$emit("update:chatInfo", Object.assign({}, item, {
          chatStsus: "current",
          chatFromUser: "customer"
        }));
      }
    };

    window.EmitChatList = () => {
      const recordChatMap = LocalStorageManager.get(LocalStorageManager.recordChatMap) || {};// 对话存储
      this.currentChatList = [].concat(recordChatMap[this.selectItem.chatId] || []);
      this.$emit("update:currentChatList", [].concat(recordChatMap[this.selectItem.chatId] || []));
    };

    //名片事件
    window.EmitVisitorinfo = (item) => {
      if (item.chatId == this.selectItem.chatId) {
        this.$emit("update:visitorinfo", item);
      }
    };

    // 转接
    window.HandleTakeover = (item) => {
      if (this.selectItem && item.chatId == this.selectItem.chatId) {
        //   this.selectItem = {};
        //   this.selectIndex = null;
        this.$emit("update:chatInfo", Object.assign(item, {
          chatFromUser: "autoMonitor",
          chatStsus: this.tabActive,
          userId: this.userMsg.userId
        }));
      }
    };

    window.getCurrentSelectChatItemInfo = () => {
      return this.selectItem;
    };

    window.chatListShowFriends = (userIds = []) => {
      const currentChatMap = LocalStorageManager.get(`current${LocalStorageManager.chatPrefix}`); // 进行中对话
      const endChatMap = LocalStorageManager.get(`end${LocalStorageManager.chatPrefix}`); // 已结束对话
      const showUserIds = Object.keys(currentChatMap);// 之所以拿当前 因为当前的和结束的保持一样的逻辑
      let chatIdToUserIdObj = LocalStorageManager.get(LocalStorageManager.chatIdToUserId) || {};
      /*
      * 假设 showUserIds [1, 2, 3]
      * userIds         ['', '', 3, 4, 5]
      * */
      showUserIds.forEach(item => {
        // 我没有的要新增
        if (!userIds.concat(this.userMsg.userId).includes(item)) {
          delete currentChatMap[item];
          delete endChatMap[item];
        }
      });
      userIds.concat(this.userMsg.userId).forEach(item => {
        // 循环列表 1,2,3没有4,5 则新增
        if (!showUserIds.includes(item)) {
          currentChatMap[item] = [];
          endChatMap[item] = [];
        }
      });
      LocalStorageManager.set(`current${LocalStorageManager.chatPrefix}`, Object.assign({}, currentChatMap)); // 进行中对话
      LocalStorageManager.set(`end${LocalStorageManager.chatPrefix}`, Object.assign({}, endChatMap)); // 已结束对话
      this.getCurrentTabData(this.searchVal);
      this.getUnreadMsg();
      this.types[0].badge = LocalStorageManager.get(LocalStorageManager.globalHaveUnreadMessage);
      setMenuUnreadMsg(false);
    };
  },
  beforeMount() {
  },
  async mounted() {
    // const parentDom = document.getElementsByClassName("itemDom0");
    // parentDom[0].style.setProperty("--before-color", "transparent");
    // 获取未回复时间
    this.getReckonByTime();
  },
  methods: {
    getChatItemUnreadMsgCount(userId, chatId) {
      if (this.unreadMessageCountObj[userId]) {
        return this.unreadMessageCountObj[userId][chatId] > 99 ? "99+" : this.unreadMessageCountObj[userId][chatId];
      }
      return 0;
    },
    gotoHistory() {
      this.$router.push({path: "homeIndex/chatRecord"});
    },
    getId() {
      return Math.random();
    },
    getReckonByTime() {
      let reckonTime = {};
      let currentChatMap = LocalStorageManager.get(`current${LocalStorageManager.chatPrefix}`) || {};
      const recordChatMap = LocalStorageManager.get(LocalStorageManager.recordChatMap) || {};// 对话存储
      for (const currentChatMapKey in currentChatMap) {
        const group = [].concat(currentChatMap[currentChatMapKey] || []);
        for (let i = 0; i < group.length; i++) {
          const item = group[i];
          const lastChatInfo = _.last(recordChatMap[item.chatId]) || {};
          // if (!lastChatInfo) {
          //   continue;
          // }
          if (lastChatInfo.fromUserId == currentChatMapKey) { // 如果最后一句话是客服说的 也排除
            continue;
          }
          // 如果 访客最后一次说话的时间小于客服最后一次说话的时间 说明 最后一次说话是客服 跳过
          if (!lastChatInfo && item.viewTime < item.cusTime) {
            continue;
          }
          const timeDiff = LocalStorageManager.get(LocalStorageManager.timeDiff) || 0;
          // let difftime = (new Date().getTime() + timeDiff) - lastChatInfo.timestamp;
          const currentTime = new Date().getTime() + timeDiff;
          let difftime = currentTime - (lastChatInfo.timestamp || item.viewTime || currentTime) || 0;
          const timer = Math.floor(difftime / 1000 || 0);
          if (timer <= 5) {
            reckonTime[item.chatId] = timer + window.ELCONFIG.chat.chatList.secondText;
          } else if (timer > 5 && timer <= 60) {
            reckonTime[item.chatId] = timer - timer % 5 + window.ELCONFIG.chat.chatList.secondText;
          } else if (timer > 60 && timer < 3600) {
            reckonTime[item.chatId] = Math.floor(timer / 60) + window.ELCONFIG.chat.chatList.minuteText;
          } else {
            reckonTime[item.chatId] = "1" + window.ELCONFIG.chat.chatList.hourText;
          }
        }
      }
      this.reckonTime = reckonTime;
      LocalStorageManager.set(LocalStorageManager.reckonTime, reckonTime);
      this.reckonTimer = setTimeout(() => {
        this.getReckonByTime();
      }, 1000);
    },
    // 获取最后一条对话
    getLastMsg(row) {
      const recordChatMap = LocalStorageManager.get(LocalStorageManager.recordChatMap) || {};// 对话存储
      if (recordChatMap[row.chatId] && recordChatMap[row.chatId].length) {
        const item = recordChatMap[row.chatId].pop();
        if (item) {
          if (item.type == "file") {
            return `[${ELCONFIG.chat.chatList.files}]`;
          }
          if (item.type == "RECORD_SCREENSHOTS" || item.type == "screenShots") {
            return `[${ELCONFIG.chat.chatList.images}]`;
          }
          if (item.type == "message" && item.msg.startsWith("&lt;img")) {
            return `[${ELCONFIG.chat.chatList.emojis}]`;
          }
          if (item.type == "message" && item.msg.indexOf("<form class") != -1 && item.msg.indexOf("<input class") != -1 && item.msg.includes("data-flag=\"form-info\"")) {
            return `[${ELCONFIG.chat.chatList.form}]`;
          }
          if (item.msg.indexOf("data-web") != -1 && item.msg.indexOf("data-form") != -1) {
            return `[${ELCONFIG.chat.chatList.visitorInformation}]`;
          }
          if (item.type == "message" && item.msg.indexOf("<a") != -1 && item.msg.indexOf("href") != -1) {
            const match = item.msg.match(/>([^']+)<\//);
            if (match && match[1]) {
              return match[1];
            }
          }
          if((item.type == "message" || item.type == "RECORD_RICH_TEXT") && item.msg && item.msg.includes("el-msg-json")) {
            const match = item.msg.match(/data='([^']+)'/);
            if (match && match[1]) {
              return "[Schedule]";
            }
          }
          return item.msg ? item.msg.replace(/<img[^>]*>/g, `[${ELCONFIG.chat.chatList.images}]`) : "" || "暂无最新消息";
        }
        return ELCONFIG.chat.chatList.noNewsAvailable;
      }
      if (!row.msg) {
        return ELCONFIG.chat.chatList.noNewsAvailable;
      }
      if (row.msg) {
        if (row.msg.startsWith("http://") || row.msg.startsWith("https://")) {
          return `[${ELCONFIG.chat.chatList.files}]`;
        }
        if (row.msg.indexOf("<form class") != -1 && row.msg.indexOf("<input class") != -1 && row.msg.includes("data-flag=\"form-info\"")) {
          return `[${ELCONFIG.chat.chatList.form}]`;
        }
        if (row.msg.indexOf("data-web") != -1 && row.msg.indexOf("data-form") != -1) {
          return `[${ELCONFIG.chat.chatList.visitorInformation}]`;
        }
        if (row.msg.indexOf("<a") != -1 && row.msg.indexOf("href") != -1) {
          const match = row.msg.match(/>([^']+)<\//);
          if (match && match[1]) {
            return match[1];
          }
        }
        if(row.type == "RECORD_RICH_TEXT" && row.msg && row.msg.includes("el-msg-json")) {
          const match = row.msg.match(/data='([^']+)'/);
          if (match && match[1]) {
            return "[Schedule]";
          }
        }
        return row.msg.replace(/<img[^>]*>/g, `[${ELCONFIG.chat.chatList.images}]`);
      }
      return ELCONFIG.chat.chatList.noNewsAvailable;
    },
    // 当前对话   已结束对话 切换
    tabsChange(key) {
      this.searchVal = "";
      this.tabActive = key;
      this.getCurrentTabData(this.searchVal);
    },
    // 顶部搜索 对话名称
    searchInput(val) {
      this.getCurrentTabData(val);
    },
    /* 获取当前 高亮 tab数据 涉及到 搜索前 与搜索后的数据
    * 获取对话列表 根据当前tab点击的 name
    * */
    getCurrentTabData(filterkey = "", flag) {
      this.unreadMessageCountObj = LocalStorageManager.get(LocalStorageManager.unreadMessageCount) || {};

      this.showChatList = {};
      this.listLoading = false;
      const chatMapToTab = LocalStorageManager.get(`${this.tabActive}${LocalStorageManager.chatPrefix}`) || {};
      // 如果当前没有搜索项 将本地存储直接返回
      if (!filterkey) {
        // 为了排序 没有其他原因
        let newData = {};
        newData[this.userMsg.userId] = [].concat(chatMapToTab[this.userMsg.userId] || []);
        delete chatMapToTab[this.userMsg.userId];
        this.showChatList = Object.assign({}, newData, chatMapToTab);
        this.types[0].badge = LocalStorageManager.get(LocalStorageManager.globalHaveUnreadMessage);
        this.grpupUnreadMessageMap = LocalStorageManager.get(LocalStorageManager.grpupUnreadMessageMap) || {
          current: {},
          end: {}
        }; // 因为其他页面要获取
      } else {
        let obj = {};
        for (const objKey in chatMapToTab) {
          obj[objKey] = chatMapToTab[objKey].filter(item => {
            return `${item.nickName || ""}`.indexOf(filterkey) != -1; // || `${item.chatId || ""}`.indexOf(filterkey) != -1
          });
        }
        let newData = {};
        newData[this.userMsg.userId] = [].concat(obj[this.userMsg.userId] || []);
        delete obj[this.userMsg.userId];

        const showMapData = Object.assign({}, newData, obj);

        this.showChatList = showMapData;
        // const grpupUnreadMessageMap = LocalStorageManager.get(LocalStorageManager.grpupUnreadMessageMap) || {}; // 因为其他页面要获取
        let newUnreadMessageMap = {
          [this.tabActive]: {}
        };
        let totalNum = 0;
        for (const showMapDataKey in showMapData) {
          newUnreadMessageMap[this.tabActive][showMapDataKey] = 0;
          newUnreadMessageMap[this.tabActive][showMapDataKey] = showMapData[showMapDataKey].reduce((pre, next) => {
            return pre += next.unreadMessageTotal;
          }, 0);
          totalNum += newUnreadMessageMap[this.tabActive][showMapDataKey];
        }
        if (this.tabActive == "current") {
          if (totalNum > 0) {
            this.types[0].badge = true;
          } else {
            this.types[0].badge = false;
          }
        }
        this.grpupUnreadMessageMap = newUnreadMessageMap;
      }

      if (flag) {
        this.activeName = Object.keys(this.showChatList).map(item => `collapse${item}`);
      }
      this.$nextTick(() => this.listLoading = false);
    },
    // 每通对话点击
    async itemSelect(item, key, index) {
      if (item.chatId == this.selectItem.chatId) {
        return;
      }
      this.selectIndex = index;
      this.selectItem = Object.assign({}, item);
      /*
      * 1. firstClickFlag 初始值都是false
      * 2. false 取反为true 证明是首次拉取到的对话且未点击过, 接口拉数据 放入仓库
      * 3. 如果是 true 证明仓库中对话是全量的 不需要 其他多余处理
      * 4. 抛出事件
      * */
      const recordChatMap = LocalStorageManager.get(LocalStorageManager.recordChatMap) || {};
      // const chatIdToUserIdObj = LocalStorageManager.get(LocalStorageManager.chatIdToUserId) || {}; // 对话id
      let recordChatMapItemList = [];
      if (!item.firstClickFlag) {
        if (item.historyRecentFlag) {
         const {chatList} = await window.EWebPlat.getChatVisitorHistoryMsg();
          recordChatMapItemList = [].concat(chatList || []);
        }
        this.showChatList[item.userId][index].firstClickFlag = true;
        const res = await EWebPlat.platService(webClientApiMap.clientPlatform.chatGetChatRecord, {chatId: item.chatId});
        if (res.code) {
          this.$message.error(res.msg);
          return;
        }
        // 更新对话仓库
        const chatRecord = [].concat(res.data || []).map(item => {
          return {
            fromUserId: item.fromId,
            msg: item.message,
            msgId: item.recorderId,
            timestamp: item.createTime,
            robot: item.robot,
            type: item.type,
            fileName: "",
            screenShotPic: ""
          };
        });
        recordChatMap[item.chatId] = [].concat(recordChatMapItemList, chatRecord);
        LocalStorageManager.set(LocalStorageManager.recordChatMap, Object.assign({}, recordChatMap)); // 更新仓库
      }
      this.$emit("update:chatInfo", Object.assign({}, item, {
        chatStsus: this.tabActive,
        chatFromUser: item.userId == this.userMsg.userId ? "customer" : "autoMonitor"
      }));
      window.EmitChatList();
      //  --------------------------------------------------------------------------------
      // 未读消息条数 点击那个 就将那个消息置为全读  current end
      let chatMapToTab = LocalStorageManager.get(`${this.tabActive}${LocalStorageManager.chatPrefix}`) || {};
      setUnreadMessageCount({userId: item.userId, chatId: item.chatId, count: 0});
      LocalStorageManager.set(`${this.tabActive}${LocalStorageManager.chatPrefix}`, chatMapToTab);
      this.getUnreadMsg();
      setMenuUnreadMsg(false);
      this.getCurrentTabData(this.searchVal);
      // --------------------------------------------------------------------------------
      const res = await EWebPlat.platService(webClientApiMap.clientWebcall.visitorinfoGet, {vsid: item.visitorId}); //  item.visitorId
      if (res.code) {
        this.$message.error(res.msg);
        return;
      }
      this.$emit("update:visitorinfo", {payload: {data: res.data}});
    },
    /* 这个方法 只将 已结束对话 和 对应的已结束对话信息 30分钟后清空 */
    judgeDataEndTime() { // 60*10
      this.judgeDataEndTimer = alwaysTime(10, () => {
        const timeDiff = LocalStorageManager.get(LocalStorageManager.timeDiff) || 0;
        const currentTime = new Date().getTime() + timeDiff;
        const endChatMap = LocalStorageManager.get(`end${LocalStorageManager.chatPrefix}`) || {};
        const recordChatMap = LocalStorageManager.get(LocalStorageManager.recordChatMap) || {};
        for (const endChatMapKey in endChatMap) {
          for (let i = 0; i < endChatMap[endChatMapKey].length; i++) {
            const {packetTimestamp = 0, chatId} = endChatMap[endChatMapKey][i] || {};
            // console.log( "packetTimestamp", currentTime - packetTimestamp , timeoutPeriod);
            // console.log(timestamp, chatId);
            // 如果刚好当前查看的这个到 30分钟了 先排除 等下一次轮询在删
            if (this.selectItem.chatId != chatId) {
              if (currentTime - packetTimestamp >= timeoutPeriod) {
                // 删除 ----------
                delete recordChatMap[chatId];
                // 删除 ----------
                endChatMap[endChatMapKey].splice(i, 1);
                i--;
              }
            }
          }
        }
        LocalStorageManager.set(LocalStorageManager.recordChatMap, recordChatMap);
        /* 将操作之后的数据进行重新存储 endChatMap[endChatMapKey].splice(i, 1); 会改变原对象 也就是本地存储获取到的 直接在set 到 endChatMap 就OK */
        LocalStorageManager.set("endChatMap", endChatMap);
        // 已结束的对话不仅要删除对话  还得将未读消息处理一下
        if (this.tabActive == "end") {
          let unreadMessage = LocalStorageManager.get(LocalStorageManager.grpupUnreadMessageMap) || {
            current: {},
            end: {}
          }; // 因为其他页面要获取
          unreadMessage.end = getGroupUnread("end");
          LocalStorageManager.set(LocalStorageManager.grpupUnreadMessageMap, unreadMessage);
          this.grpupUnreadMessageMap = unreadMessage;
          this.getCurrentTabData(this.searchVal);
        }
        this.judgeDataEndTime(); /* 递归 ------------------------------------------ */
      });
    },
    getUnreadMsg() {
      const unreadMessage = {
        current: getGroupUnread("current"),
        end: getGroupUnread("end")
      };
      const currentGroup = unreadMessage.current;
      let num = 0;
      for (const key in currentGroup) {
        num += currentGroup[key];
      }
      LocalStorageManager.set(LocalStorageManager.globalHaveUnreadMessage, num); // 判断全局中当前对话"current"是否有未读消息
      LocalStorageManager.set(LocalStorageManager.grpupUnreadMessageMap, unreadMessage);
      console.log("num", num);
    }
  },
  beforeDestroy() {
    this.selectItem = {};
    if (this.judgeDataEndTimer) {
      this.judgeDataEndTimer();
    }
    if (this.reckonTimer) {
      clearTimeout(this.reckonTimer);
      this.reckonTimer = null;
    }
  }, //生命周期 - 销毁之前
  destroyed() {
  } //生命周期 - 销毁完成
};
</script>
<style lang='scss' scoped>
/* 定义动画 */
@keyframes number-scroll {
  0% { transform: translateY(100%) scaleX(2); } /* 初始状态 */
  50% { transform: translateY(-100%) scaleX(2); } /* 中间状态 */
  100% { transform: translateY(0) scaleX(1); } /* 结束状态 */
}

/* 应用动画到目标元素 */
.number {
  animation: number-scroll 3s ease infinite; /* 无限重复播放 */
}
.chat-list {
  .search-box {
    ::v-deep input {
      border-radius: 99px;
    }
  }

  .list-box {
    height: calc(100% - 36px - 32px - 20px);
    position: relative;
    //padding-bottom: 53px;
    .collapse-box {
      overflow-y: auto;
    }

    .collapse-badge {
      background: #F86B4F;
      padding: 2px 4px;
      border-radius: 10px;
      color: #fff;
    }

    .msg-box, .msg-box * {
      color: #999 !important;
      height: 16px !important;
      line-height: 16px !important;
      font-size: 12px !important;
    }

    ::v-deep .el-collapse-item__header, ::v-deep .el-collapse, ::v-deep .el-collapse-item__wrap {
      border: none;
    }

    ::v-deep .el-collapse-item__wrap {
      height: calc(100% - 48px);
    }

    ::v-deep .el-collapse-item__content {
      padding-bottom: 0;
    }

    .chat-item {
      height: 60px;
      padding: 13px 15px;
      width: -webkit-fill-available;

      .reckon-by-time {
        background: #FEF0F0;
        color: #F56C6C;
        padding: 0 5px;
      }

      &:hover {
        background: #EAEBEC;
      }

      &.chat-item-active {
        background: #E5F0FF;
        position: relative;

        &::before {
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          width: 2px;
          height: 100%;
          background: #338AFF;
        }
      }
    }

    .history-box {
      position: absolute;
      bottom: 0;
      //background: pink;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 53px;
      .go-history {
        color: #bbb;
        width: 270px;
        .msg-rocord {
          color: #338AFF;
          cursor: pointer;
        }
      }
    }
  }
}
</style>