<!--
 * @Author: 段丽军
 * @Date: 2023-10-31 15:36:50
 * @LastEditTime: 2023-12-06 17:10:46
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /hw-web-client-view/src/views/chat/chatContent.vue
-->
<template>
  <div class="container-chat-content" v-if="chatIdComp">
    <div class="left">
      <ChatPanel ref="ChatPanel" :chatFullInfo="chatFullInfo" :rawChatList="rawChatList" :rawChatInfo="chatInfo"></ChatPanel>
    </div>
    <div class="right ml-10">
      <ChatTools :rawChatInfo="chatInfo" :rawVisitorinfo="visitorinfo" @sendText="($event) => $refs.ChatPanel.sendText($event)"></ChatTools>
    </div>
  </div>
  <div font-weight="400" class="flex flex-column ai-center jc-center" style="background-color: white; width: 100%; height: 100%; color: #909399;" v-else>
    <img src="../../static/img/nodata.png" class="w-100 h-100 mb-20"/>
    {{ $ELCONFIG.chat.chatContent.noDataTips }}
  </div>
</template>

<script>
import ChatPanel from "./chatContent/chatPanel.vue";
import ChatTools from "./chatContent/chatTools.vue";
export default {
  name:"", // Pascal命名
  mixins: [],
  components: {
    ChatPanel,
    ChatTools
  },
  props: {
    chatInfo: {
      type: Object,
      default: () => ({})
    },
    visitorinfo: {
      type: Object,
      default: () => ({})
    },
    currentChatList: {
      type: Object,
      default: () => []
    }
  },
  data() {
    return {};
  },
  //监听属性 类似于data概念
  computed: {
    // 原始对话数据
    rawChatList() {
      return this.currentChatList;
    },
    // 判断是否选中对话
    chatIdComp() {
      return this.chatInfo.chatId;
    },
    // 访客静态ID
    visitorStaticIdComp() {
      return this.chatInfo.visitorId;
    }
  }
};
</script>
<style lang='scss' scoped>
.container-chat-content {
  display: flex;
  height: 100%;
  min-width: 0;
  .left {
    flex: 1;
    background-color: white;
    height: 100%;
    min-width: 0;
  }
  .right {
    width: 300px;
    height: 100%;
    background-color: rgb(255, 255, 255);
  }
}
</style>