<!--
 * @Description:
 * @Author: chunxu.Zhao
 * @Date: 2023-11-01 10:12:23
 * @LastEditors: 段丽军
 * @LastEditTime: 2023-11-21 14:22:56
 * @FilePath: /web-client/src/views/chat/index.vue
-->
<template>
  <div class="container">
    <div class="left">
      <ChatList :chatInfo.sync="chatInfo" :currentChatList.sync="currentChatList" :visitorinfo.sync="visitorinfo"></ChatList>
    </div>
    <!--    <el-button @click="click(1)">转接</el-button>-->
    <!--    <el-button @click="click(2)">关闭</el-button>-->
    <div>
<!--            <pre v-html="currentChatList"></pre>-->
<!--      <pre>{{ chatInfo }}</pre>-->
<!--      <br>-->
<!--      {{ chatInfo.chatId }}-->
<!--                 <pre>{{ $ELCONFIG.topBox.left.title.text }}</pre>-->
      <!--           <pre>{{ chatInfo.chatFromUser }}</pre>-->
      <!--           <pre>{{ chatInfo.chatStsus }}</pre>-->
      <!--       <pre>{{ chatInfo.visitorId }}</pre>-->
      <!--       <pre>{{ chatInfo.nickName }}</pre>-->
      <!--           <pre>{{ chatInfo.chatId }}</pre>-->
      <!--          <pre>{{visitorinfo}}</pre>-->
    </div>
    <div class="right ml-10">
      <ChatContent :chatInfo="chatInfo" :currentChatList="currentChatList" :visitorinfo.sync="visitorinfo"></ChatContent>
    </div>
  </div>
</template>

<script>
import ChatList from "@/views/chat/chatList";
import ChatContent from "@/views/chat/chatContent";
import {getUserStatus} from '@/application/statusData';
import {chatStep} from '@/application/handleChatData';

export default {
  name: "Chat", // Pascal命名
  mixins: [],
  components: {
    ChatList,
    ChatContent
  },
  props: {},
  computed: {},
  data() {
    return {
      chatInfo: {},
      currentChatList: [],
      visitorinfo: {}
    };
  },
  watch: {
    // currentChatList: {
    //   handler(newVal, oldVal) {
    //     console.log("---------", newVal);
    //   },
    //   deep: true, // 深度
    //   immediate: true, // 立即执行
    // },
  },
  beforeCreate() {
  },
  created() {
    if (this.$route.path.includes("chatPage")) { // 给春明使用 bs客户端
      chatStep();
    }
  },
  beforeMount() {
  },
  mounted() {
  },
  methods: {
    click(val) {
      if (val == 1) {
        window.EWebPlat.setTakeover(() => {
        });
      } else {
        window.EWebPlat.closeChat(() => {
        });
      }
    }
  },
  beforeUpdate() {
  }, //生命周期 - 更新之前
  updated() {
  }, //生命周期 - 更新之后
  beforeDestroy() {
  }, //生命周期 - 销毁之前
  destroyed() {
  }, //生命周期 - 销毁完成
  activated() {
  } //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang='scss' scoped>
//@import url(); 引入公共css类
.container {
  display: flex;
  width: 100%;
  //height: calc(100% - 44px);
  height: 100%;
  background: #eff1f4;

  .left {
    width: 300px;
    min-width: 300px;
    height: 100%;
    background-color: white;
  }

  .right {
    flex: 1;
    height: 100%;
    min-width: 0;
  }
}

.shenglue {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>