@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

// 表头加粗
::v-deep .el-dialog__title {
  font-weight: 600;
}

.iconfont.icon.icon-C-C11 {
  font-size: 12px !important;
}

* {
  font-family: Roboto;
}

.en .el-dropdown-menu.popoverCard {
  & div:first-child {
    min-width: 235px !important;
    //padding-left: 15px;
    & * {
      text-align: left;
      padding-left: 15px;
    }
  }
}

.itemDom2 > span {
  width: 100px !important;
}

.el-collapse-item__header {
  height: 36px !important;
  margin-right: 7px;
}

.el-submenu__title .dom1 span.ellipsis.d-inline-block {
  display: block;
  width: 100px !important;
}

.en .el-header .el-dropdown {
  & > span {
    color: #5a607f !important;
    font-weight: 500;
  }

  i.el-icon--right {
    color: #5a607f !important;
    font-weight: 600 !important;
  }
}

.en .el-dropdown-name {
  text-align: left;
  padding-left: 16px !important;
  font-size: 14px !important;
  color: #344563 !important;
  font-weight: 500 !important;
  word-break: break-all;
}

.en .el-dropdown-easyChat {
  text-align: left;
  padding-left: 16px !important;
  font-size: 12px !important;
  //color: #344563!important;
  padding-top: 0 !important;
}

.en .el-dropdown-menu__item {
  font-weight: normal !important;
}

.en #layout-main {
  & > div:first-child {
    display: none;
  }

  .container .left .list-box .el-icon-arrow-right {
    color: #5a607f !important;
    font-weight: 600 !important;
  }
}

.en .el-aside.layout-elaside .layout-aside-box .layout-aside-boxIcon > div {
  margin-top: 0 !important;
}

// layout 配置按钮
.en .mr-44.cursor-p.iconfont.icon {
  display: none;
}

.en .menutree .el-menu-item.is-disabled {
  border: none !important;
  border-radius: 0 14px 14px 0 !important;
  margin-right: 10px !important;
}

.en .el-header.layout-nav > div {
  & > div:first-child {
    display: none !important;
  }

  & > div:last-child {
    margin-left: 0 !important;
    justify-content: space-between;
    width: 100%;

    & > div {
      width: 100%;
      display: flex;
      justify-content: end;
      position: relative;

      .left-box {
        position: absolute;
        left: 0;
        display: flex;

        .lead-btn {
          border-color: #338AFF;
          color: #338AFF;
          padding: 7px 21px;
          height: 33px;
        }

        .pageName {
          color: #333;
          font-size: 24px;
          font-weight: 500;
        }

        .lead-back-btn {
          &:focus {
            background: transparent;
          }
          border-color: #dcdfe6;
          font-weight: 700;
          width: 32px;
          height: 32px;
          padding: 0;
          color: #333;
        }
      }
    }
  }
}

// 为了处理icon
.en .layout-aside-box .layout-aside-boxIcon > div {
  &:first-child {
    width: 100px !important;
  }
  &:last-child {
    display: none;
  }
}
