.icon-zaixianzhuangtai {
  font-size: 12px !important;
}

.system-dropdown-leave {
  color: #7D8DBF !important;
}

.system-dropdown-online {
  color: #42D92A !important;
}

.system-dropdown-busy {
  color: #F86B4F !important;
}

.customer_state {
  position: relative;
  height: 32px !important;

  &::before {
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: -2px;
    bottom: -2px;
  }
}

.userStatusOnline {
  &::before {
    background: #42D92A;
  }
}

.userStatusOnline2 {
  &::before {
    content: " ";
    background: #42D92A;
  }
}

.userStatusBusy {
  &::before {
    content: " ";
    background: #F86B4F;
  }
}

.userStatusLeave {
  &::before {
    content: " ";
    background: #7D8DBF;
  }
}

.active_state {
  background-color: #338AFF;
  color: #fff !important;
}

// 去掉横向菜单布局
.ptb-30.setting {
  .plr-24:first-child {
    > div:last-child {
      > div:first-child {
        > div:last-child {
          display: none;
        }
      }

      > div:last-child {
        > div:last-child {
          display: none;
        }
      }
    }
  }
}


//全屏按钮隐藏
.cursor-p.iconfont.icon.icon-C-C6 {
  display: none;
}

// 李大玄 消息全局提醒 ------------------------------------------------------
.el-aside.layout-elaside .layout-menu .el-menu .menutree li:nth-child(1) .itemDom0 {
  position: relative;

  &::before {
    content: " ";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: var(--before-color);
    animation: var(--before-animation) .5s infinite;
    //animation-play-state: paused;
  }
}

@keyframes moveUpDown {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: -10px;
  }
  100%  {
    margin-top: 0px;
  }
}

.el-aside.layout-elaside .layout-menu .el-menu .menutree li:nth-child(1) .itemDom0 {
  &::before {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.el-aside.layout-elaside .layout-menu.w-66 .el-menu .menutree li:nth-child(1) .itemDom0 {
  position: relative;

  &::before {
    left: 40px;
    top: 14px;
  }
}

.el-aside.layout-elaside .layout-menu .el-menu .menutree .el-menu-item.item0:not(.is-active):hover {
  margin-right: 0 !important;
}

// 李大玄 消息全局提醒 ------------------------------------------------------
//ui 精修样式
.layout-aside-boxIcon  > div:nth-child(2) >  div:first-child {
  margin-left: -1px;
}