<template>
  <div  style="min-width: 0; min-height: 0; width: 330px; height: 97px; background-color: white;">
    <div class="car-box">
      <div class="car-box-item" v-for="(item, index) in carList" :key="index">
        <div class="car-box-item-title">
          {{item.title}}
          <div>
            <el-dropdown size="mini" @command="e => rangClick(e, item)">
              <span class="el-dropdown-link" style="color: #878787; font-size: 12px; font-weight: 400;">
                {{ rangeFormat(item.range) }}<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item :command="item.value" v-for="item in typeOptions" :key="item.value">{{item.label}}</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>
        <div class="car-box-item-number">
          {{item.number.toLocaleString("en-US")}}
          <div class="car-box-item-tip">
            <template v-if="item.style === '1'">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="16" viewBox="0 0 19 16" fill="none">
                <path d="M12.6945 12L14.4994 10.4733L10.6532 7.22L7.50049 9.88667L1.66016 4.94L2.77148 4L7.50049 8L10.6532 5.33333L15.6186 9.52667L17.4235 8V12H12.6945Z" fill="#F3413C"/>
              </svg>
              <span class="car-box-item-tip-value mr5">{{ item.tipValue }}</span>
              <span>{{ item.tip }} {{rangeFormat(item.range.toLowerCase())}}</span>
            </template>
            <template v-else-if="item.style === '2'">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="16" viewBox="0 0 19 16" fill="none">
                <path d="M12.6945 4L14.4994 5.52667L10.6532 8.78L7.50049 6.11333L1.66016 11.06L2.77148 12L7.50049 8L10.6532 10.6667L15.6186 6.47333L17.4235 8V4H12.6945Z" fill="#00B69B"/>
              </svg>
              <span class="car-box-item-tip-value2 mr5">{{ item.tipValue }} </span>
              <span>{{ item.tip }} {{rangeFormat(item.range).toLowerCase()}}</span>
            </template>
            <template v-else-if="item.style === '3'">
              <span class="car-box-item-tip-value2 mr5">{{ item.tip }} </span>
            </template>
          </div>
        </div>
        
      </div>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      typeOptions: [
        { label: 'Day', value: "1" },
        { label: 'Week', value: "2" },
        { label: 'Month', value: "3" }
      ],
      carList: [
        { title: "Web Traffic", number: 0, tip: "Down from last", tipValue: "", range: "1", style: "1" }, // pv
        { title: "Visitor Engagement Rate", number: 0, tip: "Up from last", tipValue: "", range: "1", style: "1" }, // 访客数
        { title: "Number of Questions Visitor Asked", number: 0, tip: "Down from last", tipValue: "", range: "1", style: "1" } // 浏览量
      ]
    };
  },
  mounted() {
    this.getHomeCompareVisitor('1')
    this.getHomeCompareInteract('1')
    this.getHomeComparePv('1')
  },
  //方法集合
  methods: {
    rangeFormat(range) {
      return this.typeOptions.find(item => item.value === range)?.label;
    },
    rangClick(e, val){
      val.range = e;
      if (val.title == 'Web Traffic') {
        this.getHomeComparePv(e);
      } else if (val.title == 'Visitor Engagement Rate') {
        this.getHomeCompareInteract(e);
      } else if (val.title == 'Number of Questions Visitor Asked') {
        this.getHomeCompareVisitor(e);
      }
    },
    // 访客量
    async getHomeCompareVisitor(type) {
      let res;
      try {
        res = await window.EWebPlat.platService(window.webClientApiMap.reportWeb.apiReportHomeCompareVisitor, {type});
      } catch (error) {
        return;
      }
      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.requestResponseTips);
        return;
      }
      this.carList[2].number = res.data.VISITOR_MSGS;
      this.carList[2].tipValue = res.data.VISITOR_MSGS_COMPARE == '-' ? res.data.VISITOR_MSGS_COMPARE : res.data.VISITOR_MSGS_COMPARE + '%';
      if (res.data.VISITOR_MSGS_COMPARE == '-') {
        this.carList[2].tip = '-'
        this.carList[2].style = '3'
      } else if (res.data.VISITOR_MSGS_COMPARE.includes('-')) {
        this.carList[2].tip =  'Down from last'
        this.carList[2].style = '1'
      } else {
        this.carList[2].tip =  'Up from last'
        this.carList[2].style = '2'
      }
    },
    // 浏览量
    async getHomeComparePv(type) {
      let res;
      try {
        res = await window.EWebPlat.platService(window.webClientApiMap.reportWeb.apiReportHomeComparePv, {type});
      } catch (error) {
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.requestResponseTips);
        return;
      }
      this.carList[0].number = res.data.VISITOR_PV;
      this.carList[0].tipValue = res.data.VISITOR_PV_COMPARE == '-' ? res.data.VISITOR_PV_COMPARE : res.data.VISITOR_PV_COMPARE + '%';
      if (res.data.VISITOR_PV_COMPARE == '-') {
        this.carList[0].tip = '-'
        this.carList[0].style = '3'
      } else if (res.data.VISITOR_PV_COMPARE.includes('-')) {
        this.carList[0].tip =  'Down from last'
        this.carList[0].style = '1'
      } else {
        this.carList[0].tip =  'Up from last'
        this.carList[0].style = '2'
      }
    },
    // 互动率
    async getHomeCompareInteract(type) {
      let res;
      try {
        res = await window.EWebPlat.platService(window.webClientApiMap.reportWeb.apiReportHomeCompareInteract, {type});
      } catch (error) {
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.requestResponseTips);
        return;
      }
      this.carList[1].number = res.data.INTERACT_RATIO == '-' ? res.data.INTERACT_RATIO : res.data.INTERACT_RATIO + '%';
      this.carList[1].tipValue = res.data.INTERACT_RATIO_COMPARE == '-' ? res.data.INTERACT_RATIO_COMPARE : res.data.INTERACT_RATIO_COMPARE + '%';
      if (res.data.INTERACT_RATIO_COMPARE == '-') {
        this.carList[1].tip = '-'
        this.carList[1].style = '3'
      } else if (res.data.INTERACT_RATIO_COMPARE.includes('-')) {
        this.carList[1].tip =  'Down from last'
        this.carList[1].style = '1'
      } else {
        this.carList[1].tip =  'Up from last'
        this.carList[1].style = '2'
      }
    },
  }
};
</script>
<style lang='scss' scoped>
.car-box {
  width: 330px;
  height: 94px;
  &-item {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 0.6px solid #F1F1F1;
    background: #FFF;
    box-shadow: 3px 3px 18px -4px rgba(0, 0, 0, 0.05);
    color: #101828;
    padding: 18px 16px 10px 16px;
    // margin-bottom: 15px;
    &-title {
      font-size: 14px;
      font-weight: 500;
      line-height: 17.65px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-number {
      color: #101828;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 23.533px;
      display: flex;
      justify-content: space-between;
    }
    &-tip {
      color: #666;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      display: flex;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      white-space: nowrap;
      display: flex;
      align-items: center;
      &-value {
        color: #F3413C;
        font-weight: 500;
        margin-left: 5px;
      }
      &-value2 {
        color: #00B69B;
        margin-left: 5px;
        font-weight: 500;
      }
    }
    & div + div {
      margin-top: 15px;
    }
  }
  .car-box-item:nth-child(2){
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.mr5{
  margin-right: 5px;
}
</style>