<template>
    <div class='frame'>
        <div class="content flex jc-between">
            <div class="title">{{title}}</div>
            <div class="tool">
                <div @click="packUp">
                    <icon-class icon-class="icon-F-F9" color="#333"  v-show="!isShow" class="ml-26"></icon-class>
                </div>
                <div @click="packUp">
                    <icon-class icon-class="icon-F-F63" color="#333" v-show="isShow" class="ml-26"></icon-class>
                </div>
            </div>
        </div>
        <transition name="list-complete" class="container">
            <div class="map" :class="isShow?'unfold':'packUp'">
                <slot name="charts"></slot>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: '',
        data() {
            return {
                title: "Data Visualization Analysis",
                isShow: false,
            };
        },
        methods: {
            packUp() {
                this.isShow = !this.isShow
            },
            reverse() {
                this.$emit('lineSort')
            }
        },
        created() {
        },
        mounted() {
        },
    }
</script>
<style lang='scss' scoped>
.ml-26{
    font-size: 20px;
}
.title{
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #101828;
}
.frame {
    background: #fff;
    .content {
        padding: 10px 18px;
    }
    
    .icon-title {
        color: #409EFF;
    }
    
    .iconfont {
        cursor: pointer;
    }
    
    .allochroic:hover {
        color: #409EFF;
    }
    
    .unfold {
        transition: display .5s;
        display: none;
    }
    
    .packUp {
        transition: display .5s;
        display: block;
    }
    
    .container {
        display: block;
        position: relative;
    }
    
    .map {
        height: auto;
        transition: all 0.5s;
    }
    
    .list-complete-enter,
    .list-complete-leave-to {
        opacity: 0;
        transform: translateX(-100%) translateY(-100%);
        /* transform: translate(none, -100%); */
    }
    
    .list-complete-leave-active {
        position: absolute;
        left: 0;
        right: 0;
    }
}
</style>
