<template>
  <div class="report-main">
    <div class="report-header">
      <el-select v-model="uid"  size="small" style="width: 130px;" placeholder="请选择" class="mr" value-key="uid"  @change="changeSelect">
        <el-option v-for="item in reportMenu" :key="item.uid" :label="item.name" :value="item"></el-option>
      </el-select>
      <div class="item-type" :class="item.uid == subUid ? 'item-type-select' : ''" v-for="(item, index) in subMenu" :key="index" @click="subclick(item)">{{item.name}}</div>
    </div>
    <div class="colunFlex" v-if="uid.uid == 'Home'">
      <ChartFrame v-loading="loading.homeChartFlag">
        <div slot="charts" class="flex">
          <div class="charts-left">
            <div class="chart-title">
              Visitors data
              <el-select v-model="chartsValue" size="mini" style="width: 100px;" placeholder="请选择"  @change="chartMenu">
                <el-option label="Day" value="1"></el-option>
                <el-option label="Week" value="2"></el-option>
                <el-option label="Month" value="3"></el-option>
              </el-select>
            </div>
            <div id="lineChart1" :style="{height:'220px',width:'100%'}"/>
          </div>
          <div class="charts-right">
            <card></card>
          </div>
        </div>
      </ChartFrame>
      <div class="tableCol">
        <tableCol @changeTab="changeTab" :tableData="dataList"></tableCol>
      </div>
    </div>
    <div v-else style="height: calc(100% - 78px);">
      <iframe :id="`myIframe-${subUid}`" :src="iframeUrl" frameborder="0" style="height: 100%;width:100%;"></iframe>
    </div>
  </div>
</template>

<script>
import {LocalStorageManager} from "@/utils/storageManager";
import card from './card.vue';
import ChartFrame from "./frame.vue";
import tableCol from './tableCol.vue';
import IframeList from "../iframeList.vue";
import * as echarts from 'echarts'; 
export default {
  components: {ChartFrame, card, tableCol, IframeList},
  data() {
    return {
      uid: {
        name: 'Home',
        uid: 'Home',
        children: []
      },
      subUid: '',
      reportMenu: [{
        name: 'Home',
        uid: 'Home',
        children: []
      }],
      subMenu: [],
      chartsValue: '3',
      webcallOnlineDomainEn: {
        test: "//test19.easyliao.net",
        pre: "//pre.upbeat.chat",
        prod: "//mgr.upbeat.chat"
      },
      iframeUrl: '',
      dataList: [],
      homeChart: [], // echart 表图
      homeCompare: {}, // 月周日对比数据
      loading: {
        tableListFlag: false,
        homeChartFlag: false
      },
      createTime: [],
      xData: [],
    };
  },
  created() {
    const enumsOriginData = LocalStorageManager.get("enumsOriginData");
    let reportArr = [];
    enumsOriginData.map(item => {
      if (item.code == 'report') {
        reportArr = item.children
      }
    })
    const codeList = ['6a49339d-94ab-4e29-8ca6-dac08548c64c', '6a49339d-94ab-4e29-8ca6-dac08548c64d', 'report_visitor_record', '6a49339d-94ab-4e29-8ca6-dac08548c67', '6b38fac3-476c-42e1-8dc7-50c6a91eed82']
    reportArr.map(item => {
      if (codeList.includes(item.code)) {
        this.reportMenu.push({
          name: item.name,
          uid: item.uid,
          children: item.children
        })
      }
    })
    // this.getHomeCompare()
  },
  mounted() {
    this.chartsValue = '1';
    this.getHomeChart('1');
  },
  methods: {
    /**
   * 画多维柱状图
   * @param xData x轴数据
   * @param seriesDatas 多维图表数据
   */
    drawManyBar(xData, seriesDatas) {
        let ticket = echarts.init(document.getElementById('lineChart1'));
        let screenWidth = window.innerWidth;
        let grid = {
          left: '8.5%',
          top: '3%',
          bottom: '24%',
          right: '2%'
        };
        if (screenWidth < 1400 ) {
          grid = {
            left: '8.5%',
            top: '3%',
            bottom: '24%',
            right: '2%'
          };
        } else if (screenWidth > 1400 && screenWidth < 1600 ) {
          grid = {
            left: '8.5%',
            top: '3%',
            bottom: '24%',
            right: '2%'
          };
        } else {
          grid = {
            left: '5%',
            top: '3%',
            bottom: '24%',
            right: '2%'
          };
        }
        let ticketOption = {
            //提示框
            tooltip : {
                trigger : 'axis',
                backgroundColor : '#fff'
            },
            grid: grid,
            //菜单
            legend : {
                textStyle : {
                  color : '#333333',
                  fontSize: 12,
                  rich: {
                    a: {
                      verticalAlign: 'middle',
                    },
                  },
                  lineHeight: 12,
                  padding: [0, 5, -4, 0]
                },
                itemGap: 40,
                left: '2.5%',  // 水平方向左对齐
                top: 'bottom',
                icon: 'circle',
                itemWidth: 12,  // 设置图例标记的图形宽度
                itemHeight: 12 // 设置图例标记的图形高度
            },
    
            xAxis : [ {
                type : 'category',
                //x轴线样式
                axisLine : {
                    show : true,
                    lineStyle : {
                        color : '#E7EAEE',
                        width : 1,
                        type : 'solid',
                    }
                },
                //x轴字体设置
                axisLabel : {
                    show : true,
                    fontSize : 12,
                    fontFamily: 'Roboto',
                    color : '#666',
                    axisLabel: {
                      rotate: 30, // 旋转标签以避免重叠，30度是示例值，根据实际情况调整
                      interval: 'auto' // 或者设置为一个具体的数值来控制标签的显示间隔
                  },
                },
                // 控制轴刻度样式
                axisTick: {
                  show : false
                },
                data : xData
            } ],
            yAxis : [ {
                type : 'value',
                //y轴字体设置
                axisLabel : {
                    show : true,
                    color : '#666',
                    fontSize : 12
                },
                //y轴线设置不显示
                axisLine : {
                    show : false
                },
                //与x轴平行的线样式
                splitLine : {
                  show : true,
                  lineStyle : {
                    color : '#E7EAEE',
                    width : 1,
                    type : 'dashed',
                  }
                }
            } ],
            series : [ {
                name : 'Visitors',
                type : 'bar',
                //柱子宽度
                barWidth : 6,
                //柱状图样式
                itemStyle : {
                    color : '#338AFF',
                    barBorderRadius : [ 3, 3, 0, 0 ]
                },
                barGap: '0.5',
                data : seriesDatas[0]
            }, {
                name : 'Engaged Visitors',
                type : 'bar',
                barWidth : 6,
                itemStyle : {
                    color : '#7D74FA',
                    barBorderRadius : [ 3, 3, 0, 0 ]
                },
                barGap: '0.5',
                data : seriesDatas[1]
            }, {
                name : 'Converted Visitors',
                type : 'bar',
                barWidth : 6,
                itemStyle : {
                    color : '#9AD6FF',
                    barBorderRadius : [ 3, 3, 0, 0 ]
                },
                barGap: '0.5',
                data : seriesDatas[2]
            }]
        };
        ticket.setOption(ticketOption);
        window.addEventListener("resize", ticket.resize);
    },
    changeTab(val) {
      this.createTime = val;
      this.getDataList();
    },
    async getDataList() {
      const params = {
        startTime: this.createTime[0],
        endTime: this.createTime[1]
      };
      let res;
      try {
        this.loading.tableListFlag = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.reportWeb.apiReportHomePage, params);
        this.loading.tableListFlag = false;
      } catch (error) {
        console.error(error);
        this.loading.tableListFlag = false;
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.requestResponseTips);
        return;
      }
      this.dataList = res.rows || [];
    },
    async getHomeChart(type) {
      // 1:day  2:week  3:month
      let res;
      try {
        this.loading.homeChartFlag = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.reportWeb.apiReportHomeChart, {type});
        this.loading.homeChartFlag = false;
      } catch (error) {
        console.error(error);
        this.loading.homeChartFlag = false;
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.requestResponseTips);
        return;
      }
      this.xData = [];
      let cluesArr = [];
      let effChatsArr = [];
      let visitorsArr = [];
      res.rows.map(item => {
        this.xData.push(item._id);
        cluesArr.push(item.clues); //留联访客数
        effChatsArr.push(item.effChats); //互动访客数
        visitorsArr.push(item.visitors);//网站访客数
      })
      this.homeChart = [visitorsArr, effChatsArr, cluesArr ];
      this.$nextTick(() => {
        this.drawManyBar(this.xData, this.homeChart);
        // this.loading.homeChartFlag = false;
      })
    },

    changeSelect(val) {
      if (val.uid == "Home") {
        this.getHomeChart('1');
      }
      this.subMenu = val.children;
      if (val.children.length) {
        this.subUid = val.children[0].uid;
        this.iframeUrl = '';
        this.changeVal(this.subUid)
      }
    },
    changeVal(menu) {
      let webcallOnlineDomain = this.webcallOnlineDomainEn;
      const token = window.EWebPlat.store.getters.token;
      const clientFrom = "hyWebClient";
      if (menu === "35fd8b9f-b00f-4686-b0db-2c1d48c3415a") {
        this.iframeUrl = `${webcallOnlineDomain[window.__sso]}/report/?jumpType&hwCheck=${token}&clientFrom=${clientFrom}&pPath=almostAlways&type=almostAlwaysDate`;
      }else if (menu === "fb916555-ef16-442d-a190-c90d1d6343b4") {
        this.iframeUrl = `${webcallOnlineDomain[window.__sso]}/report/?jumpType&hwCheck=${token}&clientFrom=${clientFrom}&pPath=almostAlways&type=almostAlwaysArea`;
      }else if (menu === "e3c6d7f1-ef87-48ae-b5cb-1e9896fbff99") {
        this.iframeUrl = `${webcallOnlineDomain[window.__sso]}/report/?jumpType&hwCheck=${token}&clientFrom=${clientFrom}&pPath=insert&type=insertDate`;
      }else if (menu === "ecd5ef50-d8d8-44fc-a7c1-96b0de7ec83a") {
        this.iframeUrl = `${webcallOnlineDomain[window.__sso]}/report/?jumpType&hwCheck=${token}&clientFrom=${clientFrom}&pPath=insert&type=insertGroup`;
      }else if (menu === "86ac1374-13ba-482e-a7ab-ddf60911f7df") {
        this.iframeUrl = `${webcallOnlineDomain[window.__sso]}/report/?jumpType&hwCheck=${token}&clientFrom=${clientFrom}&pPath=insert&type=insertArea`;
      }else if (menu === "report_visitor_record_group") {
        this.iframeUrl = `${webcallOnlineDomain[window.__sso]}/report/?jumpType&hwCheck=${token}&clientFrom=${clientFrom}&pPath=talk&type=talkGroup`;
      }else if (menu === "report_visitor_record_receptionType") {
        this.iframeUrl = `${webcallOnlineDomain[window.__sso]}/report/?jumpType&hwCheck=${token}&clientFrom=${clientFrom}&pPath=talk&type=talkReceptionType`;
      }else if (menu === "cdfe1aed-8720-4253-8466-fe8b2e5e333c") {
        this.iframeUrl = `${webcallOnlineDomain[window.__sso]}/report/?jumpType&hwCheck=${token}&clientFrom=${clientFrom}&pPath=busCard&type=busCardDate`;
      }else if (menu === "assess_orederCs") {
        this.iframeUrl = `${webcallOnlineDomain[window.__sso]}/report/?jumpType&hwCheck=${token}&clientFrom=${clientFrom}&pPath=service&type=serviceWork`;
      }
    },
    subclick(val){
      this.subUid = val.uid
      this.iframeUrl = '';
      this.changeVal(this.subUid)
    },
    chartMenu(){
      this.getHomeChart(this.chartsValue)
    }
  }
};
</script>
<style lang='scss' scoped>
.colunFlex{
  height: calc(100% - 78px);
  .tableCol{
    height: calc(100% - 200px);
  }
}
.report-main{
  width: 100%;
  height: 100%;
  .report-header{
    background: #fff;
    padding: 20px;
    display: flex;
    .item-type{
      display: flex;
      height: 32px;
      padding: 12px;
      align-items: center;
      color: #333;
      border-radius: 4px;
      background: #fff;
      cursor: pointer;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }
  }
}
.item-type-select{
  background: #F1F4FA !important;
  font-weight: 500;
}
.charts-left{
  flex: 1;
  border-radius: 12px;
  border: 0.6px solid #F1F1F1;
  background: #FFF;
  box-shadow: 3px 3px 18px -4px rgba(0, 0, 0, 0.05);
  padding-bottom: 20px;
  .chart-title{
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }
}
.charts-right{
  width: 330px;
  height: 313px;
  margin-left: 15px;
}
.mr{
  margin-right: 10px;
}
.flex{
  display: flex;
  padding: 10px 20px;
  width: 100%;
}
#lineChart1{
  width: 100%;
  height: 240px;
}
#lineChart1 div{
  width: 100%;
  height: 240px;
}
</style>