<template>
  <div class="table-main">
    <div class="search-title">
      <el-date-picker
        size="small"
        v-model="createTime"
        type="daterange"
        format="MM/dd/yyyy"
        range-separator="-"
        value-format="yyyy-MM-dd HH:mm:ss"
        start-placeholder="Start Date"
        end-placeholder="End Date"
        style="width: 250px;"
        :default-time="['00:00:00', '23:59:59']"
        @change="changeTable"
        :picker-options="pickerOptions"
      ></el-date-picker>
      <el-button type="primary" size="medium" icon="el-icon-download" @click="exportFun">Export</el-button>
    </div>
    <e-table-sp height="100%" v-loading="loading" :tableColumnData="tableColumnData" :data="tableData">
    </e-table-sp>
  </div>
</template>

<script>
import moment  from 'moment';
export default {
  
  data() {
    return {
      loading: false,
      tableColumnData: [
        { label: 'Sr.',type: 'index'},
        { label: "Visitor count", prop: "visitors" },
        { label: "Website traffic", prop: "visitorPv" },
        { label: "AI chats", prop: "aiChatCount" },
        { label: "Chats", prop: "chatCount" },
        { label: "Live chat", prop: "userChatCount" },
        { label: "Date", prop: "_id", width:'150px'},
        { label: "Valid live chats", prop: "effUserChatCount" },
        { label: "Valid visitor chats", prop: "effAiChatCount" },
        { label: "Lead counts", prop: "clues" }
      ],
      createTime: [],
      downloadLoading: false,
      minDate: "",
      pickerOptions: {
        disabledDate: (time) => {
          let min = this.minDate;
          if (min !== "") {
            return time.getTime() < moment(min).date(0).date(1) || time.getTime() > moment.min(moment(min).date(63).date(0), moment(new Date()).hour(23).minute(59).second(59));
          }
            return time.getTime() > moment(new Date()).hour(23).minute(59).second(59);

        },
        onPick: ({
          maxDate,
          minDate
        }) => {
          this.minDate = minDate && minDate.getTime();
          if (maxDate) {
            this.minDate = "";
          }
        }
      }
    };
  },
  props: ["tableData"],
  created() {
    let _data = new Date();
    const day = moment(new Date()).get("date");
      const start = moment(new Date()).date(day)
        .hour(0)
        .minute(0)
        .second(0)
        .format("YYYY-MM-DD HH:mm:ss");
      const end = moment(new Date())
        .hour(23)
        .minute(59)
        .second(59)
        .format("YYYY-MM-DD HH:mm:ss");
      this.createTime = [start, end];
    this.$emit('changeTab', this.createTime);
  },
  methods: {
    changeTable() {
      console.log(this.createTime, 'createTime')
      this.$emit('changeTab', this.createTime);
    },
    // 获取列表数据
    async exportFun() {
      const params = {
        startTime: this.createTime[0],
        endTime: this.createTime[1]
      };
      let res;
      try {
        res = await window.EWebPlat.platService(window.webClientApiMap.reportWeb.apiReportHomeExport, params, {responseType: 'blob'});
        this.downloadLoading = true;
      } catch (error) {
        console.error(error);
        this.downloadLoading = false;
        return;
      }
      this.downloadLoading = false;
      const blob = new Blob([res], {
        type: "application/vnd.ms-excel;charset=utf-8"
      });
      const a = document.createElement("a");
      const url = window.URL.createObjectURL(blob);
      const filename = `visitor chats.xls`;
      a.href = url;
      a.download = filename;
      a.click();
      window.URL.revokeObjectURL(url);
    }
  }
};
</script>
<style lang='scss' scoped>
/deep/ .el-table thead .cell{
  font-weight: 500 !important;
}
.table-main{
  background: #fff;
  height: 100%;
  .search-title{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
  }
}
/deep/ .el-table{
  border: none !important;
}
/deep/ .el-table th.is-leaf, .el-table td{
  border: none;
  border-top: 1px solid #E8E8EA;
  border-right: 1px solid #E8E8EA;
  border-bottom: 1px solid #E8E8EA;
  background: #F1F4FA;
}
</style>