<!--
 * @Description:
 * @Author: 李大玄
 * @Date: 2024/2/29 5:07 下午
 * @FilePath: \hw-web-client-view\src\views\comPagesEntry\index.vue
 * @LastEditors: chunxu.Zhao
 * @LastEditTime: 2024-04-03 18:19:53
-->
<template>
  <div class="" width="100%" height="100%">
    <component :is="['chatWidget', 'billing', 'integration'].includes(routerCode) ? routerCode : 'IframeList' "></component>
    <!-- <IframeList :code="routerCode"></IframeList> -->
  </div>
</template>

<script>
import IframeList from "../iframeList";
import chatWidget from "../setting/chatWidget/index";
import billing from "../setting/billing/index";
import integration from "../setting/integration/index"
import {mapGetters} from "vuex";

export default {
  name: "", // Pascal命名
  mixins: [],
  components: {IframeList, chatWidget, billing, integration},
  props: {},
  computed: {
    ...mapGetters(["routerCode"])
  },
  data() {
    return {};
  },
  watch: {
    // temObj: {
    //   handler(newVal, oldVal) {},
    //   deep: true, // 深度
    //   immediate: true, // 立即执行
    // },
  },
  beforeCreate() {
  },
  created() {

  },
  beforeMount() {
  },
  mounted() {
  },
  methods: {},
  beforeUpdate() {
  }, //生命周期 - 更新之前
  updated() {
  }, //生命周期 - 更新之后
  beforeDestroy() {
  }, //生命周期 - 销毁之前
  destroyed() {
  }, //生命周期 - 销毁完成
  activated() {
  } //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang='scss' scoped>

</style>