<template>
  <div class="chat-box">
    <!-- title -->
    <div class="chat-title">
      Upbeat
      <svg @click="min" xmlns="http://www.w3.org/2000/svg" width="14" height="2" viewBox="0 0 14 2" fill="none">
        <path d="M1 1H13" stroke="#7E84A3" stroke-width="1.5" stroke-linecap="round"/>
      </svg>
    </div>

    <!-- content -->
    <div class="chat-content" ref="contentRef">
      <ContentItem
        :data="item"
        :before="index !== 0 ? chatList[index-1] : null"
        :after="index < chatList.length - 1 ? chatList[index+1] : null"
        :key="index" v-for="(item, index) in chatList"></ContentItem>
    </div>

    <!-- input-area -->
    <div class="chat-input-area">
      <div class="chat-input-left plr-14 ptb-14">
        <div class="input" contenteditable placeholder="Send a message…" ref="inputRef" @input="inputInput"></div>
      </div>
      <div class="chat-input-send" @click="send">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
          <path d="M13.499 6.22916C10.044 4.50223 1.39757 0.180199 1.18928 0.0762287C0.994511 -0.010413 -0.100639 -0.24989 0.00749058 1.01542C0.425102 3.06848 1.03991 6.23818 1.03991 6.23818L10.0506 6.93131L1.03991 7.97101C1.03991 7.97101 0.425102 10.7941 0.00749058 12.8475C-0.100639 14.1125 0.994511 13.873 1.18928 13.7864C1.39757 13.6824 10.044 9.36039 13.499 7.63345C14.0833 7.31461 14.2458 6.63499 13.499 6.22916Z"
            :fill="!isEmpty ? '#338AFF' : '#919BB0'"/>
        </svg>
      </div>
    </div>

    <!-- copyright -->
    <div class="chat-copyright">
      Chat
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16" fill="none">
        <path d="M0.966705 9.22386L6.20861 0.986602C6.40999 0.670087 6.89996 0.81276 6.89996 1.18792V7.02516C6.89996 7.06656 6.93356 7.10016 6.97496 7.10016H10.6797C10.9831 7.10016 11.1609 7.44163 10.9869 7.69018L5.78216 15.1255C5.57194 15.4259 5.09996 15.2772 5.09996 14.9105V9.87516C5.09996 9.83376 5.06636 9.80016 5.02496 9.80016H1.28308C0.987173 9.80016 0.80784 9.47346 0.966705 9.22386Z" fill="#FEF79E" stroke="#F5A624"/>
      </svg>
      by
      <el-link class="ml-3" type="primary" href="https://www.upbeat.chat/">Upbeat</el-link>
    </div>
  </div>
</template>

<script>
import ContentItem from "./item.vue";
import socket from "@/utils/webSocketFlow.js";

export default {
  components: {ContentItem},
  data() {
    return {
      chatList: [],
      value: "",
      aiInfo: {}
    };
  },
  //监听属性 类似于data概念
  computed: {
    isEmpty() {
      return !this.value;
    }
  },
  mounted() {
    this.getAiInfo();

    this.$refs.inputRef.addEventListener("keydown", (evt)=> {
      // 回车
      if(evt.keyCode === 13) {
        evt.preventDefault();
        this.send();
      }
    });
  },
  //方法集合
  methods: {
    open() {
      this.$el.style.display = "flex";
    },
    min() {
      // this.$el.style.display = "none";
      this.$emit("min");
    },
    async getAiInfo() {
      let res;
      try {
        res = await window.EWebPlat.platService(window.webClientApiMap.authEupms.aiUser);
      } catch (error) {
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      this.aiInfo = res.data || {};
      socket.createReconnet();
      this.socketSendMsg("BEGINROBOT", "", (res) => {
        this.comsend(res);
      });
    },
    // 测试机器人发送消息 封装
    comsend(res) {
      let data = JSON.parse(res.data);
      if (data.code == "200") {
        if (data.messageType == 1) {
          if(data?.action?.actionType === "replyMessage") {
            this.addNewMsg({content: data.action.content, type: "left"});
          }
        }
      }
    },
    // 测试机器人发送消息
    socketSendMsg(cmd, visitorsWords, callback) {
      const { companyId, userIds } = this.aiInfo;
      let param = {
        c: companyId,
        cmd: cmd,
        domainId: window.__sso === "prod" || window.__sso === "pre" ? 4 : 8,
        u: userIds[0],
        visitorsWords: visitorsWords
      };

      socket.sendMsg(param, res => {
        callback && callback(res);
      });
    },
    inputInput() {
      this.value = this.$refs.inputRef.innerText.trim();
    },
    send() {
      if(this.isEmpty) {
        return;
      }

      this.socketSendMsg("ROBOTSTRATEGY", this.value.replace(/[\r\n]/g, ""), (res) => {
        this.comsend(res);
      });
      this.addNewMsg({ content: this.value, type: "right" });
      this.value = "";
      this.$refs.inputRef.innerHTML = "";

    },
    addNewMsg(obj) {
      this.chatList.push(obj);

      this.$nextTick(()=> {
        this.$refs.contentRef.children[this.$refs.contentRef.children.length -1]
          .scrollIntoView({ behavior: "smooth", inline: "start" });
      });
    },
    // 测试机器人关闭会话
    closeSocket() {
      this.socketSendMsg("ENDROBOT", "", (res) => {
        let data = JSON.parse(res.data);
        if (data.log.code == "200") {
          socket.closeReconnet();
        }
      });
    }
  },
  //生命周期 - 销毁之前
  beforeDestroy() {
    this.closeSocket();
  }
};
</script>
<style lang='scss' scoped>
.chat-box {
  width: 325px;
  height: 562px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 2px 4px 26px 0px rgba(0, 0, 0, 0.12);
  // position: absolute;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  .chat-title {
    height: 58px;
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
      cursor: pointer;
    }
  }
  .chat-content {
    flex: 1;
    padding: 0 16px;
    padding-top: 40px;
    min-height: 0;
    overflow-y: auto;
  }
  .chat-input-area {
    min-height: 46px;
    margin-top: 5px;
    margin-bottom: 6px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    .chat-input-left {
      height: 100%;
      border: 1px solid #ddd;
      flex: 1;
      border-radius: 23px;
      .input {
        line-height: 16px;
        width: 100%;
        display: block;
        font-size: 14px;
        font-weight: 400;
        outline: none;
        overflow: auto;
        overflow-wrap: anywhere;
        &:empty::before {
          content: attr(placeholder);
          line-height: 16px;
          color: #919BB0;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
    .chat-input-send {
      width: 14px;
      height: 14px;
      margin-left: 12px;
      cursor: pointer;
    }
  }
  .chat-copyright {
    height: 18px;
    margin-bottom: 6px;
    padding: 0 18px;
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #606266;
    font-size: 12px;
    svg {
      margin: 0 6px;
    }
    &::before,
    &::after {
      flex: 1;
      content: '';
      display: block;
      height: 1px;
      background-color: #EEEEF1;
    }
    &::before {
      margin-right: 6px;
    }
    &::after {
      margin-left: 6px;
    }
  }
}
</style>