<template>
  <div class="item" :class="{'item-left': data.type === 'left', 'item-right': data.type === 'right'}">
    <div class="item-content" :style="styleType" v-html="data.content"></div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: ()=> ({})
    },
    before: {
      type: Object,
      default: ()=> ({})
    },
    after: {
      type: Object,
      default: ()=> ({})
    }
  },
  data() {
    return {
      leftBgc: "#F1F1F3",
      leftColor: "#333",
      rightBgc: "#338AFF",
      rightColor: "#FFF;"
    };
  },
  computed: {
    styleType() {
      let str = "";
      let { before, after, data } = this;
      before = before || {};
      after = after || {};
      if(before.type === data.type && after.type === data.type) {
        // center
        str = `
        border-top-${data.type}-radius: 4px;
        border-bottom-${data.type}-radius: 4px;
        `;
      } else if(before.type === data.type && after.type !== data.type) {
        // bottom
        str = `border-top-${data.type}-radius: 4px;`;
      } else if(before.type !== data.type && after.type === data.type) {
        // top
        str = `border-bottom-${data.type}-radius: 4px;`;
      }
      str += `
      background-color: ${this[data.type+"Bgc"]};
      color: ${this[data.type+"Color"]}
      `;
      return str;
    }
  }
};
</script>
<style lang='scss' scoped>
.item {
  .item-content {
    display: inline-block;
    border-radius: 20px;
    padding: 10px 12px;
    line-height: 20px;
    word-wrap: break-word;
    word-break: normal;
    max-width: 100%;
  }
}

.item-left + .item-left,
.item-right + .item-right {
  margin-top: 4px;
}
.item-left + .item-right,
.item-right + .item-left {
  margin-top: 24px;
}

.item-right {
  display: flex;
  justify-content: flex-end;
}
</style>