<template>
  <div class="p-l-b" v-draggable :style="`height: ${ch}`">
    <button @click="click">展开收起</button>
    <pre><slot></slot></pre>
  </div>
</template>

<script>
const ch = "400px";
export default {
  name: '', // Pascal命名
  mixins: [],
  components: {},
  props: {},
  computed: {},
  data() {
    return {
      ch
    };
  },
  watch: {
    // temObj: {
    //   handler(newVal, oldVal) {},
    //   deep: true, // 深度
    //   immediate: true, // 立即执行
    // },
  },
  beforeCreate() {
  },
  created() {

  },
  beforeMount() {
  },
  mounted() {
  },
  methods: {
    click() {
      this.ch = this.ch == ch ? "50px" : ch;
    }
  },
  beforeUpdate() {
  }, //生命周期 - 更新之前
  updated() {
  }, //生命周期 - 更新之后
  beforeDestroy() {
  }, //生命周期 - 销毁之前
  destroyed() {
  }, //生命周期 - 销毁完成
  activated() {
  }, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang='scss' scoped>
//@import url(); 引入公共css类
.p-l-b {
  padding: 10px;
  position: fixed;
  z-index: 111111;
  border: 10px solid pink;
  background: #fff;
  width: 400px;
  height: 500px;
  overflow: auto;
  top: 0;
  right: 0;
}
</style>