<!--
 * @Author: 段丽军
 * @Date: 2023-10-31 20:55:43
 * @LastEditTime: 2023-11-08 16:29:17
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /web-client/src/components/tabs.vue
-->
<template>
  <div class="tabs">
    <div class="tab-pane" :class="{ 'tab-pane-active': value === item.value }" :key="item.value" v-for="item in data" @click="change(item)">
      <div class="text">
        {{ item.label }}
        <div class="badge" v-if="item.badge"></div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "", // Pascal命名
  mixins: [],
  components: {},
  model: {
    prop: "value",
    event: "change"
  },
  props: {
    data: {
      type: Array,
      default: () => []
    },
    value: {
      default: null
    }
  },
  //import引入的组件需要注入到对象中才能使用
  //这里存放数据
  data() {
    return {};
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {
    // 对象写法
    // temObj: {
    //   handler(newVal, oldVal) {
    //   },
    //   deep: true, // 深度
    //   immediate: true, // 立即执行
    // },
    // temStr(val) {
    // },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  beforeCreate() {
  }, //生命周期 - 创建之前
  created() {

  },
  //生命周期 - 挂载完成（可以访问DOM元素）
  beforeMount() {
  }, //生命周期 - 挂载之前
  mounted() {
  },
  //方法集合
  methods: {
    change(item) {
      this.$emit("change", item.value);
    }
  },
  beforeUpdate() {
  }, //生命周期 - 更新之前
  updated() {
  }, //生命周期 - 更新之后
  beforeDestroy() {
  }, //生命周期 - 销毁之前
  destroyed() {
  }, //生命周期 - 销毁完成
  activated() {
  } //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang='scss' scoped>
//@import url(); 引入公共css类
.tabs {
  display: flex;
  height: 36px;
  line-height: 36px;
  width: 100%;
  font-size: 12px;
  color: #606266;
  font-weight: 400;
}

.tab-pane {
  flex: 1;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  background-color: #E1E5EB;
  transition: background-color .3s;

  .text {
    position: relative;
    display: inline;
  }

  .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background: #F86B4F;
    border-radius: 50%;
  }

  &-active {
    background-color: #F8FBFF;
    color: #3585fb;

    .text {
      font-weight: 600;
    }
  }
}
</style>