<template>
  <el-dialog :visible="visible" width="400px" append-to-body :show-close="false" custom-class="billding-tip">
    <div class="tip-title">{{$ELCONFIG.aiRobot.uploadOperBtn1TipTitle}}</div>
    <div class="tip-sub-title mt-14">{{$ELCONFIG.aiRobot.uploadOperBtn1Tip}}</div>
    <div class="tip-content mt-24">
      <el-form :model="form" :rules="rules" ref="formRef" @submit.native.prevent @keyup.enter.native="submit">
        <el-form-item prop="value">
          <el-input v-model="form.value" ref="valueRef"></el-input>
        </el-form-item>
      </el-form>
    </div>
    <div class="mt-24 flex jc-end">
      <el-button size="default" @click="close">{{$ELCONFIG.aiRobot.uploadOperBtn1Btn2}}</el-button>
      <el-button size="default" type="primary" @click="submit">{{$ELCONFIG.aiRobot.uploadOperBtn1Btn1}}</el-button>
    </div>
  </el-dialog>
</template>

<script>
export default {
  data() {
    const checkFileName = (rule, value, callback)=> {
      const { after } = this.form;
      value = value.trim();
      if(after !== value.slice(value.lastIndexOf(".")+1)) {
        callback(new Error("File extension remains unchanged."));
      } else if(!value.slice(0, value.lastIndexOf("."))) {
        callback(new Error("file name error"));
      } else {
        callback();
      }
    };

    return {
      visible: false,
      row: null,
      form: {
        value: "",
        after: ""
      },
      rules: {
        value: [
          { required: true, message: "A file name is required.", trigger: "blur" },
          { min: 1, max: 40, message: "Input must be under 40 characters.", trigger: "blur" },
          { validator: checkFileName, trigger: "blur" }
        ]
      }
    };
  },
  methods: {
    open({ row }) {
      this.row = row;
      const { fileName } = row;
      this.form.value = fileName;
      this.form.after = fileName.slice(fileName.lastIndexOf(".")+1);
      this.visible = true;
      this.$nextTick(()=> {
        this.$refs.valueRef.focus();
        const inputEl = this.getInput(this.$refs.valueRef.$el);
        inputEl.setSelectionRange(0, fileName.lastIndexOf("."));
      });
      this.$refs.formRef.clearValidate();
    },
    getInput(el) {
      if(el.tagName === "INPUT") {
        return el;
      }
      if(!el.children || el.children.length === 0) {
        return;
      }
      for(let i = 0; i < el.children.length; i++) {
        const childEl = this.getInput(el.children[i]);
        if(childEl) {
          return childEl;
        }
      }
    },
    async submit(val) {
      const validate = await new Promise(resovle => this.$refs.formRef.validate(val => resovle(val)));
      if(!validate){
        return;
      }

      const { value } = this.form;
      const params = { id: this.row.id, fileName: value.trim() };
      let res;
      try {
        res = await window.EWebPlat.platService(window.webClientApiMap.ocomsWeb.updateAiFileName, params);
      } catch (error) {
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      this.$message.success(this.$ELCONFIG.operSuccess);
      this.$emit("success");
      this.close();
    },
    close() {
      this.form = this.$options.data().form;
      this.$refs.formRef.resetFields();
      this.visible = false;
    }
  }
};
</script>
<style lang='scss' scoped>
::v-deep .billding-tip {
  border-radius: 8px;
  .el-dialog__header {
    display: none;
  }
  .el-dialog__body {
    padding: 24px 20px;
  }
}
.tip-title {
  color: #101828;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}
.tip-sub-title {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.tip-content {
  ::v-deep .el-input input {
    border-width: 1.5px;
  }
}
</style>