<template>
  <div class="flex flex-column" style="flex: 1; min-height: 0;">

    <!-- 上传文件按钮 -->
    <div class="h-72px plr-20 ptb-18 flex ai-center" style="justify-content: space-between;">
      <span class="table-title">
        {{$ELCONFIG.aiRobot.uploadTitle}}
        <!-- <el-popover placement="top" trigger="hover" :content="$ELCONFIG.aiRobot.uploadTip">
          <i slot="reference" class="el-icon-info" style="color: #CED0D4; font-size: 14px;"></i>
        </el-popover> -->

        <el-tooltip placement="top">
          <pre slot="content">{{ $ELCONFIG.aiRobot.uploadTip }}</pre>
          <i class="el-icon-info" style="color: #CED0D4; font-size: 14px;"></i>
        </el-tooltip>
      </span>
      <el-button type="primary" size="medium" @click="upload" :disabled="loading.upload">
        <div class="flex ai-center">
          <svg v-if="!loading.upload" xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none" class="mr-8">
            <path d="M13.3333 12.3332L9.99997 8.9999M9.99997 8.9999L6.66663 12.3332M9.99997 8.9999V16.4999M16.9916 14.3249C17.8044 13.8818 18.4465 13.1806 18.8165 12.3321C19.1866 11.4835 19.2635 10.5359 19.0351 9.63881C18.8068 8.7417 18.2862 7.94616 17.5555 7.37778C16.8248 6.80939 15.9257 6.50052 15 6.4999H13.95C13.6977 5.52427 13.2276 4.61852 12.5749 3.85073C11.9222 3.08295 11.104 2.47311 10.1817 2.06708C9.25943 1.66104 8.25709 1.46937 7.25006 1.50647C6.24304 1.54358 5.25752 1.80849 4.36761 2.28129C3.47771 2.7541 2.70656 3.42249 2.11215 4.23622C1.51774 5.04996 1.11554 5.98785 0.935783 6.9794C0.756025 7.97095 0.803388 8.99035 1.07431 9.96096C1.34523 10.9316 1.83267 11.8281 2.49997 12.5832" stroke="white" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <i class="el-icon-loading mr-8" v-else></i>
          {{$ELCONFIG.aiRobot.uploadBtn}}
        </div>
      </el-button>
    </div>

    <!-- 上传组件(隐藏不显示) -->
    <input type="file" ref="fileRef" :accept="fileFormat.map(item=> '.'+item).join(',')" @change="fileChange" style="display: none;" />

    <!-- table -->
    <div style="flex: 1; min-height: 0;">
      <e-table-sp
        height="100%"
        :data="tableData"
        v-loading="loading.table"
        :row-class-name="selectionClass"
        :tableColumnData="tableColumnData"
        @selection-change="tableSelectionCange">

        <!-- File name -->
        <template #fileName="{ row }">
          <div class="flex ai-center h-32">
            <div class="h-40 w-40 br-20 mr-12 flex jc-center ai-center"
              style="background-color: #EBF4FF; position: absolute;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" viewBox="0 0 16 18" fill="none">
                <path
                  d="M5.00032 5H11.0003M5.00032 8H11.0003M5.00032 11H8.00029M3.50007 1H12.5003C13.6049 1 14.5003 1.89546 14.5003 3.00004L14.5 15.0001C14.5 16.1046 13.6045 17 12.5 17L3.49999 16.9999C2.39542 16.9999 1.49999 16.1045 1.5 14.9999L1.50007 2.99999C1.50008 1.89543 2.39552 1 3.50007 1Z"
                  stroke="#338AFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <div class="ml-52 table-filename" :title="row.fileName">{{ row.fileName }}</div>
          </div>
        </template>

        <!-- Status -->
        <template #status="{ row }">
          <!-- completed -->
          <template v-if="row.status === 'completed'">{{$ELCONFIG.aiRobot.uploadStatusOption1}}</template>
          <!-- uploading -->
          <template v-else-if="row.id === temporarilyInfo.id">
            <template v-if="temporarilyInfo.status === 'uploading'">
              <el-progress :percentage="progressValue" ref="progressRef"></el-progress>
            </template>
            <el-button v-else-if="temporarilyInfo.status === 'failed'" type="text">
              <el-tooltip :content="$ELCONFIG.aiRobot.uploadStatusOption2Tip" placement="top">
                <div class="flex ai-center" style="color: #F3413C; font-weight: 400;" @click="fileUpload(temporarilyInfo)">{{$ELCONFIG.aiRobot.uploadStatusOption2}} <i class="el-icon-refresh ml-12" style="font-size: 18px;"></i></div>
              </el-tooltip>
            </el-button>
          </template>
          <!-- failed -->
          <el-button v-else-if="row.status === 'failed'" type="text">
            <el-tooltip :content="$ELCONFIG.aiRobot.uploadStatusOption2Tip" placement="top">
              <div class="flex ai-center" style="color: #F3413C; font-weight: 400;">{{$ELCONFIG.aiRobot.uploadStatusOption2}}</div>
            </el-tooltip>
          </el-button>
        </template>

        <!-- more actions -->
        <template #oper="{ $index, row }">
          <el-popover placement="bottom" width="139" trigger="click" popper-class="table-popper" :visible-arrow="false"
            :ref="`table-oper-popover-${$index}`">
            <button slot="reference" class="h-30 w-30 plr-0 flex ai-center jc-center table-oper-btn" v-show="!(row.id === temporarilyInfo.id && temporarilyInfo.status === 'uploading')">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                <path
                  d="M10.5001 10.833C10.9603 10.833 11.3334 10.4599 11.3334 9.99967C11.3334 9.53944 10.9603 9.16634 10.5001 9.16634C10.0398 9.16634 9.66675 9.53944 9.66675 9.99967C9.66675 10.4599 10.0398 10.833 10.5001 10.833Z"
                  stroke="#666666" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M10.5001 4.99967C10.9603 4.99967 11.3334 4.62658 11.3334 4.16634C11.3334 3.7061 10.9603 3.33301 10.5001 3.33301C10.0398 3.33301 9.66675 3.7061 9.66675 4.16634C9.66675 4.62658 10.0398 4.99967 10.5001 4.99967Z"
                  stroke="#666666" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M10.5001 16.6663C10.9603 16.6663 11.3334 16.2932 11.3334 15.833C11.3334 15.3728 10.9603 14.9997 10.5001 14.9997C10.0398 14.9997 9.66675 15.3728 9.66675 15.833C9.66675 16.2932 10.0398 16.6663 10.5001 16.6663Z"
                  stroke="#666666" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
            <div>
              <div class="table-oper-item" @click="view($index, row)" v-if="temporarilyInfo.status !== 'failed' && row.status !== 'failed'">
                <svg class="mr-22" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <path
                    d="M8 16.9999H2.99999C1.89543 16.9999 0.999992 16.1045 1 14.9999L1.00008 2.99999C1.00008 1.89542 1.89552 1 3.00008 1H12.0003C13.1048 1 14.0003 1.89543 14.0003 3V7M13.5 13.4575V13.4048M4.50032 5H10.5003M4.50032 8H10.5003M4.50032 11H7.50033M17 13.5C17 13.5 16.1698 15.9497 13.5 15.9069C10.8302 15.8642 10 13.5 10 13.5C10 13.5 10.7965 11.0075 13.5 11.0075C16.2035 11.0075 17 13.5 17 13.5Z"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                {{ $ELCONFIG.aiRobot.uploadOperBtn1 }}
              </div>
              <div class="table-oper-item" @click="remove($index, row)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path
                    d="M2.5 5.00033H4.16667M4.16667 5.00033H17.5M4.16667 5.00033V16.667C4.16667 17.109 4.34226 17.5329 4.65482 17.8455C4.96738 18.1581 5.39131 18.3337 5.83333 18.3337H14.1667C14.6087 18.3337 15.0326 18.1581 15.3452 17.8455C15.6577 17.5329 15.8333 17.109 15.8333 16.667V5.00033H4.16667ZM6.66667 5.00033V3.33366C6.66667 2.89163 6.84226 2.46771 7.15482 2.15515C7.46738 1.84259 7.89131 1.66699 8.33333 1.66699H11.6667C12.1087 1.66699 12.5326 1.84259 12.8452 2.15515C13.1577 2.46771 13.3333 2.89163 13.3333 3.33366V5.00033M8.33333 9.16699V14.167M11.6667 9.16699V14.167"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                {{ $ELCONFIG.aiRobot.uploadOperBtn2 }}
              </div>
              <div class="table-oper-item" @click="rename($index, row)">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7707 4.08897C13.0959 3.76351 13.6235 3.76328 13.949 4.08847L15.9102 6.04744C16.2359 6.37276 16.2361 6.90052 15.9107 7.22612L7.6125 15.5289C7.49643 15.645 7.34864 15.7242 7.18769 15.7566L3.5 16.4997L4.24438 12.8164C4.27683 12.6558 4.35593 12.5083 4.47178 12.3924L12.7707 4.08897Z" stroke="#666666" stroke-width="1.5" stroke-linejoin="round"/>
                </svg>

                {{ $ELCONFIG.aiRobot.uploadOperBtn3 }}
              </div>
            </div>
          </el-popover>
        </template>

      </e-table-sp>
    </div>

    <!-- 批量删除按钮 -->
    <transition name="el-zoom-in-bottom">
      <div class="h-64 plr-24 ptb-14" style="border-top: 1px solid #EEEEF1;" v-show="tableSelect.length > 0">
        <el-button type="danger" size="medium" plain @click="batchRemove" :loading="loading.batchRemove">{{$ELCONFIG.aiRobot.uploadBatchOperBtn1}}</el-button>
      </div>
    </transition>


    <Rename ref="renameRef" @success="loadTableData"></Rename>
  </div>
</template>

<script>
import Rename from "./rename.vue";

export default {
  components: {Rename},
  data () {
    const {
      uploadTableColumn1,
      uploadTableColumn2,
      uploadTableColumn3,
      uploadTableColumn4,
      uploadTableColumn5
    } = this.$ELCONFIG?.aiRobot || {};
    return {
      loading: {
        table: false,
        upload: false,
        batchRemove: false
      },
      // 列表列配置数据
      tableColumnData: [
        { type: "selection", width: 38 },
        { label: uploadTableColumn1, minWidth: 250, slotName: "fileName" },
        { label: uploadTableColumn2, prop: "fileSize", width: 123 },
        { label: uploadTableColumn3, formatter: row => this.getEnglishTimeFormat(row.updateTime || row.createTime), width: 130 },
        { label: uploadTableColumn4, minWidth: 220, slotName: "status" },
        { label: uploadTableColumn5, width: 123, align: "center", slotName: "oper" }
      ],
      tableData: [], // 列表数据
      tableSelect: [], // 列表选中数据
      progressValue: 0, // 文件上传进度
      progressTimer: null,

      // 临时存放
      temporarilyInfo: {
        file: null, // 文件临时存放，用于上传失败重试
        id: null,
        status: ""
      },
      fileFormat: ["txt", "pdf", "doc", "docx", "csv", "xls", "xlsx", "xml"]
    };
  },
  mounted() {
    this.loadTableData();
  },
  //方法集合
  methods: {
    // 加载列表数据
    async loadTableData() {
      let res;
      try {
        this.loading.table = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.ocomsWeb.aiFileList);
        this.loading.table = false;
      } catch (error) {
        this.loading.table = false;
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      this.tableData = (res.data || []).map(item=> ({
        ...item,
        fileSize: this.getFileSize(item.fileSize),
        status: item.uploadState ? "completed" : "failed"
      }));
    },
    //把字节转换成正常文件大小
    getFileSize (size) {
      if (!size) {
        return "--";
      }
      const num = 1024.00; //byte
      if (size < num) {
        return size + "B";
      }
      if (size < Math.pow(num, 2)) {
        return (size / num).toFixed(2) + "KB";
      } //kb
      if (size < Math.pow(num, 3)) {
        return (size / Math.pow(num, 2)).toFixed(2) + "MB";
      } //M
      if (size < Math.pow(num, 4)) {
        return (size / Math.pow(num, 3)).toFixed(2) + "GB";
      } //G
      return (size / Math.pow(num, 4)).toFixed(2) + "TB"; //T
    },
    // 月日年 美国格式
    getEnglishTimeFormat(dt) {
      if(!dt) {
        return "";
      }
      const date = new Date(dt+"".replaceAll("-", "/"));
      const year = date.getFullYear();
      const month = date.getMonth()+1;
      const day = date.getDate();

      return `${month < 10 ? "0" + month : month}/${day < 10 ? "0" + day : day}/${year}`;
    },
    // 文件上传
    upload () {
      this.$refs.fileRef.value = "";
      this.$refs.fileRef.click();
    },
    // 文件上传回调
    async fileChange (evt) {
      const file = evt.target.files[0];
      const filename = file.name;
      const filesize = file.size;
      if(filesize === 0 || !this.fileFormat.includes(filename.slice(filename.lastIndexOf(".")+1)) ||
        100 * 1024 * 1024 < filesize) {
        this.$message.info(this.$ELCONFIG.aiRobot.uploadTip + this.fileFormat.join(", "));
        return;
      }
      this.fileCheck(file);
    },
    // 文件校验
    async fileCheck (file) {
      const params = {
        fileName: file.name,
        fileSize: file.size
      };
      let res;
      try {
        this.loading.upload = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.ocomsWeb.checkAiFile, params);
        this.loading.upload = false;
      } catch (error) {
        this.loading.upload = false;
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }
      res.data.status = res.data.uploadState ? "completed" : "failed";
      res.data.fileSize = this.getFileSize(file.size);
      res.data.updateTime = this.getEnglishTimeFormat(new Date());
      this.tableData.unshift(res.data);

      this.temporarilyInfo = {
        file,
        id: res.data.id,
        status: "uploading"
      };
      this.fileUpload(this.temporarilyInfo);
    },
    bejinProgress() {
      this.progressTimer = window.setTimeout(()=> {
        if(this.progressValue < 80) {
          this.progressValue += 5;
          this.bejinProgress();
        }
      }, 500);
    },
    // 文件上传
    async fileUpload ({ file, id }) {
      const params = new FormData();
      params.append("id", id);
      params.append("file", file);
      let res;
      try {
        this.progressValue = 0;
        this.bejinProgress();
        res = await window.EWebPlat.platService(window.webClientApiMap.ocomsWeb.uploadAiFile, params);
        window.clearTimeout(this.progressTimer);
        this.progressValue = 100;
      } catch (error) {
        window.clearTimeout(this.progressTimer);
        this.temporarilyInfo.status = "failed";
        console.error(error);
        return;
      }
      if(!res || res.code !== 0) {
        window.clearTimeout(this.progressTimer);
        this.temporarilyInfo.status = "failed";
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      await this.loadTableData();
      this.temporarilyInfo = this.$options.data().temporarilyInfo;
    },
    // 列表选中
    tableSelectionCange (selection) {
      this.tableSelect = selection;
    },
    // 列表选中样式
    selectionClass ({ row, rowIndex }) {
      if (this.tableSelect.some(item => item.id === row.id)) {
        return "table-seleclted-class";
      }
      return "";
    },
    // 查看文件
    view (index, row) {
      this.$refs[`table-oper-popover-${index}`].doClose();
      window.open(row.fileUrl);
    },
    // 删除文件
    remove (index, row) {
      this.$refs[`table-oper-popover-${index}`].doClose();

      this.$confirm(this.$ELCONFIG.aiRobot.uploadOperBtn2Tip, this.$ELCONFIG.aiRobot.uploadOperBtn2TipTitle, {
        confirmButtonText: this.$ELCONFIG.aiRobot.uploadOperBtn2Btn1,
        cancelButtonText: this.$ELCONFIG.aiRobot.uploadOperBtn2Btn2,
        type: "error",
        iconClass: "el-icon-error el-icon-warning-outline",
        showClose: false,
        confirmButtonClass: "ai-robot-remove-btn"
      }).then(async () => {
        this.removeUtils([row.id]);
      }).catch(() => { });
    },
    // 文件重命名
    rename (index, row) {
      this.$refs[`table-oper-popover-${index}`].doClose();
      this.$refs.renameRef.open({ row });
    },
    // 批量删除文件
    batchRemove () {
      if(!this.tableSelect || this.tableSelect.length === 0) {
        this.$message.info("Please choose the files you want to delete.");
        return;
      }
      const count = this.tableSelect.length;
      this.$confirm(`Are you sure you want to delete the selected ${count} file entries? `, "Delete file", {
        confirmButtonText: "Delete",
        cancelButtonText: "Cancel",
        type: "error",
        iconClass: "el-icon-error el-icon-warning-outline",
        showClose: false,
        confirmButtonClass: "ai-robot-remove-btn"
      }).then(async () => {
        const ids = this.tableSelect.map(item => item.id);
        this.removeUtils(ids);
      }).catch(() => { });
    },
    // 文件删除工具
    async removeUtils (ids) {
      const params = { ids };
      let res;
      try {
        ids.length > 1 ? this.loading.batchRemove = true : null;
        res = await window.EWebPlat.platService(window.webClientApiMap.ocomsWeb.aiFileDelete, params);
        ids.length > 1 ? this.loading.batchRemove = false : null;
      } catch (error) {
        ids.length > 1 ? this.loading.batchRemove = false : null;
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      this.$message.success(this.$ELCONFIG.operSuccess);
      this.loadTableData();
    }
  }
};
</script>
<style lang='scss' scoped>
.table-title {
  color: #333;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

::v-deep .el-table {
  border: none;

  & th.is-leaf,
  & td {
    border: none;
  }

  & th.is-leaf {
    padding: 12px 0 !important;
  }

  & tr {
    height: auto !important;
    ;
  }

  & td {
    padding: 16px 0 !important;
  }

  & th.el-table-column--selection .cell,
  & td.el-table-column--selection .cell {
    padding-right: 0 !important;
  }

  & th.el-table-column--selection+th .cell,
  & td.el-table-column--selection+td .cell {
    padding-left: 12px !important;
  }

  & thead .cell {
    color: #333 !important;
    font-size: 12px;
    font-weight: 400 !important;
    font-family: Roboto;
  }

  & .cell {
    color: #666;
    font-size: 14px;
    font-weight: 400;
  }

  &::before {
    display: none;
  }

  .table-seleclted-class {
    background-color: #338aff1a;
  }
}

.table-filename {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
}

.table-oper-btn {
  background: none;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    background-color: #DCDFE6;
  }
}

.table-oper-btn-active {
  background-color: #DCDFE6;
}

.table-oper-item {
  box-sizing: border-box;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  height: 32px;
  color: #666;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    font-weight: 500;
  }

  &+& {
    margin-top: 6px;
  }

  & svg {
    margin-right: 20px;
    & path {
      stroke: #666;
    }
  }

  &:hover {
    background: #F5F5F6;
    color: #333;
    & svg path {
      stroke: #333;
    }
  }
}

::v-deep .el-checkbox {
  height: 20px;
  display: block;

  & .el-checkbox__inner {
    width: 18px;
    height: 18px;
    border-radius: 4px;

    &::after {
      left: 6px;
      top: 3px;
    }

    &::before {
      left: 0px;
      top: 7px;
    }
  }
}
</style>
<style lang='scss'>
.table-popper {
  padding: 12px 0;
  border: none;
  min-width: 132px;
}

.el-message-box {
  border-radius: 12px;
  padding: 0;

  .el-message-box__header {
    padding: 24px 20px 14px;

    .el-message-box__title {
      font-size: 20px;
      line-height: 20px;
      font-weight: 500;
    }

    .el-message-box__headerbtn {
      top: 24px;
      right: 20px;
    }
  }

  .el-message-box__content {
    padding: 0 20px 0;

    .el-message-box__container {
      padding-bottom: 24px;

      .el-message-box__status {
        font-size: 20px !important;
        top: 10px;
      }
      .el-message-box__message {
        padding-left: 28px;
      }

      p {
        font-size: 16px;
        line-height: 20px;
      }
    }

    .el-message-box__input {
      padding: 0 0 2px;

      .el-input__inner {
        border-width: 1.5px;
      }
    }
  }

  .el-message-box__btns {
    padding: 0 20px 24px;
    .ai-robot-remove-btn {
      background-color: #F3413C;
      border-color: #F3413C;
    }

    .el-button {
      border-radius: 4px;
      height: 40px;
      font-size: 14px;
      font-weight: 500;
      min-width: 94px;
    }
    .el-button--default:hover {
      background: #fff;
      border: 1px solid #dcdfe6;
      border-color: #dcdfe6;
      color: #606266;
    }
  }
}
</style>