<template>
  <div class="h-72 plr-20 pt-28 pb-18 flex ai-center" style="justify-content: space-between;">
    <div style="font-weight: 500; color: #101828; font-size: 22px;">{{title}}</div>
    <div style="color: #333; font-weight: 400; font-size: 14px;" v-if="isSwitch">
      <span>{{$ELCONFIG.aiRobot.switchLabel }}</span>
      <el-switch v-model="value" style="margin-left: 8px;" @change="change"></el-switch>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      default: ""
    },
    isSwitch: {
      default: true
    }
  },
  data() {
    return {
      status: 0,
      runningStatus: 0
    };
  },
  computed: {
    value: {
      get() {
        return !!(this.status === 1 && this.runningStatus === 1);
      },
      set() {

      }
    }
  },
  mounted() {
    if(this.isSwitch) {
      this.getRobotInfo();
    }
  },
  //方法集合
  methods: {
    async getRobotInfo() {
      let res;
      try {
        res = await window.EWebPlat.platService(window.webClientApiMap.clientWebcall.robotInfo);
      } catch (error) {
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      this.status = res.data?.status || 0;
      this.runningStatus = res.data?.runningStatus || 0;
    },
    async change(val) {
      let res;
      try {
        let api = "changeRobotStatusOffline";
        if(val) {
          api = "changeRobotStatusOnline";
        }
        res = await window.EWebPlat.platService(window.webClientApiMap.clientWebcall[api]);
      } catch (error) {
        console.error(error);
        this.getRobotInfo();
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      this.$message.success(this.$ELCONFIG.operSuccess);
      this.getRobotInfo();
    }
  }
};
</script>
<style lang='scss' scoped>

</style>