<!--
 * @Author: 段丽军
 * @Date: 2023-10-31 16:08:15
 * @LastEditTime: 2023-12-27 15:37:59
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /hw-web-client-view/src/views/chat/chatContent/chatPanel/contentBottom.vue
-->
<template>
  <div class="content_bottom-main">
    <div v-if="inputDisabled" class="content_bottom-main-mask flex ai-center jc-center">{{ disabledMsg }}</div>
    <!-- 工具栏 -->
    <div class="content_bottom-toolbar">
      <div class="content_bottom-toolbar-item" v-for="(item, index) in toobars" :key="index">
        <template v-if="item.fun === 'emoji'">
          <el-popover placement="top" width="400" trigger="click" popper-class="cus-popover">
            <div class="emoji-panel">
              <div class="emoji-item" v-for="item in dyEmojiDataCom" :key="item.icon" @click="inputEmoji(item)">
                <el-tooltip effect="dark" :content="item.text" placement="top" :open-delay="300" :enterable="false">
                  <img :src="require(`@/static/img/emoji/${channelKey}/${item.icon}.png`)"/>
                </el-tooltip>
              </div>
            </div>
            <div slot="reference" :class="item.icon" font="14"></div>
          </el-popover>
        </template>
        <div v-else :class="item.icon" font="14" @click="toolbarClick(item)"></div>
      </div>
    </div>

    <!-- 输入区域 -->
    <div class="content_bottom-input" ref="inputArea" contenteditable="true" @input="inputInput" @blur="inputBlur" :placeholder="inputDisabled ? '': $ELCONFIG.chat.chatContent.inputSendPlaceholder"></div>

    <!-- 发送按钮 -->
    <div class="content_bottom-button mr-10 mb-10">
      <e-button-n class="w-70" type="primary" size="mini" round @click="sendText" :loading="loading" style="border-radius: 50px;" :disabled="inputDisabled || !isSend">
        {{ $ELCONFIG.chat.chatContent.sendBtn }}
        <div class="iconfont icon-send ml-6" font="12"></div>
      </e-button-n>
    </div>


    <!-- 图片选择 -->
    <input type="file" accept=".jpg,.jpeg,.png" ref="ImgSelection" @change="fileChange" style="display: none;"/>
  </div>
</template>

<script>
export default {
  props: {
    msgChannel: {
      type: String,
      default: ""
    },
    rawChatInfo: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      channelKey: "yl", // 渠道key（用于加载emoji）
      emojiImgs: [], //
      emojiData: [], // emoji 数据
      toobars: [
        {
          icon: "iconfont icon-shuruqu-biaoqing",
          text: this.$ELCONFIG.chat.chatContent.emoji,
          fun: "emoji"
        },
        {
          icon: "iconfont icon-shuruqu-tupian",
          text: this.$ELCONFIG.chat.chatContent.image,
          fun: "img"
        }
      ],
      isSend: false,
      value: "",
      blurIndex: null, // 失焦光标位置
      loading: false
    };
  },
  computed: {
    dyEmojiDataCom() {
      const result = [];
      const { emojiData } = this;
      for (let key in emojiData) {
        result.push({text: key, icon: emojiData[key]});
      }
      return result;
    },
    // 输入区域控制
    inputDisabled() {
      // 监听对话 或者 对话结束
      const {chatFromUser, chatStsus} = this.rawChatInfo || {};
      return chatFromUser === "autoMonitor" || chatStsus === "end";
    },
    // 输入区域禁用状态
    disabledMsg() {
      return this.rawChatInfo?.chatStsus === "end" ?
        this.$ELCONFIG.chat.chatContent.sendAreaEndTips :
        this.$ELCONFIG.chat.chatContent.sendAreaMonitoringTips;
    }
  },
  mounted() {
    this.bindInputEvent(); // 绑定输入框事件

    this.loadEmoji(); // 加载emoji
  },
  methods: {
    // 加载emoji
    loadEmoji() {
      let emojiData, channelKey;
      if (window.$CONFIG.lang == "cn") {
        const { msgChannel } = this;
        const channelMap = {
          "baidu": "bd",
          "DouYin": "dy",
          "WeChatPublic": "wx",
          "origMiniApps": "wx",
          "EnterpriseWeChat": "wx"
        };
        channelKey = channelMap[msgChannel] || "yl";
        emojiData = require(`@/static/json/${channelKey}Emoji.json`);
        this.emojiImgs = [];
      } else if (window.$CONFIG.lang == "en") {
        channelKey = "yl";
        emojiData = require(`@/static/json/${channelKey}EmojiEn.json`);
      }
      this.emojiData = emojiData;
      this.channelKey = channelKey;
    },
    // 绑定输入框事件
    bindInputEvent() {
      this.$refs.inputArea.addEventListener("keydown", (evt) => {
        // 回车
        if(evt.keyCode === 13) {
          evt.preventDefault();
          this.sendText();
        }
      });

      // 清空粘贴消息样式
      this.$refs.inputArea.addEventListener("paste",(e)=> {
        e.stopPropagation();
        e.preventDefault();

        let text = "", event = e.originalEvent || e;
        if (event.clipboardData && event.clipboardData.getData) {
          text = event.clipboardData.getData("text/plain");
        } else if (window.clipboardData && window.clipboardData.getData) {
          text = window.clipboardData.getData("Text");
        }

        text = text.replace(/</g, "&lt;")
        .replace(/>/g, "&gt;")
        .replace(/&/g, "&amp;")
        .replace(/"/g, "&quot;")
        .replace(/'/g, "&apos;")
        .replaceAll(/\[[^\]]*\]/g, (e)=> {
          // 渠道 Emoji 处理
          const icon = this.emojiData[e];
          if(!icon) {
            return e;
          }
          const img = require(`@/static/img/emoji/${this.channelKey}/${icon}.png`);
          return `<img class="w-20 h-20 ml-2 mr-2" style="vertical-align: text-bottom;" src="${img}" title="${e}"/>`;
        });

        // 将范围对象转换成selection对象
        const selection = window.getSelection();
        if (selection && selection.rangeCount > 0) {
          const range = selection.getRangeAt(0);
            // 删除选中的文本内容
            if (!range.collapsed) {
                range.deleteContents();
            }
        }

        this.$refs.inputArea.innerHTML += text;

        // 光标放到最后
        const element = this.$refs.inputArea;
        const range = document.createRange();
        range.selectNodeContents(element);
        range.collapse(false); // false表示将光标放在结尾处
        selection.removeAllRanges();
        selection.addRange(range);

        this.inputInput();
      });
    },
    // 输入表情
    inputEmoji(item) {
      if(this.loading) {
        return;
      }
      const img = require(`@/static/img/emoji/${this.channelKey}/${item.icon}.png`);
      this.$refs.inputArea.innerHTML += `<img class="w-20 h-20 ml-2 mr-2" style="vertical-align: text-bottom;" src="${img}" title="${item.text}"/>`;
      this.inputInput();
    },
    // 字符串拼接，在指定位置
    strJoin(newStr, oldStr, index) {
      return oldStr.slice(0, index) + newStr + oldStr.slice(index, oldStr.length);
    },
    inputInput() {
      this.isSend = !!this.$refs.inputArea.innerHTML.trim();
    },
    // 输入区失焦 获取输入下标
    inputBlur() {
      // this.blurIndex = this.getCaretPosition(this.$refs.inputArea);
    },
    // 工具栏点击
    toolbarClick(item) {
      if(item.fun === "img") {
        // 图片
        this.$refs.ImgSelection.click();
      }
    },
    // 图片选中事件
    fileChange(evt) {
      if(!evt.target?.files?.[0]?.name) {
        return;
      }
      const filename = evt.target.files[0].name;
      if(![".jpg",".jpeg",".png"].includes(filename.slice(filename.lastIndexOf(".")))) {
        this.$message.info(this.$ELCONFIG.chat.chatContent.sendImageFormatTips);
        return;
      }
      this.sendImg(evt.target.files[0]);
      evt.target.value = null;
    },
    // 发送消息-图片
    async sendImg(file) {
      if(file.size > 1048576) {
        this.$message.info(this.$ELCONFIG.chat.chatContent.sendImageSizeTips);
        return;
      }
      const params = new FormData();
      params.append("file", file);
      let res;
      try {
        this.loading = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.clientPlatform.fileUpload, params);
        this.loading = false;
      } catch (error) {
        this.loading = false;
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }
      if(res?.data?.url) {
        this.sendUtil({ type: "RECORD_SCREENSHOTS", msg: res.data.url });
      } else {
        this.$message.error(this.$ELCONFIG.chat.chatContent.imageUploadError);
      }
    },
    clean() {
      this.$refs.inputArea.innerHTML = "";
    },
    setMsg(msg) {
      // 对话区域禁用无法发送消息
      if(this.inputDisabled) {
        return;
      }

      msg = msg.replace(/</g, "&lt;")
      .replace(/>/g, "&gt;")
      .replace(/&/g, "&amp;")
      .replace(/"/g, "&quot;")
      .replace(/'/g, "&apos;")
      .replaceAll(/\[[^\]]*\]/g, (e)=> {
        // 渠道 Emoji 处理
        const icon = this.emojiData[e];
        if(!icon) {
          return e;
        }
        const img = require(`@/static/img/emoji/${this.channelKey}/${icon}.png`);
        return `<img class="w-20 h-20 ml-2 mr-2" style="vertical-align: text-bottom;" src="${img}" title="${e}"/>`;
      });
      this.$refs.inputArea.innerHTML += msg;

      this.inputInput();
    },
    // 发送消息-文本
    sendText() {
      // 对话区域禁用无法发送消息
      if(this.inputDisabled) {
        return;
      }

      let msg = this.$refs.inputArea.innerHTML.replaceAll(/<img[^>]*>/g, (e) => e?.match(/\[[^\]]*\]/)?.[0] || "");
      if(!msg) {
        this.$message.info(this.$ELCONFIG.chat.chatContent.emptyMsgTips);
        return;
      }
      if(msg.length > 1000) {
        this.$message.info(this.$ELCONFIG.chat.chatContent.sendLongTips+msg.length);
        return;
      }
      const type = "RECORD_RECORD";

      this.sendUtil({ type, msg });
      this.$refs.inputArea.innerText = "";
      this.blurIndex = null;
    },
    // 发送工具
    async sendUtil({ type, msg }) {
      // 对话区域禁用无法发送消息
      if(this.inputDisabled) {
        return;
      }

      this.loading = true;
      window.EWebPlat.sendMessage({ msg, type }, () => {
        this.loading = false;
      });
    }
  }
};
</script>
<style lang='scss' scoped>
.content_bottom-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  &-mask {
    width: 100%;
    height: 100%;
    // background-color: #c7c7c785;
    position: absolute;
    color: #BBBBBB;
    cursor: no-drop;
    font-size: 12px;
  }
  .content_bottom-toolbar {
    padding: 10px;
    display: flex;
    color: #919BB0;
    .content_bottom-toolbar-item {
      font-size: 14px;
      cursor: pointer;
    }
    .content_bottom-toolbar-item + .content_bottom-toolbar-item {
      margin-left: 10px;
    }
  }
  .content_bottom-input {
    flex: 1;
    outline: none;
    padding: 0 10px;
    font-size: 12px;
    color: #333333;
    float: left;
    overflow: auto;
    overflow-wrap: anywhere;
    &:empty::before {
      content: attr(placeholder);
      color: #919BB0;
    }
  }
  .content_bottom-button {
    text-align: right;
  }
}

.cus-popover {
  .emoji-panel {
    width: 380px;
    height: 200px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .emoji-item {
    width: 35px;
    height: 35px;
    margin: 1px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: padding .3s;
    &:hover {
      padding: 3px;
      background-color: #f1f1f1;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
</style>