<!--
 * @Author: 段丽军
 * @Date: 2023-10-31 16:06:10
 * @LastEditTime: 2023-11-08 16:26:03
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /web-client/src/views/chat/chatContent/chatPanel/contentItem.vue
-->
<template>
  <div class="content_item" :class="{'content_item-right': isCoustomer }" @mouseenter="showTime = true" @mouseleave="showTime = false">
    <img class="content_item-img" :src="info.img"/>

    <div class="content_item-other">
      <div class="content_item-other-user">
        <span>{{info.userName}}</span>
        <span class="content_item-other-user-time" v-show="showTime">{{ chatTimeFormat(info.time) }}</span>
      </div>
      <div class="content_item-other-content">
        <component :is="componentComp" :info="info" :msgChannel="msgChannel" :chatList="chatList" @bottom="$emit('bottom')"></component>
      </div>
    </div>
  </div>
</template>

<script>
import TextMsg from "./msgType/textMsg.vue"; // 文本消息
import ImgMsg from "./msgType/imgMsg.vue"; // 图片消息
import NonSupportMsg from "./msgType/nonSupportMsg.vue"; // 不支持类型消息
import FormMsg from "./msgType/formMsg.vue"; // 表单类型消息
import CalendlyMsg from "./msgType/calendlyMsg.vue"; // calendly 三方约会消息
import VoiceMsg from "./msgType/voiceMsg";
import chatTimeFormat from "@/mixins/chatTimeFormat.js";
export default {
  mixins: [chatTimeFormat],
  components: {
    TextMsg,
    ImgMsg,
    FormMsg,
    CalendlyMsg,
    NonSupportMsg,
    VoiceMsg
  },
  props: {
    info: {
      type: Object,
      default: ()=> ({})
    },
    msgChannel: {
      type: String,
      default: ""
    },
    chatList: {
      type: Array,
      default: ()=> []
    }
  },
  data() {
    return {
      showTime: false
    };
  },
  computed: {
    // 是否为客服
    isCoustomer() {
      return this.info.senderType === "1";
    },
    componentComp() {
      return this.capitalizeFirstLetter(this.info.msgType)+"Msg";
    }
  },
  methods: {
    capitalizeFirstLetter(string) {
      if (typeof string !== "string") {
        return string; // 如果不是字符串，直接返回
      }
      return string.charAt(0).toUpperCase() + string.slice(1);
    }
  }
};
</script>

<style lang='scss' scoped>
.content_item {
  box-sizing: border-box;
  & + & {
    margin-top: 20px;
  }
  display: flex;

  &-img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 10px;
    background-color: #f1f1f1;
  }
  &-other {
    flex: 1;
    min-width: 0;
  }
  &-other-user {
    font-size: 12px;
    line-height: 17px;
    color: #999999;
    margin-bottom: 6px;
    display: flex;
    &-time {
      margin-left: 5px;
    }
  }
  &-other-content {
    display: inline-flex;
    border-radius: 5px;
    border-top-left-radius: 0px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    overflow: hidden;
    max-width: calc(100% - 42px);
  }

  &-right {
    flex-direction: row-reverse;
  }
  &-right &-img {
    margin-left: 10px;
    margin-right: 0;
  }
  &-right &-other {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &-right &-other-user {
    flex-direction: row-reverse;
    &-time {
      margin-left: 0;
      margin-right: 5px;
    }
  }
  &-right &-other-content {
    flex-direction: row-reverse;
    // background-color: #CCE0FF;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
  }
}
</style>