<!--
 * @Author: 段丽军
 * @Date: 2023-11-04 14:14:12
 * @LastEditTime: 2023-12-14 17:44:38
 * @LastEditors: 段丽军
 * @Description:
 * @FilePath: /hw-web-client-view/src/views/chat/chatContent/chatPanel/systemItem.vue
-->
<template>
  <div class="sys_item flex jc-center" v-show="isReallyShowComp">
    <div class="ptb-9 plr-13 sys_content" font="12">
      <div class="sys_icon w-16 h-16 mr-8 el-icon-message-solid"></div>
      <div style="flex: 1;">
        <span v-html="contentComp"></span>
        <span class="ml-10">{{chatTimeFormat(info.time)}}</span>
      </div>
      <el-button type="text" size="small" class="h-16 p-0 ml-5" v-if="isGroupFirstComp" @click="changeShow">
        <template v-if="!info.isShow">{{ $ELCONFIG.chat.chatContent.expandBtn }}<i class="el-icon-arrow-down"></i></template>
        <template v-else>{{ $ELCONFIG.chat.chatContent.collapseBtn }}<i class="el-icon-arrow-up"></i></template>
      </el-button>
    </div>
  </div>
</template>

<script>
import chatTimeFormat from "@/mixins/chatTimeFormat.js";
export default {
  mixins: [chatTimeFormat],
  props: {
    info: {
      type: Object,
      default: ()=> ({})
    },
    chatList: {
      type: Array,
      default: ()=> []
    },
    index: {
      type: Number,
      default: null
    }
  },
  data() {
    return {

    };
  },
  computed: {
    // 是否为系统消息组，第一条（即，多条系统消息同时出现的第一条）
    isGroupFirstComp() {
      const { chatList, index } = this;
      if(index > 0 && chatList[index-1].isSys) {
        // 不是第一条，且上一条是系统消息
        return false;
      }
      if(chatList.length-1 > index && !chatList[index+1].isSys) {
        // 下一条不是系统消息
        return false;
      }
      if(chatList.length-1 == index) {
        // 最后一条数据
        return false;
      }
      return true;
    },
    // 是否为系统消息组（即，多条系统消息同时出现）
    isGroupComp() {
      const { chatList, index } = this;
      if(index > 0 && chatList[index-1].isSys) {
        // 不是第一条，且上一条是系统消息
        return true;
      }
      if(chatList.length-1 > index && chatList[index+1].isSys) {
        // 下一条不是系统消息
        return true;
      }
      return false;
    },
    // 是否展示系统消息
    isReallyShowComp() {
      const { isGroupFirstComp, isGroupComp, info } = this;
      if(isGroupFirstComp || !isGroupComp) {
        return true;
      }
      return info.isShow === undefined ? false : info.isShow;
    },
    contentComp() {
      const { info: { msg } } = this;
      // 名片推送
      const pmsg = this.$ELCONFIG.chat.chatContent.leadNotificationResults;
      if (msg.includes(pmsg)) {
        try {
          const channelName = msg.slice(19, msg.indexOf(pmsg)-1);
          const dateTime = this.chatTimeFormat(msg.slice(0, 19));
          const pushResJson = JSON.parse(msg.slice(msg.indexOf(pmsg) + 7));
          return Number(pushResJson.errorCode) === 200 ?
            this.fotmatChannelTips(this.$ELCONFIG.chat.chatContent.leadNotificationSuccess, channelName) :
            this.fotmatChannelTips(this.$ELCONFIG.chat.chatContent.leadNotificationFailed, channelName) +
              `<span style="color:#5E92FA;cursor: pointer;" title="${pushResJson.errorMsg}">${this.$ELCONFIG.chat.chatContent.viewDetails}</span>`;
        } catch (error) {
          console.error("error:", error);
        }
      }
      return msg;
    }
  },
  methods: {
    fotmatChannelTips(text, channelName) {
      const arr = text.split("xxx");
      return arr[0] + channelName + arr[1];
    },
    changeShow() {
      const { chatList, index } = this;
      for (let i = index; i < chatList.length; i++) {
        const item = chatList[i];
        if(item.isSys) {
          this.$set(item, "isShow", item.isShow === undefined ? true : !item.isShow);
        } else {
          break;
        }
      }
    }
  }
};
</script>
<style lang='scss' scoped>
.sys_item {
  & + & {
    margin-top: 10px;
  }
  .sys_content {
    background-color: #F6F8FA;
    border-radius: 100px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #75787e;
    font-weight: 400;
    .sys_icon {
      min-width: 16px;
      background-color: #ABBCD7;
      border-radius: 8px;
      display: inline-block;
      text-align: center;
      line-height: 16px;
      color: white;
    }
  }
}
</style>