<!--
 * @Description: 监控者
 * @Author: 李大玄
 * @Date: 2023/12/1 6:16 PM
 * @FilePath: /hw-web-client-view/src/views/layoutComponent/itemCell.vue
 * @LastEditors: 段丽军
 * @LastEditTime: 2023-12-22 14:55:05
-->
<template>
  <!-- <div class="item-cell flex ai-center h-54" :class="{'pl-29': type==='default', 'pl-24': type==='selected'}" @click="$emit('click')"> -->
  <div class="item-cell flex ai-center h-54" :class="{'item-cell-default': type==='default', 'item-cell-selected': type==='selected'}" @click="$emit('click')">
    <div class="mr-8" style="position: relative;" v-if="type==='default'">
      <el-checkbox class="custom-checkbox" v-model="info.checked" @click.stop="mockClick"></el-checkbox>
      <div style="width: 16px; height: 16px; position: absolute; left: 0; top: 0; z-index: 1;"></div>
    </div>
    <div class="item-cell-img w-34 h-34 mr-10" :style="`background-image: url(${userImgComp}); ${info.status === 0 ? 'filter: grayscale(1);' : ''}`"></div>
    <div class="flex flex-column" style="flex: 1;">
      <div class="item-cell-name mb-4">{{ info.userName }}</div>
      <div class="item-cell-id flex ai-center">
        ID: {{ info.userId }}
        <el-popover placement="right-start" popper-class="custom-popover pl-20 pr-10 pt-20 pb-20" width="240"
          trigger="click" @show="userDetailClick">
          <div v-loading="loading.userDetail">
            <div class="flex ai-center mb-5 mt-12">
              <div class="item-cell-detail_item-img w-44 h-44 mr-10" :style="`background-image: url(${userImgComp}); ${info.status === 0 ? 'filter: grayscale(1);' : ''}`"></div>
              <div style="color: #333333; font-weight: 500; font-size: 18px;">{{ userDetailDataComp.userName }}</div>
            </div>
            <div class="item-cell-detail_item flex mt-18" v-for="item in attrList" :key="item.prop">
              <div :class="`item-cell-detail_item-icon mr-14 iconfont ${item.icon}`"></div>
              <div>
                <div class="item-cell-detail_item-label h-12">{{item.label}}</div>
                <div class="item-cell-detail_item-value h-12 mt-8">{{ userDetailDataComp[item.prop] }}</div>
              </div>
            </div>
          </div>
          <span slot="reference" class="item-cell-detail el-icon-user w-12 h-12 ml-4"></span>
        </el-popover>
      </div>
    </div>
    <div class="selected-custom-close el-icon-close pr-20" v-if="type==='selected'" style="cursor: pointer;" @click="$emit('removeItem', info.userId)"></div>
  </div>
</template>

<script>
import robotIcon from "@/static/img/chat/robotIcon.png";
import userIcon from "@/static/img/chat/userIcon.png";
export default {
  name: "itemCell", // Pascal命名
  props: {
    type: {
      default: "default"
    },
    info: {
      default: ()=> ({}),
      type: Object
    }
  },
  computed: {
    userDetailDataComp() {
      const { userDetailData } = this;
      if(!userDetailData) {
        return {};
      }
      return {
        userName: userDetailData?.userInfo?.userName || "-",
        deptName: userDetailData?.departmentInfo?.name || "-",
        agentId: userDetailData?.userInfo?.userId || "-",
        externalName: userDetailData?.userInfo?.pubName || "-",
        mobile: userDetailData?.userInfo?.phone || "-"
      };
    },
    userImgComp() {
      const { type } = this.info;
      return this[type === 1 ? "userIcon" : "robotIcon"];
    }
  },
  data() {
    return {
      robotIcon,
      userIcon,
      loading: {
        userDetail: false
      },
      userDetailData: null,
      attrList: [
        { label: "Department", prop: "deptName", icon: "icon-a-1111" },
        { label: "Agent ID", prop: "agentId", icon: "icon-a-AgentID" },
        { label: "External Name", prop: "externalName", icon: "icon-a-VectorStroke1" },
        { label: "Mobile", prop: "mobile", icon: "icon-a-VectorStroke" }
      ]
    };
  },
  methods: {
    async userDetailClick() {
      this.loadUserDetailByUserId(this.info.userId);
    },
    async loadUserDetailByUserId(userId) {
      let res;
      try {
        this.loading.userDetail = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.clientPlatform.userDetailByUserId, { userId });
        this.loading.userDetail = false;
      } catch (error) {
        console.error(error);
        this.loading.userDetail = false;
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.requestResponseTips);
        return;
      }

      this.userDetailData = res.data;
    }
  }
};
</script>
<style lang='scss' scoped>

::v-deep.custom-checkbox .el-checkbox__label {
  display: none;
}
.selected-custom-close {
  display: none;
}
.item-cell {
  &:hover {
    background: #EDEEF1;
  }
  &-default {
    padding-left: 29px;
    cursor: pointer;
  }
  &-selected {
    padding-left: 24px;
  }
  &-selected:hover .selected-custom-close{
    display: block;
  }
  &-img {
    border-radius: 17px;
    background-size: 100%;
  }
  &-name {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
  &-id {
    color: #999;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
  &-detail {
    display: none;
    background-color: #c2c3c4;
    border-radius: 2px;
    color: #FFFFFF;
    text-align: center;
    line-height: 12px;
  }
  &:hover .item-cell-detail {
    display: inline-block;
  }
}
.custom-popover {
  padding: 20px;
  .item-cell-detail_item {
    color: #999999;
    &-img {
      background-size: 100%;
      border-radius: 22px;
      min-width: 44px;
    }
    &-icon {
      font-size: 16px;
      line-height: 16px;
    }
    &-label {
      min-height: 12px;
      line-height: 12px;
      font-size: 12px;
      font-weight: 400;
    }
    &-value {
      color: #333333;
      min-height: 12px;
      line-height: 12px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

::v-deep.custom-checkbox .el-checkbox__label {
  display: none;
}
</style>