<template>
  <div class="">
    <el-dialog :title="$ELCONFIG.messageNotification.text" width="580px" class="bind-phone message-remind" :visible.sync="messageRemindVisible">
      <el-form :model="messageRemindForm" label-width="140px" ref="ruleForm" label-position="top">
        <el-form-item :label="`${$ELCONFIG.messageNotification.soundNotification}`">
          <div>
            <el-checkbox v-model="messageRemindForm[0].isEnable" true-label="1" false-label="0">
              {{ $ELCONFIG.messageNotification.youConversation }}
            </el-checkbox>
            <el-checkbox v-model="messageRemindForm[1].isEnable" true-label="1" false-label="0">
              {{ $ELCONFIG.messageNotification.youMessage }}
            </el-checkbox>
            <el-checkbox v-model="messageRemindForm[2].isEnable" true-label="1" false-label="0">
              {{ $ELCONFIG.messageNotification.colleagueConversation }}
            </el-checkbox>
            <el-checkbox v-model="messageRemindForm[3].isEnable" true-label="1" false-label="0">
              {{ $ELCONFIG.messageNotification.colleagueMessage }}
            </el-checkbox>
          </div>
        </el-form-item>
        <el-form-item :label="`${$ELCONFIG.messageNotification.bubbleNotification}`">
          <div>
            <el-checkbox v-model="messageRemindForm[0].isBubbleTip" true-label="1" false-label="0">
              {{ $ELCONFIG.messageNotification.youConversation }}
            </el-checkbox>
            <el-checkbox v-model="messageRemindForm[1].isBubbleTip" true-label="1" false-label="0">
              {{ $ELCONFIG.messageNotification.youMessage }}
            </el-checkbox>
            <el-checkbox v-model="messageRemindForm[2].isBubbleTip" true-label="1" false-label="0">
              {{ $ELCONFIG.messageNotification.colleagueConversation }}
            </el-checkbox>
            <el-checkbox v-model="messageRemindForm[3].isBubbleTip" true-label="1" false-label="0">
              {{ $ELCONFIG.messageNotification.colleagueMessage }}
            </el-checkbox>
          </div>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <!--        <el-button @click="messageRemindcancelBtn" size="small">{{ $ELCONFIG.cancelText }}</el-button>-->
        <el-button type="primary" @click="submitRemindForm" round size="small">{{ $ELCONFIG.ConfirmText }}</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>

import {LocalStorageManager} from '@/utils/storageManager'

export default {
  name: '', // Pascal命名
  mixins: [],
  components: {},
  props: {},
  computed: {},
  data() {
    return {
      messageRemindVisible: false,
      messageRemindForm: [
        {"isBubbleTip": "0", "isEnable": "1", "type": "creatchat"}, // 创建对话
        {"isBubbleTip": "0", "isEnable": "1", "type": "receiveMessage"}, // 新消息
        {"isBubbleTip": "0", "isEnable": "1", "type": "creatFriendChat"}, // 创建监控者对话
        {"isBubbleTip": "0", "isEnable": "1", "type": "receiveFriendMessage"} // 监控者新消息
      ]
    };
  },
  watch: {
    // temObj: {
    //   handler(newVal, oldVal) {},
    //   deep: true, // 深度
    //   immediate: true, // 立即执行
    // },
  },
  beforeCreate() {
  },
  created() {

  },
  beforeMount() {
  },
  mounted() {
  },
  methods: {
    async open() {
      this.messageRemindVisible = true;
      const res = await EWebPlat.platService(webClientApiMap.clientWebcall.userSettinGet);
      if (res.code) {
        this.$message.error(res.msg);
        return;
      }
      const data = res.data.systemTip || [
        {"isBubbleTip": "0", "isEnable": "1", "type": "creatchat"}, // 创建对话
        {"isBubbleTip": "0", "isEnable": "1", "type": "receiveMessage"}, // 新消息
        {"isBubbleTip": "0", "isEnable": "1", "type": "creatFriendChat"}, // 创建监控者对话
        {"isBubbleTip": "0", "isEnable": "1", "type": "receiveFriendMessage"} // 监控者新消息
      ];
      this.messageRemindForm = data;
      LocalStorageManager.set(LocalStorageManager.messageRemindConfig, data);
    },
    messageRemindcancelBtn() {
      const {messageRemindForm} = this.$options.data();
      this.messageRemindForm = messageRemindForm;
      this.messageRemindVisible = false;
    },
    // 消息提醒提交
    async submitRemindForm() {
      const res = await window.EWebPlat.platService(window.webClientApiMap.clientWebcall.userSettinSave,{
        systemTip: this.messageRemindForm
      });
      if (res.code) {
        this.$message.error(res.msg);
        return;
      }
      this.$message.success(ELCONFIG.operationCompleted);
      LocalStorageManager.set(LocalStorageManager.messageRemindConfig, this.messageRemindForm);
      this.messageRemindVisible = false;
    },
  },
  beforeUpdate() {
  }, //生命周期 - 更新之前
  updated() {
  }, //生命周期 - 更新之后
  beforeDestroy() {
  }, //生命周期 - 销毁之前
  destroyed() {
  }, //生命周期 - 销毁完成
  activated() {
  }, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang='scss' scoped>
//@import url(); 引入公共css类
.message-remind {
  ::v-deep .el-dialog {
    border-radius: 8px;
  }

  ::v-deep .el-dialog__header {
    border-bottom: none;
  }

  ::v-deep .el-dialog__body {
    padding-top: 10px;
    padding-bottom: 0;
  }

  .el-checkbox {
    width: 240px;
  }

  ::v-deep .el-form--label-top .el-form-item__label {
    padding: 0;
    font-weight: bold;
  }

  ::v-deep .el-form-item {
    margin-bottom: 0;
  }
}
</style>