<!--
 * @Description: 监控者
 * @Author: 李大玄
 * @Date: 2023/12/1 6:16 PM
 * @FilePath: /hw-web-client-view/src/views/layoutComponent/monitorDialogue.vue
 * @LastEditors: 段丽军
 * @LastEditTime: 2023-12-21 19:54:41
-->
<template>
  <el-dialog width="738px" class="bind-phone message-remind" :visible.sync="visible" :before-close="close">

    <template #title>
      {{ $ELCONFIG.monitorDialogue.title }}
      <div class="iconfont icon-close custom-close" font="24" @click="close"></div>
    </template>

    <div class="flex content">
      <!-- 左侧待选区 -->
      <div class="content-left flex flex-column">

        <div class="pl-29">
          <el-input class="mb-20 w-272" v-model="searchValue" @input="searchInput" @keyup.enter.native="searchEnter" size="small" prefix-icon="el-icon-search" clearable placeholder="Search"></el-input>

          <el-breadcrumb separator="/" class="mb-24" style="line-height: 13px;" v-show="!searchValue">
            <el-breadcrumb-item v-for="(item, index) in breadcrumbList" :key="item.id">
              <span class="breadcrumb-click" v-if="index < breadcrumbList.length -1" @click="changeDeptLevel(index)">{{ item.label }}</span>
              <span class="breadcrumb-not-click" v-else>{{ item.label }}</span>
            </el-breadcrumb-item>
          </el-breadcrumb>
        </div>

        <div ref="deptAndUserBox" :style="`flex: 1; overflow: ${loading.deptTree || loading.userList ? 'hidden' : 'auto'};`" v-loading="loading.deptTree || loading.userList">
          <div class="item-group flex pl-29 h-36" v-for="item in deptListByPidComp" :key="'dept-'+item.id" @click="deptItemClick(item)" v-show="!searchValue">
            <div style="flex: 1;">{{ item.name }} ({{ item.totalUser }})</div>
            <div class="item-group-icon w-20 mr-16"><i class="el-icon-arrow-right"></i></div>
          </div>
          <ItemCell v-for="item in userListDataComp" :key="'user-'+item.userId" :info="item" @click="userItemClick(item)"></ItemCell>
          <div class="flex jc-center" v-if="!searchTimer && !loading.userList && userListDataComp.length === 0 && searchValue">{{ $ELCONFIG.monitorDialogue.notData }}</div>
        </div>

        <div class="pl-29 pb-32 pt-29">
          <el-checkbox class="custom-checkbox mr-6" :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange"></el-checkbox>
          {{ $ELCONFIG.monitorDialogue.selectAll }}
        </div>

      </div>

      <!-- 右侧已选区 -->
      <div class="content-right flex flex-column">
        <div class="pl-24 mb-14">{{ $ELCONFIG.monitorDialogue.selected }} ({{checkUserList.length}}/{{checkMax}})</div>

        <div class="content-right-center" v-loading="loading.checkUserList">
          <ItemCell type="selected" :info="item" v-for="item in checkUserList" :key="item.userId" @removeItem="removeUserItem"></ItemCell>

          <div class="content-right-center-not-data flex flex-column ai-center jc-center" v-show="!checkUserList || checkUserList.length === 0">
            <div class="content-right-center-not-data-icon w-60 h-60 iconfont icon-a-111"></div>
            <div class="content-right-center-not-data-text mt-20">{{ $ELCONFIG.monitorDialogue.notSelectPlaceholder }}</div>
          </div>
        </div>

        <div class="pr-31 pb-32 pt-15" style="text-align: right;">
          <e-button-n size="small" @click="close" class="w-72" round>{{ $ELCONFIG.monitorDialogue.btnCancel }}</e-button-n>
          <e-button-n size="small" type="primary" style="min-width: 72px;" @click="submit" round :disabled="!isOper" :loading="loading.save">
            {{ $ELCONFIG.monitorDialogue.btnSave }}
          </e-button-n>
        </div>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import ItemCell from "./itemCell.vue";
export default {
  components: {
    ItemCell
  },
  computed: {
    // 部门列表-格式化（根据选中层级加载下一级部门数据）
    deptListByPidComp() {
      return this.formatDeptListByPid(this.deptTreeData, this.breadcrumbList[this.breadcrumbList.length-1].id);
    },
    // 用户列表-格式化（已经选中的是数据，设置为选中状态）
    userListDataComp() {
      return this.userListData.map(item => ({ ...item, checked: this.checkUserList.some(itemS => itemS.userId === item.userId) }));
    }
  },
  data() {
    return {
      visible: false, // 窗口展示控制
      isOper: false, //
      // 加载中
      loading: {
        deptTree: false, // 部门树
        userList: false, // 用户列表
        checkUserList: false, // 选中用户列表
        save: false //
      },
      deptTreeData: [], // 部门树-数据
      userListData: [], // 用户列表-数据
      // 部门面包屑集合
      breadcrumbList: [
        {label: "Company Name", id: 0}
      ],
      searchValue: null, // 搜索关键字
      searchTimer: null,
      checkUserList: [], // 选中数据
      checkMax: 10, // 选中最大值
      checkAll: false, // 全选状态
      isIndeterminate: false // 部分选择状态
    };
  },
  watch: {
    userListData: {
      handler() {
        this.checkAllUtil();
      },
      immediate: true
    },
    checkUserList: {
      handler() {
        this.checkAllUtil();
      },
      immediate: true
    }
  },
  methods: {
    // 打开窗口
    async open() {
      this.visible = true;
      await this.loadDeptTree(); // 加载部门树
      await this.loadFriendUserList(); // 加载已经监听用户列表
      this.isOper = true;
    },
    // 加载部门树
    async loadDeptTree() {
      let res;
      try {
        this.loading.deptTree = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.clientPlatform.deptTree, { pid: 0, filterCurrentUser: 1 });
        this.loading.deptTree = false;
      } catch (error) {
        console.error(error);
        this.loading.deptTree = false;
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.requestResponseTips);
        return;
      }

      this.deptTreeData = res.data || [];
    },
    // 格式化部门集合（根据制定部门Id获取子级部门）
    formatDeptListByPid(deptTree, pid) {
      if(pid === 0) {
        return deptTree.map(item=> ({ ...item, children: null}));
      }
      for (let i = 0; i < deptTree.length;i++) {
        const item = deptTree[i];
        if(item.id === pid) {
          return (item.children || []).map(item=> ({ ...item, children: null}));
        } else if(item.children && item.children.length > 0) {
          const childrenList = this.formatDeptListByPid(item.children, pid);
          if(childrenList && childrenList.length > 0) {
            return childrenList;
          }
        }
      }
      return [];
    },
    searchInput() {
      if(this.searchTimer){
        window.clearTimeout(this.searchTimer);
      }
      this.searchTimer = window.setTimeout(()=> {
        this.loadUserListByDeptId();
        this.searchTimer = null;
      }, 500);
    },
    searchEnter() {
      if(this.searchTimer){
        window.clearTimeout(this.searchTimer);
      }
      this.loadUserListByDeptId();
    },
    // 加载用户列表（根据部门ID）
    async loadUserListByDeptId() {
      this.userListData = [];
      const params = {
        deptId: this.searchValue ? "" : this.breadcrumbList[this.breadcrumbList.length-1].id,
        keyword: this.searchValue
      };
      let res;
      try {
        this.loading.userList = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.clientPlatform.userListByDeptId, params);
        this.loading.userList = false;
      } catch (error) {
        console.error(error);
        this.loading.userList = false;
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.requestResponseTips);
        return;
      }

      this.userListData = res.data || [];
    },
    // 加载已经监听用户列表
    async loadFriendUserList() {
      let res;
      try {
        this.loading.checkUserList = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.clientPlatform.chatFriendList);
        this.loading.checkUserList = false;
      } catch (error) {
        console.error(error);
        this.loading.checkUserList = false;
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.requestResponseTips);
        return;
      }

      this.checkUserList = res.data || [];
    },
    // 切换部门层级（面包屑点击操作）
    async changeDeptLevel(index) {
      this.breadcrumbList.splice(index+1, this.breadcrumbList.length);
      this.$refs.deptAndUserBox.scrollTop = 0;
      await this.loadUserListByDeptId();
    },
    // 分组项点击
    async deptItemClick(item) {
      this.breadcrumbList.push({ label: item.name+`（${item.totalUser}）`, id: item.id });
      await this.loadUserListByDeptId();
    },
    // 用户项点击
    userItemClick(item) {
      const index = this.checkUserList.findIndex(itemF => itemF.userId === item.userId);
      if(index > -1) {
        this.checkUserList.splice(index, 1);
      } else {
        if(this.checkUserList.length >= this.checkMax) {
          this.$message.info(this.$ELCONFIG.monitorDialogue.maxCountTips + this.checkMax);
          this.checkAllUtil();
          return;
        }
        this.checkUserList.push(item);
      }
    },
    // 全选点击
    handleCheckAllChange(val) {
      if(!val) {
        this.checkUserList = this.checkUserList.filter(itemF => !this.userListDataComp.some(itemS => itemS.userId === itemF.userId));
      } else {
        const newData = this.userListDataComp.filter(itemF => !this.checkUserList.some(itemS => itemS.userId === itemF.userId));
        if(this.checkUserList.length + newData.length > this.checkMax) {
          this.$message.info(this.$ELCONFIG.monitorDialogue.maxCountTips + this.checkMax);
          this.checkAllUtil();
          return;
        }
        this.checkUserList.push(...newData);
      }
    },
    // 全选显示逻辑处理
    checkAllUtil() {
      const listCount = this.userListDataComp.length;
      const checkedCount = this.checkUserList.filter(itemF => this.userListDataComp.some(itemS => itemS.userId === itemF.userId)).length;
      this.checkAll = checkedCount === listCount;
      this.isIndeterminate = checkedCount > 0 && checkedCount < listCount;
    },
    removeUserItem(userId) {
      const index = this.checkUserList.findIndex(item => item.userId === userId);
      if(index === -1) {
        return;
      }
      this.checkUserList.splice(index, 1);
    },
    // 提交
    async submit() {
      const params = {
        friends: this.checkUserList.map(item => item.userId)
      };
      let res;
      try {
        this.loading.save = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.clientPlatform.chatFriendAdd, params);
        this.loading.save = false;
      } catch (error) {
        console.error(error);
        this.loading.save = false;
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.requestResponseTips);
        return;
      }

      this.$message.success(this.$ELCONFIG.operSuccess);
      if (window.chatListShowFriends) {
        window.chatListShowFriends(params.friends);
      }
      this.close();
    },
    close() {
      // 重置数据
      this.visible = false, // 窗口展示控制
      this.isOper = false;
      // 加载中
      this.loading = {
        deptTree: false, // 部门树
        userList: false, // 用户列表
        checkUserList: false // 选中用户列表
      };
      this.deptTreeData = []; // 部门树-数据
      this.userListData = []; // 用户列表-数据
      // 部门面包屑集合
      this.breadcrumbList = [
        {label: "Company Name", id: 0}
      ];
      this.searchValue = null; // 搜索关键字
      this.searchTimer = null;
      this.checkUserList = []; // 选中数据
      this.checkMax = 10; // 选中最大值
      this.checkAll = false; // 全选状态
      this.isIndeterminate = false; // 部分选择状态
    }
  }
};
</script>
<style lang='scss' scoped>
//@import url(); 引入公共css类
.message-remind  {
  ::v-deep .el-dialog {
    border-radius: 8px;
    .el-dialog__header {
      border-bottom: none;
      padding: 31px 29px 32px;
      font-weight: 700;
      color: #333;
      .el-dialog__headerbtn {
        top: 32px;
        right: 27px;
        display: none;
      }
      .custom-close {
        cursor: pointer;
        display: inline-block;
        position: absolute;
        right: 27px;
        color: #7E84A3E5;
        &:hover {
          color: var(--layoutMain-6359CA) ;
        }
      }
    }
    .el-dialog__body {
      padding: 0;
    }
  }

  // ::v-deep .el-dialog__header {
  //   border-bottom: none;
  // }
  // ::v-deep .el-dialog__body {
  //   padding: 0;
  //   padding-top: 10px;
  // }
  ::v-deep .el-input input {
    border-radius: 16px;
  }

  ::v-deep .custom-checkbox .el-checkbox__label {
    display: none;
  }

  ::v-deep .e-button-n {
    border-radius: 16px;
  }

  .content {
    width: 100%;
    height: 473px;
    &-left {
      flex: 1;
      border-right: 1px solid #E0E4EA;
      .breadcrumb-click {
        cursor: pointer;
        font-weight: 400;
      }
      .breadcrumb-not-click {
        font-weight: 500;
      }
      .item-group {
        color: #333;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        cursor: pointer;
        &:hover {
          background: #EDEEF1;
        }
        &-icon {
          text-align: center;
        }
      }
    }
    &-right {
      width: 308px;
      &-center {
        flex: 1;
        overflow: auto;
        &-not-data {
          width: 100%;
          height: 100%;
          &-icon {
            border-radius: 40px;
            background: rgba(51, 138, 255, 0.40);
            line-height: 60px;
            text-align: center;
            font-size: 29px;
            color: #ffffff;
          }
          &-text {
            color: #909399;
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 12px;
          }
        }
      }
    }

    .item-cell {
      cursor: pointer;
      &:hover {
        background: #EDEEF1;
      }
      &-img {
        border-radius: 17px;
        background-color: #c2c3c4;
      }
      &-name {
        color: #333;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
      }
      &-id {
        color: #999;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
      }
      &-detail {
        display: none;
        background-color: #c2c3c4;
        border-radius: 2px;
        color: #FFFFFF;
        text-align: center;
        line-height: 12px;
      }
      &:hover .item-cell-detail {
        display: inline-block;
      }
    }
  }
}
</style>

<style lang='scss'>
  .custom-popover {
    border-color: white;
    .popper__arrow {
      display: none;
    }
  }
</style>