<template>
  <div class="billing" v-loading="loading.status || loading.bill || loading.prod">
    <!-- 购买了坐席，但没有购买AI，显示购买AI横幅 -->
    <div v-if="userStatus && !aiStatus" class="ai-bar ptb-14 plr-24 flex ai-center" style="background-color: #E4E8FD;">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="28" viewBox="0 0 30 28" fill="none" class="mr-8">
        <path d="M18.7585 2.81836L22.1203 11.1033L29.5639 14.8452L22.1203 18.5871L18.7585 26.8721L15.3967 18.5871L7.95312 14.8452L15.3967 11.1033L18.7585 2.81836Z" fill="url(#paint0_linear_822849_1173)"/>
        <path d="M5.26174 0L6.89882 4.07776L10.5235 5.91946L6.89882 7.76117L5.26174 11.8389L3.62467 7.76117L0 5.91946L3.62467 4.07776L5.26174 0Z" fill="url(#paint1_linear_822849_1173)"/>
        <path d="M5.45022 16.1602L7.08729 20.2379L10.712 22.0796L7.08729 23.9213L5.45022 27.9991L3.81315 23.9213L0.188477 22.0796L3.81315 20.2379L5.45022 16.1602Z" fill="url(#paint2_linear_822849_1173)"/>
        <defs>
          <linearGradient id="paint0_linear_822849_1173" x1="18.7585" y1="2.81836" x2="19" y2="31" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FFD700"/>
            <stop offset="1" stop-color="#FFB546"/>
          </linearGradient>
          <linearGradient id="paint1_linear_822849_1173" x1="5.26174" y1="0" x2="5.38189" y2="13.8706" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FFD700"/>
            <stop offset="1" stop-color="#FFB546"/>
          </linearGradient>
          <linearGradient id="paint2_linear_822849_1173" x1="5.45022" y1="16.1602" x2="5.57036" y2="30.0308" gradientUnits="userSpaceOnUse">
            <stop stop-color="#FFD700"/>
            <stop offset="1" stop-color="#FFB546"/>
          </linearGradient>
        </defs>
      </svg>
      AI chat
      <el-button class="ml-20 buy-chat-btn" size="small" @click="buyAiChat" :disabled="!compnayInfo.admin || billpaying === 'ai'">
        <template v-if="billpaying === 'ai'">In progress...</template>
        <template v-else>Buy now!</template>
      </el-button>
    </div>

    <!-- 标题 -->
    <titleComp title="Billing"></titleComp>

    <!-- 坐席和AI 都没有购买 -->
    <div v-if="!userStatus && isLoad" class='flex flex-column ai-center jc-center' style="width: 100%; height: 100%;">

      <!-- 小标题 -->
      <div class="flex ai-center mb-32">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
          <path d="M3.7168 29.8584C3.7168 33.3272 4.40004 36.7621 5.72752 39.9669C7.055 43.1718 9.00071 46.0837 11.4536 48.5366C13.9064 50.9894 16.8184 52.9352 20.0232 54.2626C23.228 55.5901 26.6629 56.2734 30.1318 56.2734C33.6007 56.2734 37.0356 55.5901 40.2404 54.2626C43.4452 52.9352 46.3572 50.9894 48.81 48.5366C51.2629 46.0837 53.2086 43.1718 54.5361 39.9669C55.8636 36.7621 56.5468 33.3272 56.5468 29.8584C56.5468 22.8527 53.7638 16.1339 48.81 11.1801C43.8563 6.22636 37.1375 3.44336 30.1318 3.44336C23.1261 3.44336 16.4073 6.22636 11.4536 11.1801C6.4998 16.1339 3.7168 22.8527 3.7168 29.8584Z" fill="#338AFF" fill-opacity="0.1"/>
          <path d="M40.479 13.6582H20.154C17.685 13.6582 15.687 15.6592 15.687 18.1252V43.5712C15.687 45.8362 18.162 47.2312 20.1 46.0612L29.853 40.1752C30.036 40.0642 30.264 40.0642 30.447 40.1722L40.56 46.1392C42.501 47.2822 44.949 45.8842 44.949 43.6342V18.1252C44.946 15.6592 42.945 13.6582 40.479 13.6582ZM35.373 29.2942H32.097V32.5702C32.097 33.0428 31.9093 33.4961 31.5751 33.8303C31.2409 34.1645 30.7876 34.3522 30.315 34.3522C29.8424 34.3522 29.3891 34.1645 29.0549 33.8303C28.7208 33.4961 28.533 33.0428 28.533 32.5702V29.2942H25.257C24.7844 29.2942 24.3311 29.1065 23.9969 28.7723C23.6628 28.4381 23.475 27.9848 23.475 27.5122C23.475 27.0396 23.6628 26.5863 23.9969 26.2521C24.3311 25.9179 24.7844 25.7302 25.257 25.7302H28.533V22.4542C28.533 21.9816 28.7208 21.5283 29.0549 21.1941C29.3891 20.8599 29.8424 20.6722 30.315 20.6722C30.7876 20.6722 31.2409 20.8599 31.5751 21.1941C31.9093 21.5283 32.097 21.9816 32.097 22.4542V25.7302H35.373C35.8456 25.7302 36.2989 25.9179 36.6331 26.2521C36.9673 26.5863 37.155 27.0396 37.155 27.5122C37.155 27.9848 36.9673 28.4381 36.6331 28.7723C36.2989 29.1065 35.8456 29.2942 35.373 29.2942Z" fill="#338AFF"/>
          <path d="M44.946 18.1252C44.946 15.6562 42.945 13.6582 40.479 13.6582H20.154C17.688 13.6582 15.687 15.6592 15.687 18.1252V43.1632C17.8489 43.7386 20.0768 44.0291 22.314 44.0272C22.716 44.0272 23.118 44.0152 23.517 43.9972L29.853 40.1722C30.036 40.0612 30.264 40.0612 30.447 40.1692L33.027 41.6902C38.115 39.3532 42.309 35.3992 44.949 30.4882V18.1252H44.946ZM35.373 29.2942H32.097V32.5702C32.097 33.0428 31.9093 33.4961 31.5751 33.8303C31.2409 34.1645 30.7876 34.3522 30.315 34.3522C29.8424 34.3522 29.3891 34.1645 29.0549 33.8303C28.7208 33.4961 28.533 33.0428 28.533 32.5702V29.2942H25.257C24.7844 29.2942 24.3311 29.1065 23.9969 28.7723C23.6628 28.4381 23.475 27.9848 23.475 27.5122C23.475 27.0396 23.6628 26.5863 23.9969 26.2521C24.3311 25.9179 24.7844 25.7302 25.257 25.7302H28.533V22.4542C28.533 21.9816 28.7208 21.5283 29.0549 21.1941C29.3891 20.8599 29.8424 20.6722 30.315 20.6722C30.7876 20.6722 31.2409 20.8599 31.5751 21.1941C31.9093 21.5283 32.097 21.9816 32.097 22.4542V25.7302H35.373C35.8456 25.7302 36.2989 25.9179 36.6331 26.2521C36.9673 26.5863 37.155 27.0396 37.155 27.5122C37.155 27.9848 36.9673 28.4381 36.6331 28.7723C36.2989 29.1065 35.8456 29.2942 35.373 29.2942Z" fill="#69A6F7"/>
          <path d="M40.479 13.6582H20.154C17.688 13.6582 15.687 15.6592 15.687 18.1252V34.9042C20.385 34.8322 24.774 33.5032 28.536 31.2322V29.2912H25.257C24.7844 29.2912 24.3311 29.1035 23.9969 28.7693C23.6628 28.4351 23.475 27.9818 23.475 27.5092C23.475 27.0366 23.6628 26.5833 23.9969 26.2491C24.3311 25.9149 24.7844 25.7272 25.257 25.7272H28.533V22.4542C28.533 21.9816 28.7208 21.5283 29.0549 21.1941C29.3891 20.8599 29.8424 20.6722 30.315 20.6722C30.7876 20.6722 31.2409 20.8599 31.5751 21.1941C31.9093 21.5283 32.097 21.9816 32.097 22.4542V25.7302H34.965C37.809 22.3402 39.795 18.2092 40.587 13.6642C40.551 13.6642 40.515 13.6582 40.479 13.6582Z" fill="#8BB7F2"/>
          <path d="M30.666 13.6582H20.154C17.688 13.6582 15.687 15.6592 15.687 18.1252V24.8932C21.978 23.1532 27.303 19.0792 30.666 13.6582Z" fill="#B9D2F4"/>
        </svg>
        <div class="ml-16" style="color: #101828; font-size: 30px; font-weight: 700; line-height: 38px;">let's get started!</div>
      </div>

      <!-- 产品信息展示 -->
      <div class="w-504 -h-362 p-40 card-item">
        <div class="item-top flex ai-end">
          <div class="item-price">{{ itemInfo.price }}</div>
          <div class="item-sku ml-8 mb-3">{{ itemInfo.sku }}</div>
        </div>
        <div class="item-desc mt-20">{{ itemInfo.desc }}</div>
        <div class="item-sub mt-40 ptb-24 flex ai-center">
          <div class="flex-1">
            <div class="item-sub-title">{{itemInfo.subInfo.title}}</div>
            <div class="item-sub-desc mt-4">{{itemInfo.subInfo.desc}}</div>
          </div>
          <el-checkbox v-model="itemInfo.subInfo.value"></el-checkbox>
        </div>
        <el-button size="default" type="primary" style="width: 100%;" @click="submit" :disabled="!compnayInfo.admin || billpaying === 'seat'">
          <template v-if="billpaying === 'seat'">In progress...</template>
          <template v-else>Subscribe Now</template>
        </el-button>
      </div>

      <!-- 未选中 AI ，提示框 -->
      <Tip ref="tipRef" @success="tipCallback"></Tip>

      <!-- 选择团队成员 -->
      <Team ref="teamRef" @success="teamCallback"></Team>
    </div>

    <!-- 至少都购买了，坐席 -->
    <div class="detail plr-20" v-else-if="isLoad">
      <div class="detail-sub-title ptb-16">Billing Information</div>
      <div class="flex ai-center ptb-14 detail-info">
        <svg class="mr-28" xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14" fill="none">
          <path d="M2.5 2.5L8.43082 6.60592C8.77323 6.843 9.22673 6.843 9.56923 6.60592L15.5 2.5M3 13H15C16.1046 13 17 12.1046 17 11V3C17 1.89543 16.1046 1 15 1H3C1.89543 1 1 1.89543 1 3.00001V11C1 12.1046 1.89543 13 3 13Z" stroke="#666666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <div>{{ billDetail.mail }}</div>
      </div>

      <div class="mt-28 detail-sub-title ptb-16">Billing Record</div>
      <div class="detail-table">
        <div class="flex" v-for="(item, index) in billDetail.billRecordList" :key="index">
          <div class="pr-30 ptb-14 w-180">{{item.paidAt}}</div>
          <!-- <div class="pr-30 ptb-14 w-103">{{item.paidAt}}</div> -->
          <div class="plr-30 ptb-14 w-121">{{item.billAmount}}</div>
          <div class="plr-30 ptb-14 w-100">
            <div class="ptb-2 plr-8 pay-status">{{item.payStatus}}</div>
          </div>
          <div class="plr-30 ptb-14 w-280">{{item.productName}}</div>
        </div>
      </div>

      <div class="mt-32">
        <el-button type="text" v-if="billDetail.billUrl" @click="jumpUrl(billDetail.billUrl)">
          More Details
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14" fill="none" class="ml-4">
            <path d="M6.53893 1.00126C6.77494 0.983279 6.98082 1.16029 6.99878 1.39662C7.01673 1.63295 6.83996 1.83911 6.60395 1.85709C3.9489 2.05933 1.85714 4.2812 1.85714 6.99188C1.85714 9.83605 4.15968 12.1417 7.00001 12.1417C9.70703 12.1417 11.9259 10.0471 12.1279 7.38848C12.1458 7.15215 12.3517 6.97514 12.5877 6.99312C12.8237 7.01109 13.0005 7.21725 12.9825 7.45358C12.7468 10.5563 10.1586 13 7.00001 13C3.6863 13 1 10.3101 1 6.99188C1 3.82899 3.44044 1.23728 6.53893 1.00126Z" fill="#338AFF"/>
            <path d="M7.77468 6.84463C7.60731 7.01222 7.33596 7.01222 7.16859 6.84463C7.00122 6.67704 7.00122 6.40531 7.16859 6.23772L11.5368 1.86364L9.16442 1.86364C8.92773 1.86364 8.73585 1.67151 8.73585 1.43449C8.73585 1.19748 8.92773 1.00534 9.16442 1.00534L12.5714 1.00534C12.8081 1.00534 13 1.19748 13 1.43449V4.84614C13 5.08315 12.8081 5.27529 12.5714 5.27529C12.3347 5.27529 12.1429 5.08315 12.1429 4.84614L12.1429 2.47055L7.77468 6.84463Z" fill="#338AFF"/>
            <path d="M6.53893 1.00126C6.77494 0.983279 6.98082 1.16029 6.99878 1.39662C7.01673 1.63295 6.83996 1.83911 6.60395 1.85709C3.9489 2.05933 1.85714 4.2812 1.85714 6.99188C1.85714 9.83605 4.15968 12.1417 7.00001 12.1417C9.70703 12.1417 11.9259 10.0471 12.1279 7.38848C12.1458 7.15215 12.3517 6.97514 12.5877 6.99312C12.8237 7.01109 13.0005 7.21725 12.9825 7.45358C12.7468 10.5563 10.1586 13 7.00001 13C3.6863 13 1 10.3101 1 6.99188C1 3.82899 3.44044 1.23728 6.53893 1.00126Z" stroke="#338AFF" stroke-width="0.5" stroke-linecap="round"/>
            <path d="M7.77468 6.84463C7.60731 7.01222 7.33596 7.01222 7.16859 6.84463C7.00122 6.67704 7.00122 6.40531 7.16859 6.23772L11.5368 1.86364L9.16442 1.86364C8.92773 1.86364 8.73585 1.67151 8.73585 1.43449C8.73585 1.19748 8.92773 1.00534 9.16442 1.00534L12.5714 1.00534C12.8081 1.00534 13 1.19748 13 1.43449V4.84614C13 5.08315 12.8081 5.27529 12.5714 5.27529C12.3347 5.27529 12.1429 5.08315 12.1429 4.84614L12.1429 2.47055L7.77468 6.84463Z" stroke="#338AFF" stroke-width="0.5" stroke-linecap="round"/>
          </svg>
        </el-button>
        <template v-else>
          <el-button type="text" v-if="billDetail.seatsUrl" @click="jumpUrl(billDetail.seatsUrl)">
            More Seats Billing Details
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14" fill="none" class="ml-4">
              <path d="M6.53893 1.00126C6.77494 0.983279 6.98082 1.16029 6.99878 1.39662C7.01673 1.63295 6.83996 1.83911 6.60395 1.85709C3.9489 2.05933 1.85714 4.2812 1.85714 6.99188C1.85714 9.83605 4.15968 12.1417 7.00001 12.1417C9.70703 12.1417 11.9259 10.0471 12.1279 7.38848C12.1458 7.15215 12.3517 6.97514 12.5877 6.99312C12.8237 7.01109 13.0005 7.21725 12.9825 7.45358C12.7468 10.5563 10.1586 13 7.00001 13C3.6863 13 1 10.3101 1 6.99188C1 3.82899 3.44044 1.23728 6.53893 1.00126Z" fill="#338AFF"/>
              <path d="M7.77468 6.84463C7.60731 7.01222 7.33596 7.01222 7.16859 6.84463C7.00122 6.67704 7.00122 6.40531 7.16859 6.23772L11.5368 1.86364L9.16442 1.86364C8.92773 1.86364 8.73585 1.67151 8.73585 1.43449C8.73585 1.19748 8.92773 1.00534 9.16442 1.00534L12.5714 1.00534C12.8081 1.00534 13 1.19748 13 1.43449V4.84614C13 5.08315 12.8081 5.27529 12.5714 5.27529C12.3347 5.27529 12.1429 5.08315 12.1429 4.84614L12.1429 2.47055L7.77468 6.84463Z" fill="#338AFF"/>
              <path d="M6.53893 1.00126C6.77494 0.983279 6.98082 1.16029 6.99878 1.39662C7.01673 1.63295 6.83996 1.83911 6.60395 1.85709C3.9489 2.05933 1.85714 4.2812 1.85714 6.99188C1.85714 9.83605 4.15968 12.1417 7.00001 12.1417C9.70703 12.1417 11.9259 10.0471 12.1279 7.38848C12.1458 7.15215 12.3517 6.97514 12.5877 6.99312C12.8237 7.01109 13.0005 7.21725 12.9825 7.45358C12.7468 10.5563 10.1586 13 7.00001 13C3.6863 13 1 10.3101 1 6.99188C1 3.82899 3.44044 1.23728 6.53893 1.00126Z" stroke="#338AFF" stroke-width="0.5" stroke-linecap="round"/>
              <path d="M7.77468 6.84463C7.60731 7.01222 7.33596 7.01222 7.16859 6.84463C7.00122 6.67704 7.00122 6.40531 7.16859 6.23772L11.5368 1.86364L9.16442 1.86364C8.92773 1.86364 8.73585 1.67151 8.73585 1.43449C8.73585 1.19748 8.92773 1.00534 9.16442 1.00534L12.5714 1.00534C12.8081 1.00534 13 1.19748 13 1.43449V4.84614C13 5.08315 12.8081 5.27529 12.5714 5.27529C12.3347 5.27529 12.1429 5.08315 12.1429 4.84614L12.1429 2.47055L7.77468 6.84463Z" stroke="#338AFF" stroke-width="0.5" stroke-linecap="round"/>
            </svg>
          </el-button>
          <el-button type="text" v-if="billDetail.aichatsUrl" @click="jumpUrl(billDetail.aichatsUrl)">
            More AI chat Billing Details
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 14 14" fill="none" class="ml-4">
              <path d="M6.53893 1.00126C6.77494 0.983279 6.98082 1.16029 6.99878 1.39662C7.01673 1.63295 6.83996 1.83911 6.60395 1.85709C3.9489 2.05933 1.85714 4.2812 1.85714 6.99188C1.85714 9.83605 4.15968 12.1417 7.00001 12.1417C9.70703 12.1417 11.9259 10.0471 12.1279 7.38848C12.1458 7.15215 12.3517 6.97514 12.5877 6.99312C12.8237 7.01109 13.0005 7.21725 12.9825 7.45358C12.7468 10.5563 10.1586 13 7.00001 13C3.6863 13 1 10.3101 1 6.99188C1 3.82899 3.44044 1.23728 6.53893 1.00126Z" fill="#338AFF"/>
              <path d="M7.77468 6.84463C7.60731 7.01222 7.33596 7.01222 7.16859 6.84463C7.00122 6.67704 7.00122 6.40531 7.16859 6.23772L11.5368 1.86364L9.16442 1.86364C8.92773 1.86364 8.73585 1.67151 8.73585 1.43449C8.73585 1.19748 8.92773 1.00534 9.16442 1.00534L12.5714 1.00534C12.8081 1.00534 13 1.19748 13 1.43449V4.84614C13 5.08315 12.8081 5.27529 12.5714 5.27529C12.3347 5.27529 12.1429 5.08315 12.1429 4.84614L12.1429 2.47055L7.77468 6.84463Z" fill="#338AFF"/>
              <path d="M6.53893 1.00126C6.77494 0.983279 6.98082 1.16029 6.99878 1.39662C7.01673 1.63295 6.83996 1.83911 6.60395 1.85709C3.9489 2.05933 1.85714 4.2812 1.85714 6.99188C1.85714 9.83605 4.15968 12.1417 7.00001 12.1417C9.70703 12.1417 11.9259 10.0471 12.1279 7.38848C12.1458 7.15215 12.3517 6.97514 12.5877 6.99312C12.8237 7.01109 13.0005 7.21725 12.9825 7.45358C12.7468 10.5563 10.1586 13 7.00001 13C3.6863 13 1 10.3101 1 6.99188C1 3.82899 3.44044 1.23728 6.53893 1.00126Z" stroke="#338AFF" stroke-width="0.5" stroke-linecap="round"/>
              <path d="M7.77468 6.84463C7.60731 7.01222 7.33596 7.01222 7.16859 6.84463C7.00122 6.67704 7.00122 6.40531 7.16859 6.23772L11.5368 1.86364L9.16442 1.86364C8.92773 1.86364 8.73585 1.67151 8.73585 1.43449C8.73585 1.19748 8.92773 1.00534 9.16442 1.00534L12.5714 1.00534C12.8081 1.00534 13 1.19748 13 1.43449V4.84614C13 5.08315 12.8081 5.27529 12.5714 5.27529C12.3347 5.27529 12.1429 5.08315 12.1429 4.84614L12.1429 2.47055L7.77468 6.84463Z" stroke="#338AFF" stroke-width="0.5" stroke-linecap="round"/>
            </svg>
          </el-button>
        </template>
      </div>
    </div>

    <!-- 三方支付窗口 -->
    <Pay ref="payRef" @success="payCallback"></Pay>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import titleComp from "./titleComp.vue";
import Tip from "./Tip.vue";
import Team from "./Team.vue";
import Pay from "./Pay.vue";
export default {
  name:"", // Pascal命名
  mixins: [],
  components: {titleComp, Tip, Team, Pay},
  props: {},
  //import引入的组件需要注入到对象中才能使用
  //这里存放数据
  data() {
    return {
      isLoad: false, // 是否加载数据
      billpaying: null, // 订单支付（订阅）状态 seat/ai
      userStatus: false, // 是否购买（订阅）坐席
      aiStatus: false, // 是否购买（订阅）AI
      // 公司信息
      compnayInfo: {
        companyId: null,
        seatTableId: null,
        seatPublishableKey: null,
        aichatsTableId: null,
        aichatsPublishableKey: null,
        admin: false
      },
      // 产品展示信息
      itemInfo: {
        price: 0,
        sku: "",
        desc: "",
        subInfo: {
          title: "",
          desc: "",
          value: true
        }
      },
      // 账单明细
      billDetail: {

      },
      loading: {
        status: false,
        bill: false,
        prod: false
      }
    };
  },
  computed: {
    ...mapGetters(["token"])
  },
  mounted() {
    this.billpaying = this.$route.query.billpaying;
    this.loadCompanyInfo(); // 加载公司信息
    this.loadStatus(); // 加载订阅状态信息
  },
  //方法集合
  methods: {
    /**
     * 获取新token
     * 订阅后需要重新获取新的token替换旧的token（因为旧的token没有权限访问其他接口了）
     */
    async getAccessToken() {
      const params = { accessToken: this.token };
      let res;
      try {
        res = await window.EWebPlat.platService(window.webClientApiMap.authSso.accessToken, params);
      } catch (error) {
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      this.$store.dispatch("setToken", res.data.accessToken);
    },
    // 加载公司信息
    async loadCompanyInfo() {
      let res;
      try {
        res = await window.EWebPlat.platService(window.webClientApiMap.payBillWeb.compnayInfo);
      } catch (error) {
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      this.compnayInfo = res.data || {};
    },
    // 加载订阅状态信息
    async loadStatus(type) {
      let res;
      try {
        this.loading.status = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.payBillWeb.status);
        this.loading.status = false;
      } catch (error) {
        this.loading.status = false;
        console.error(error);
        this.isLoad = true;
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        this.isLoad = true;
        return;
      }

      const newData = res.data || {};

      this.userStatus = newData.accountSubscriptionStatus;
      this.aiStatus = newData.chatSubscriptionStatus;

      if(this.billpaying === "seat" && !this.userStatus) {
        // 支付中产品为坐席，且查询到未支付。轮询查询状态
        window.setTimeout(()=> {
          this.loadStatus("timer");
        }, 3000);
      } else if(this.billpaying === "ai" && !this.aiStatus) {
        // 支付中产品为ai，且查询到未支付。轮询查询状态
        window.setTimeout(()=> {
          this.loadStatus("timer");
        }, 3000);
      } else {
        type = null; // 清空类型，接下来可以加载数据
      }

      if(type === "timer") {
        // 如果是定时轮询，不加载接下来的数据
        return;
      }

      if(this.billpaying) {
        await this.getAccessToken();
        // 状态已变更，刷新页面
        window.location.href = this.urlRemParamByKey("billpaying");
      }

      // 坐席 和 AI 都没有购买
      if(!this.userStatus && !this.aiStatus) {
        this.loadData(); // 加载商品详情
      } else {
        this.loadSubscriptionList(); // 加载账单明细
      }
    },
    // 加载账单明细
    async loadSubscriptionList() {
      let res;
      try {
        this.loading.bill = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.payBillWeb.subscriptionList);
        this.loading.bill = false;
      } catch (error) {
        this.loading.bill = false;
        console.error(error);
        this.isLoad = true;
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        this.isLoad = true;
        return;
      }

      this.billDetail = res.data || {};
      this.isLoad = true;
    },
    // 加载商品详情
    async loadData() {
      let res;
      try {
        this.loading.prod = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.payBillWeb.detail);
        this.loading.prod = false;
      } catch (error) {
        this.loading.prod = false;
        console.error(error);
        this.isLoad = true;
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        this.isLoad = true;
        return;
      }

      const newData = res.data || {};
      this.itemInfo.price = newData.unitAmount;
      this.itemInfo.sku = newData.interval + " / " + newData.intervalCount;
      this.itemInfo.desc = `Full Feature Access: Only ${newData.unitAmount} per month provides you with our complete suite of premier features.`;
      // this.itemInfo.subInfo.desc = `${newData.chatTotal} Free AI chat per month .6 after`;
      this.itemInfo.subInfo.desc = `$0.60/chat, with ${newData.chatTotal} free chats per month`;
      this.isLoad = true;
    },
    urlRemParamByKey(key, urlStr = window.location.href) {
      const urlSplit = urlStr.split("?");
      let paramList = urlSplit[1].split("&");
      for(let i = 0; i< paramList.length; i++) {
        let item = paramList[i];
        let params = item.split("=");
        if(params[0] === key) {
          paramList.splice(i, 1);
          break;
        }
      }
      return urlSplit[0] + (paramList && paramList.length > 0 ? `?${paramList.join("&")}` : "");
    },
    // 订阅
    submit() {
      if(!this.itemInfo.subInfo.value) {
        this.$refs.tipRef.open();
        return;
      }
      this.$refs.teamRef.open();
    },
    // 未选中，AI机器人提示 回调
    tipCallback(val) {
      if(val) {
        this.itemInfo.subInfo.value = true;
      }
      this.$refs.teamRef.open(val);
    },
    // 选中成员 回调
    teamCallback(val) {
      const params = {
        status: {
          user: true,
          ai: this.itemInfo.subInfo.value
        },
        compnayInfo: this.compnayInfo
      };
      this.$refs.payRef.open(params);
    },
    // 单独购买AI机器人
    buyAiChat() {
      const params = {
        status: {
          user: false,
          ai: true
        },
        compnayInfo: this.compnayInfo
      };
      this.$refs.payRef.open(params);
    },
    // 支付 回调
    payCallback() {
      // this.loadStatus();
    },
    jumpUrl(url) {
      window.open(url);
    }
  }
};
</script>
<style lang='scss' scoped>
.billing {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  .el-button.is-disabled {
    background-color: #EEF3F8;
    border-color: #EEF3F8;
  }
  .card-item {
    border-radius: 8px;
    border: 1px solid #F1F1F1;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
    .item-top {
      .item-price {
        color: #333;
        font-size: 38px;
        font-weight: 700;
        line-height: 38px;
      }
      .item-sku {
        color: #848492;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
    }
    .item-desc {
      color: #666;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    .item-sub {
      border-top: 1px solid #DCDFE6;
      &-title {
        color: #333;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }
      &-desc {
        color: #848492;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
      ::v-deep .el-checkbox .el-checkbox__inner {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        &::after {
          top: 3px;
          left: 7px;
        }
      }
    }
    .el-button {
      height: 42px;
    }
  }
  .buy-chat-btn {
    background-color: #333;
    color: white;
    border-radius: 4px;
    border-color: #333;
  }
  .detail {
    &-sub-title {
      color: #101828;
      font-size: 16px;
      font-weight: 500;
    }
    &-info {
      color: #333;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    &-table {
      color: #333;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      .pay-status {
        background-color: #ECFDF3;
        border-radius: 4px;
        line-height: 18px;
        color: #027A48;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
      }
    }
    .el-button + .el-button {
      margin-left: 52px;
    }
    ::v-deep .el-button span {
      display: flex;
      align-items: center;
    }
  }
}
</style>