<template>
  <el-dialog :visible="visible" width="288px" append-to-body custom-class="billding-team">
    <button class="el-icon-close close-btn" @click="close"></button>
    <div ref="payRef" style="height: 420px; width: 288px;"></div>
  </el-dialog>
</template>

<script>
export default {
  data() {
    return {
      visible: false,
      scriptEl: null
    };
  },
  mounted() {},
  //方法集合
  methods: {
    open({ status, compnayInfo }) {
      this.visible = true;
      this.$nextTick(()=> {
        const el = this.$refs.payRef;
        const scriptEl = document.createElement("script");
        scriptEl.src="https://js.stripe.com/v3/pricing-table.js";
        this.scriptEl = scriptEl;
        document.body.appendChild(scriptEl);
        const { companyId, aichatsPublishableKey, aichatsTableId, seatPublishableKey, seatTableId } = compnayInfo;
        const { ai, user } = status;


        let pricingTableId;
        let publishableKey;
        if(user) {
          // 购买（订阅）坐席的情况下，直接带入坐席的商品信息。
          // （后台会根据 clientReferenceId 是否为 1 判断是否购买 AI 产品， 未 0 表示单独购买坐席产品）
          pricingTableId = seatTableId;
          publishableKey = seatPublishableKey;
        } else if(ai) {
          // 购买（订阅）AI的情况下，直接带入AI的商品信息。clientReferenceId 为 0
          pricingTableId = aichatsTableId;
          publishableKey = aichatsPublishableKey;
        }

        const clientReferenceId = companyId +"-"+ (ai && user ? 1 : 0);
        if(el) {
          el.innerHTML = `
            <stripe-pricing-table
              pricing-table-id="${pricingTableId}"
              publishable-key="${publishableKey}"
              client-reference-id="${clientReferenceId}">
            </stripe-pricing-table>
          `;

          // this.test(status);
        }
      });
    },
    // // 轮询查询状态
    // async test({ user, ai }) {
    //   let res;
    //   try {
    //     res = await window.EWebPlat.platService(window.webClientApiMap.payBillWeb.status);
    //   } catch (error) {
    //     console.error(error);
    //     return;
    //   }

    //   if(!res || res.code !== 0) {
    //     this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
    //     return;
    //   }

    //   const newData = res.data || {};
    //   if(user && ai && newData.accountSubscriptionStatus && newData.chatSubscriptionStatus) {
    //     // 打包购买
    //     this.$emit("success");
    //     this.close();
    //   } else if(user && newData.accountSubscriptionStatus) {
    //     // 人工
    //     this.$emit("success");
    //     this.close();
    //   } else if(ai && newData.chatSubscriptionStatus) {
    //     // AI
    //     this.$emit("success");
    //     this.close();
    //   } else {
    //     window.setTimeout(()=> {
    //       this.test({ user, ai });
    //     }, 5000);
    //   }
    // },
    close() {
      const el = this.$refs.payRef;
      el.innerHTML = "";
      if(this.scriptEl) {
        this.scriptEl.remove();
      }
      this.visible = false;
    }
  }
};
</script>
<style lang='scss' scoped>
::v-deep .billding-team {
  border-radius: 8px;
  .el-dialog__header {
    display: none;
  }
  .el-dialog__body {
    // padding: 24px 32px;
    padding: 0;
  }
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  border: none;
  background: none;
}
</style>