<template>
  <el-dialog :visible="visible" width="541px" append-to-body :show-close="false" custom-class="billding-team">
    <div class="team-title p-24">Select your team</div>
    <div class="team-list" v-loading="loading.list">
      <!-- <el-button type="text" @click="value = teamList.map(item=> item.userId)">all(测试使用后续删除)</el-button> -->
      <el-empty description="Not Data" v-if="!teamList || teamList.length === 0"></el-empty>
      <el-checkbox-group v-else v-model="value" @change="checkboxChange">
        <div class="team-item plr-32 ptb-16 flex ai-center" v-for="item in teamList" :key="item.userId">
          <el-checkbox :label="item.userId" class="mr-16"></el-checkbox>
          <el-avatar size="32px" fit="fill" :src="item.headUrl"> {{ item.headUrl ? "" : formatAvatarText(item.userName) }} </el-avatar>
          <div class="ml-12 flex-1 pr-20">
            <div class="item-name">{{ item.userName }}</div>
            <div class="item-email">{{ item.bindMail }}</div>
          </div>
          <div class="item-role w-120 ml-8 plr-20">{{ item.roleName }}</div>
        </div>
      </el-checkbox-group>
    </div>
    <div class="ptb-24 plr-32 flex ai-center" style="border-top: 1px solid #DCDFE6; justify-content: space-between;">
      <div class="select-all">
        <el-checkbox class="mr-10" :indeterminate="isIndeterminate" v-model="checkAll" @change="checkAllChange"></el-checkbox>
        Select All
      </div>
      <div>
        <el-button size="default" type="default" style="width: 122px;" @click="close" :disabled="submitLoading.confirmButtonLoading">Cancel</el-button>
        <el-button size="default" type="primary" style="width: 122px;" @click="submit" :disabled="value.length === 0"
          :loading="submitLoading.confirmButtonLoading">Confirm</el-button>
      </div>
    </div>
  </el-dialog>
</template>

<script>
//例如：import 《组件名称》 from '《组件路径》';

export default {
  name:"", // Pascal命名
  mixins: [],
  components: {},
  props: {},
  //import引入的组件需要注入到对象中才能使用
  //这里存放数据
  data() {
    return {
      visible: false,
      loading: {
        list: false
      },
      checkAll: false,
      isIndeterminate: false,
      teamList: [],
      value: [],
      submitLoading: {
        confirmButtonLoading: false
      }
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {
  // 对象写法
  // temObj: {
  //   handler(newVal, oldVal) {
  //   },
  //   deep: true, // 深度
  //   immediate: true, // 立即执行
  // },
  // temStr(val) {
  // },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  beforeCreate() {}, //生命周期 - 创建之前
  created() {

  },
  //生命周期 - 挂载完成（可以访问DOM元素）
  beforeMount() {}, //生命周期 - 挂载之前
  mounted() {},
  //方法集合
  methods: {
    checkAllChange(val) {
      this.value = val ? this.teamList.map(item => item.userId) : [];
      this.isIndeterminate = false;
    },
    checkboxChange(value) {
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.teamList.length;
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.teamList.length;
    },
    async loadData() {
      let res;
      try {
        this.loading.list = true;
        res = await window.EWebPlat.platService(window.webClientApiMap.authEupms.manualUserList);
        this.loading.list = false;
      } catch (error) {
        this.loading.list = false;
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }

      this.teamList = res.data || [];
    },
    async removeUtil() {
      const params = { userIds: [] };
      let res;
      try {
        res = await window.EWebPlat.platService(window.webClientApiMap.authEupms.reservedUser, params);
      } catch (error) {
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }
    },
    open() {
      this.loadData();
      this.visible = true;
    },
    formatAvatarText(name) {
      if(!name) {
        return "";
      }
      return name.split(" ").map(item=> item.slice(0, 1)).join("");
    },
    submit() {
      if(this.value.length === 0) {
        this.$message.info("Please choose user");
        return;
      }

      const users = this.teamList.filter(item => !this.value.includes(item.userId));
      const params = { userIds: users.map(item=> item.userId) };

      // 没有要删除的用户
      if(this.teamList.length === this.value.length) {
        this.actionFun(params, this.submitLoading);
        return;
      }

      // 存在要删除的用户
      const userIdsStr = users.map(item=> item.userName).join("、");
      const h = this.$createElement;
      this.$msgbox({
        title: "",
        message: h("p", null, [
          h("span", null, "Are you sure you want to remove: "),
          h("span", { style: "font-weight: 500;" }, userIdsStr),
          h("span", null, " from your team? ")
        ]),
        showClose: false,
        showCancelButton: true,
        confirmButtonText: "Yes, Remove",
        cancelButtonText: "No, Keep",
        confirmButtonClass: "remove-btn",
        beforeClose: async (action, instance, done) => {
          if (action === "confirm") {
            this.actionFun(params, instance, done);
          } else {
            done();
          }
        }
      }).then(action => {
        this.close();
      });
    },
    async actionFun(params, instance, callback) {
      let res;
      try {
        instance.confirmButtonLoading = true;
        instance.confirmButtonText = "paying...";
        res = await window.EWebPlat.platService(window.webClientApiMap.authEupms.reservedUser, params);
        instance.confirmButtonLoading = false;
      } catch (error) {
        instance.confirmButtonLoading = false;
        console.error(error);
        return;
      }

      if(!res || res.code !== 0) {
        this.$message.error(res?.msg || this.$ELCONFIG.chat.chatContent.requestResponseTips);
        return;
      }
      callback && callback();
      this.$emit("success");
    },
    close() {
      this.visible = false;
      this.teamList = [];
      this.value = [];
    }
  },
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {} //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang='scss' scoped>
//@import url(); 引入公共css类
::v-deep .billding-team {
  border-radius: 8px;
  .el-dialog__header {
    display: none;
  }
  .el-dialog__body {
    // padding: 24px 32px;
    padding: 0;
  }
}
.team-title {
  color: #333;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.team-list {
  & * {
    box-sizing: border-box;
  }
  max-height: 400px;
  min-height: 300px;
  overflow-y: auto;
  .team-item {
    .item-img {
      border-radius: 16px;
    }
    .item-name {
      color: #101828;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    .item-email {
      color: #666;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
    }
    .item-role {
      color: #333;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
.select-all {
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
::v-deep .el-checkbox {
  .el-checkbox__inner {
    width: 16px;
    height: 16px;
    &::after {
      left: 5px;
      top: 2px;
    }
  }
  .el-checkbox__label {
    display: none;
  }
}

::v-deep .el-avatar>img {
  width: 100%;
}
</style>
<style lang="scss">
.el-message-box {
  border-radius: 12px;
  padding: 0;

  .el-message-box__header {

    .el-message-box__title {
      font-size: 20px;
      line-height: 20px;
      font-weight: 500;
    }

    .el-message-box__headerbtn {
      top: 24px;
      right: 20px;
    }
  }

  .el-message-box__content {
    padding: 0 24px 0;

    .el-message-box__container {
      padding-bottom: 28px;

      .el-message-box__status {
        font-size: 20px !important;
        top: 10px;
      }

      p {
        font-size: 16px;
        line-height: 20px;
      }
    }

    .el-message-box__input {
      padding: 0 0 2px;

      .el-input__inner {
        border-width: 1.5px;
      }
    }
  }

  .el-message-box__btns {
    padding: 0 24px 24px;
    .remove-btn {
      background-color: #F3413C;
      border-color: #F3413C;
    }

    .el-button {
      border-radius: 4px;
      height: 40px;
      font-size: 14px;
      font-weight: 500;
      min-width: 94px;
    }
  }
}
</style>