<template>
  <el-dialog :visible="visible" width="442px" append-to-body :show-close="false" custom-class="billding-tip">
    <div class="tip-title">Make sure to subscribe to AI Chats!</div>
    <div class="tip-sub-title mt-6">Here's what you might be missing</div>
    <div class="tip-hot mt-20 flex flex-wrap">
      <div class="tip-hot-item ptb-10 flex ai-center" v-for="item in tips" :key="item">
        <svg class="mr-14" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <circle cx="10" cy="10" r="10" fill="#D6E7F9"/>
          <path d="M6.36353 10.5462L8.60129 12.728L13.6363 7.27344" stroke="#338AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        {{item}}
      </div>
    </div>
    <el-button size="default" type="primary" style="width: 100%;" class="mt-24 h-42" @click="submit(true)">Yes, Subscribe</el-button>
    <el-button size="default" type="text" style="width: 100%; color: #F3413C;" class="ml-0 h-42" @click="submit(false)">I'm good no AI Chats</el-button>
  </el-dialog>
</template>

<script>
export default {
  data() {
    return {
      visible: false,
      tips: [
        "300 AI Chats",
        "Website Scraper",
        "Ai Customization",
        "Bot Customization",
        "Document Upload",
        "Auto Response"
      ]
    };
  },
  //方法集合
  methods: {
    open() {
      this.visible = true;
    },
    submit(val) {
      this.$emit("success", val);
      this.close();
    },
    close() {
      this.visible = false;
    }
  }
};
</script>
<style lang='scss' scoped>
::v-deep .billding-tip {
  border-radius: 8px;
  .el-dialog__header {
    display: none;
  }
  .el-dialog__body {
    padding: 24px 32px;
  }
}
.tip-title {
  color: #101828;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.tip-sub-title {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.tip-hot {
  flex-wrap: wrap;
  &-item {
    width: 50%;
    color: #333;
    font-size: 16px;
    font-weight: 400;
  }
}
</style>