<template>
  <div class="h-72 plr-20 pt-28 pb-18 flex ai-center" style="justify-content: space-between;">
    <div style="font-weight: 500; color: #101828; font-size: 22px;">{{title}}</div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      default: ""
    }
  },
  data() {
    return { };
  }
};
</script>
<style lang='scss' scoped>

</style>